.document-preview {
  padding: $padding-8x $padding-5x;
  background: $color-white;
  box-shadow: $shadow-1;

  .document-preview-title {
    border-bottom: 1px solid $border-color;
    text-align: center;
    padding-bottom: $padding-3x;

    h1 {
      color: $text-color;
      font-size: $text-size-lg;
      margin: 0;
    }

    div {
      font-size: $text-size;
      color: $text-color-light;
      line-height: $line-height;
      font-weight: $text-weight;
      margin-top: $margin-5x;
    }
  }

  .document-preview-content {
    border-bottom: 1px solid $border-color-light;
    padding-bottom: $padding-5x;

    .preview-content-desc {
      padding-left: $padding-5x;

      .preview-content-paragraph {
        margin: $margin 0;
      }

      h2 {
        font-size: $text-size-md;
        color: $text-color;
      }

      h2:first-child {
        margin-top: $margin-5x;
      }

      h2:not(:first-child) {
        margin-top: $margin-3x;
      }

      p {
        font-size: $text-size-sm;
        color: $text-color;
        line-height: $line-height;
        font-weight: $text-weight;
        margin: 0;
      }
    }
  }

  .document-preview-content_file {
    padding: 0 $padding-5x $padding-5x;

    p,
    h3 {
      font-size: $text-size;
      color: $text-color-light;
      font-weight: $text-weight;
    }

    h3 {
      margin-top: $margin;
    }

    p {
      margin-top: $margin-2x;
    }
  }
}
