@font-face {
  font-family: "cute-icons"; /* Project id 3310364 */
  src: url('iconfont.woff2?t=1670227460747') format('woff2'),
       url('iconfont.woff?t=1670227460747') format('woff'),
       url('iconfont.ttf?t=1670227460747') format('truetype');
}
[class*=' cute-icon-'],
[class^='cute-icon-'] {
  font-family: 'cute-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cute-icons {
  font-family: "cute-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cute-icon-tianyiyunquselogodaizi:before {
  content: "\eba6";
}

.cute-icon-bold:before {
  content: "\eba1";
}

.cute-icon-italic:before {
  content: "\eba2";
}

.cute-icon-clear:before {
  content: "\eba3";
}

.cute-icon-not-selected:before {
  content: "\eba4";
}

.cute-icon-selected:before {
  content: "\eba5";
}

.cute-icon-fill:before {
  content: "\eb9f";
}

.cute-icon-remarks:before {
  content: "\eba0";
}

.cute-icon-tianyiyunquseyunlogo:before {
  content: "\eb87";
}

.cute-icon-a-safetycertificate:before {
  content: "\eb9e";
}

.cute-icon-plus-square:before {
  content: "\eb9b";
}

.cute-icon-pull:before {
  content: "\eb9c";
}

.cute-icon-ellipsis-square:before {
  content: "\eb9d";
}

.cute-icon-manage-fill:before {
  content: "\eb99";
}

.cute-icon-manage:before {
  content: "\eb9a";
}

.cute-icon-develop:before {
  content: "\eb97";
}

.cute-icon-develop-fill:before {
  content: "\eb98";
}

.cute-icon-data-screen:before {
  content: "\eb8a";
}

.cute-icon-data-screen-fill:before {
  content: "\eb96";
}

.cute-icon-automation-fill:before {
  content: "\eb41";
}

.cute-icon-automation:before {
  content: "\eb86";
}

.cute-icon-big-data-screen:before {
  content: "\eb89";
}

.cute-icon-data-analysis:before {
  content: "\eb8b";
}

.cute-icon-project-management-fill:before {
  content: "\eb8d";
}

.cute-icon-monitor-fill:before {
  content: "\eb8f";
}

.cute-icon-project-management:before {
  content: "\eb90";
}

.cute-icon-data-analysis-fill:before {
  content: "\eb91";
}

.cute-icon-yarn-queue-fill:before {
  content: "\eb92";
}

.cute-icon-kubernetes-fill:before {
  content: "\eb93";
}

.cute-icon-yarn-queue:before {
  content: "\eb94";
}

.cute-icon-kubernetes:before {
  content: "\eb95";
}

.cute-icon-streamsql:before {
  content: "\eb8e";
}

.cute-icon-gift:before {
  content: "\eb53";
}

.cute-icon-assets:before {
  content: "\eb48";
}

.cute-icon-datamodel:before {
  content: "\eb88";
}

.cute-icon-datawarehouse:before {
  content: "\eb8c";
}

.cute-icon-like-fill:before {
  content: "\eaf8";
}

.cute-icon-unlike-fill:before {
  content: "\eafe";
}

.cute-icon-clothes:before {
  content: "\eb85";
}

.cute-icon-cigarette:before {
  content: "\eb73";
}

.cute-icon-clothes-fill:before {
  content: "\eb74";
}

.cute-icon-electron-fence:before {
  content: "\eb75";
}

.cute-icon-business:before {
  content: "\eb76";
}

.cute-icon-client-router:before {
  content: "\eb77";
}

.cute-icon-undefined:before {
  content: "\eb78";
}

.cute-icon-left-times:before {
  content: "\eb79";
}

.cute-icon-ipc-fill:before {
  content: "\eb7a";
}

.cute-icon-trade:before {
  content: "\eb7b";
}

.cute-icon-helmet:before {
  content: "\eb7c";
}

.cute-icon-mask:before {
  content: "\eb7d";
}

.cute-icon-task:before {
  content: "\eb7e";
}

.cute-icon-ipc1:before {
  content: "\eb7f";
}

.cute-icon-nowarn:before {
  content: "\eb80";
}

.cute-icon-location:before {
  content: "\eb81";
}

.cute-icon-zone:before {
  content: "\eb82";
}

.cute-icon-group1:before {
  content: "\eb83";
}

.cute-icon-face:before {
  content: "\eb84";
}

.cute-icon-ellipsis:before {
  content: "\ea90";
}

.cute-icon-indent:before {
  content: "\ea91";
}

.cute-icon-file-add:before {
  content: "\ea92";
}

.cute-icon-eye-close-fill:before {
  content: "\ea93";
}

.cute-icon-enter:before {
  content: "\ea94";
}

.cute-icon-index:before {
  content: "\ea95";
}

.cute-icon-file-add-fill:before {
  content: "\ea96";
}

.cute-icon-interation-fill:before {
  content: "\ea97";
}

.cute-icon-export:before {
  content: "\ea98";
}

.cute-icon-forward:before {
  content: "\ea99";
}

.cute-icon-fast-forward:before {
  content: "\ea9a";
}

.cute-icon-eye:before {
  content: "\ea9b";
}

.cute-icon-layout:before {
  content: "\ea9c";
}

.cute-icon-file-exclamation:before {
  content: "\ea9d";
}

.cute-icon-download:before {
  content: "\ea9e";
}

.cute-icon-folder-add-fill:before {
  content: "\ea9f";
}

.cute-icon-field-time:before {
  content: "\eaa0";
}

.cute-icon-file-text:before {
  content: "\eaa1";
}

.cute-icon-guide:before {
  content: "\eaa2";
}

.cute-icon-line-chart:before {
  content: "\eaa3";
}

.cute-icon-file-text-fill:before {
  content: "\eaa4";
}

.cute-icon-layout-fill:before {
  content: "\eaa5";
}

.cute-icon-education:before {
  content: "\eaa6";
}

.cute-icon-file-done:before {
  content: "\eaa7";
}

.cute-icon-inconsistent-fill:before {
  content: "\eaa8";
}

.cute-icon-message-fill:before {
  content: "\eaa9";
}

.cute-icon-highlight-fill:before {
  content: "\eaaa";
}

.cute-icon-plus-circle-fill:before {
  content: "\eaab";
}

.cute-icon-left-circle-fill:before {
  content: "\eaac";
}

.cute-icon-heart:before {
  content: "\eaad";
}

.cute-icon-file-fill:before {
  content: "\eaae";
}

.cute-icon-phone:before {
  content: "\eaaf";
}

.cute-icon-mail:before {
  content: "\eab0";
}

.cute-icon-folder-open-fill:before {
  content: "\eab1";
}

.cute-icon-location-fill:before {
  content: "\eab2";
}

.cute-icon-Partition:before {
  content: "\eab3";
}

.cute-icon-folder-open:before {
  content: "\eab4";
}

.cute-icon-inconsistent:before {
  content: "\eab5";
}

.cute-icon-fall:before {
  content: "\eab6";
}

.cute-icon-file-exception:before {
  content: "\eab7";
}

.cute-icon-folder-view:before {
  content: "\eab8";
}

.cute-icon-home-fill:before {
  content: "\eab9";
}

.cute-icon-minus:before {
  content: "\eaba";
}

.cute-icon-highlight:before {
  content: "\eabb";
}

.cute-icon-loading:before {
  content: "\eabc";
}

.cute-icon-fire:before {
  content: "\eabd";
}

.cute-icon-id-card-fill:before {
  content: "\eabe";
}

.cute-icon-login:before {
  content: "\eabf";
}

.cute-icon-file-copy-fill:before {
  content: "\eac0";
}

.cute-icon-poweroff-circle-fill:before {
  content: "\eac1";
}

.cute-icon-issues-close:before {
  content: "\eac2";
}

.cute-icon-outdent:before {
  content: "\eac3";
}

.cute-icon-question:before {
  content: "\eac4";
}

.cute-icon-eye-close:before {
  content: "\eac5";
}

.cute-icon-file-protect:before {
  content: "\eac6";
}

.cute-icon-check:before {
  content: "\eac7";
}

.cute-icon-file-exclamation-fil:before {
  content: "\eac8";
}

.cute-icon-fast-backward:before {
  content: "\eac9";
}

.cute-icon-mail-fill:before {
  content: "\eaca";
}

.cute-icon-compress:before {
  content: "\eacb";
}

.cute-icon-mini-camera:before {
  content: "\eacc";
}

.cute-icon-select:before {
  content: "\eacd";
}

.cute-icon-id-card:before {
  content: "\eace";
}

.cute-icon-lock:before {
  content: "\eacf";
}

.cute-icon-project:before {
  content: "\ead0";
}

.cute-icon-same:before {
  content: "\ead1";
}

.cute-icon-pie-chart:before {
  content: "\ead2";
}

.cute-icon-minus-circle-fill:before {
  content: "\ead3";
}

.cute-icon-signal-fill:before {
  content: "\ead4";
}

.cute-icon-setting-fill:before {
  content: "\ead5";
}

.cute-icon-power-off:before {
  content: "\ead6";
}

.cute-icon-QQ:before {
  content: "\ead7";
}

.cute-icon-phone-fill:before {
  content: "\ead8";
}

.cute-icon-sever-fill:before {
  content: "\ead9";
}

.cute-icon-save-fill:before {
  content: "\eada";
}

.cute-icon-file:before {
  content: "\eadb";
}

.cute-icon-play-circle-fill:before {
  content: "\eadc";
}

.cute-icon-question-circle-fill:before {
  content: "\eadd";
}

.cute-icon-hourglass-fill:before {
  content: "\eade";
}

.cute-icon-step-backward:before {
  content: "\eadf";
}

.cute-icon-left-square-fill:before {
  content: "\eae0";
}

.cute-icon-file-sync:before {
  content: "\eae1";
}

.cute-icon-shortcut:before {
  content: "\eae2";
}

.cute-icon-play-circle:before {
  content: "\eae3";
}

.cute-icon-scan:before {
  content: "\eae4";
}

.cute-icon-security-scan-fill:before {
  content: "\eae5";
}

.cute-icon-file-pdf-fill:before {
  content: "\eae6";
}

.cute-icon-setting:before {
  content: "\eae7";
}

.cute-icon-question-circle:before {
  content: "\eae8";
}

.cute-icon-shopping:before {
  content: "\eae9";
}

.cute-icon-file-image-fill:before {
  content: "\eaea";
}

.cute-icon-radar-chart:before {
  content: "\eaeb";
}

.cute-icon-minus-square-fill:before {
  content: "\eaec";
}

.cute-icon-sync:before {
  content: "\eaed";
}

.cute-icon-search:before {
  content: "\eaee";
}

.cute-icon-stop:before {
  content: "\eaef";
}

.cute-icon-stored-procedure:before {
  content: "\eaf0";
}

.cute-icon-step-forward:before {
  content: "\eaf1";
}

.cute-icon-unlock:before {
  content: "\eaf2";
}

.cute-icon-shrink:before {
  content: "\eaf3";
}

.cute-icon-trophy-fill:before {
  content: "\eaf4";
}

.cute-icon-like:before {
  content: "\eaf5";
}

.cute-icon-pushpin:before {
  content: "\eaf6";
}

.cute-icon-timeline:before {
  content: "\eaf7";
}

.cute-icon-tag-fill:before {
  content: "\eaf9";
}

.cute-icon-unlock-fill:before {
  content: "\eafa";
}

.cute-icon-pause:before {
  content: "\eafb";
}

.cute-icon-play-square-fill:before {
  content: "\eafc";
}

.cute-icon-project-fill:before {
  content: "\eafd";
}

.cute-icon-minus-circle:before {
  content: "\eaff";
}

.cute-icon-fund:before {
  content: "\eb00";
}

.cute-icon-stop-fill:before {
  content: "\eb01";
}

.cute-icon-left-square:before {
  content: "\eb02";
}

.cute-icon-time-out:before {
  content: "\eb03";
}

.cute-icon-swap:before {
  content: "\eb04";
}

.cute-icon-share-fill:before {
  content: "\eb05";
}

.cute-icon-fund-fill:before {
  content: "\eb06";
}

.cute-icon-pie-chart-circle-fil:before {
  content: "\eb07";
}

.cute-icon-folder-add:before {
  content: "\eb08";
}

.cute-icon-image-fill:before {
  content: "\eb09";
}

.cute-icon-stock:before {
  content: "\eb0a";
}

.cute-icon-table:before {
  content: "\eb0b";
}

.cute-icon-video-camera-add:before {
  content: "\eb0c";
}

.cute-icon-single:before {
  content: "\eb0d";
}

.cute-icon-usb-fill:before {
  content: "\eb0e";
}

.cute-icon-read-fill:before {
  content: "\eb0f";
}

.cute-icon-lock-fill:before {
  content: "\eb10";
}

.cute-icon-upload:before {
  content: "\eb11";
}

.cute-icon-wrench-fill:before {
  content: "\eb12";
}

.cute-icon-area-chart:before {
  content: "\ea13";
}

.cute-icon-share:before {
  content: "\eb13";
}

.cute-icon-aim:before {
  content: "\ea14";
}

.cute-icon-vertical-left:before {
  content: "\eb14";
}

.cute-icon-api-fill:before {
  content: "\ea15";
}

.cute-icon-left-circle:before {
  content: "\eb15";
}

.cute-icon-alert-fill:before {
  content: "\ea16";
}

.cute-icon-link:before {
  content: "\eb16";
}

.cute-icon-app-store-fill:before {
  content: "\ea17";
}

.cute-icon-redo:before {
  content: "\eb17";
}

.cute-icon-ai-face:before {
  content: "\ea18";
}

.cute-icon-printer-fill:before {
  content: "\eb18";
}

.cute-icon-arrawsalt:before {
  content: "\ea19";
}

.cute-icon-save:before {
  content: "\eb19";
}

.cute-icon-app-store:before {
  content: "\ea1a";
}

.cute-icon-verified:before {
  content: "\eb1a";
}

.cute-icon-arrow-up:before {
  content: "\ea1b";
}

.cute-icon-report:before {
  content: "\eb1b";
}

.cute-icon-backward:before {
  content: "\ea1c";
}

.cute-icon-send:before {
  content: "\eb1c";
}

.cute-icon-audit:before {
  content: "\ea1d";
}

.cute-icon-retweet:before {
  content: "\eb1d";
}

.cute-icon-bell-fill:before {
  content: "\ea1e";
}

.cute-icon-reload:before {
  content: "\eb1e";
}

.cute-icon-async:before {
  content: "\ea1f";
}

.cute-icon-unlike:before {
  content: "\eb1f";
}

.cute-icon-arrow-left:before {
  content: "\ea20";
}

.cute-icon-team-fill:before {
  content: "\eb20";
}

.cute-icon-bar-chart:before {
  content: "\ea21";
}

.cute-icon-left:before {
  content: "\eb21";
}

.cute-icon-arrow-down:before {
  content: "\ea22";
}

.cute-icon-reload-time:before {
  content: "\eb22";
}

.cute-icon-build:before {
  content: "\ea23";
}

.cute-icon-point-map:before {
  content: "\eb23";
}

.cute-icon-a-1v1:before {
  content: "\ea24";
}

.cute-icon-wrench:before {
  content: "\eb24";
}

.cute-icon-auto-play:before {
  content: "\ea25";
}

.cute-icon-wallet-fill:before {
  content: "\eb25";
}

.cute-icon-audio-static:before {
  content: "\ea26";
}

.cute-icon-swap-left:before {
  content: "\eb26";
}

.cute-icon-block:before {
  content: "\ea27";
}

.cute-icon-team:before {
  content: "\eb27";
}

.cute-icon-appstore-add:before {
  content: "\ea28";
}

.cute-icon-vertical-align-top:before {
  content: "\eb28";
}

.cute-icon-build-fill:before {
  content: "\ea29";
}

.cute-icon-ungroup:before {
  content: "\eb29";
}

.cute-icon-camera-fill:before {
  content: "\ea2a";
}

.cute-icon-sort-ascending:before {
  content: "\eb2a";
}

.cute-icon-caret-down:before {
  content: "\ea2b";
}

.cute-icon-star-fill:before {
  content: "\eb2b";
}

.cute-icon-calendar:before {
  content: "\ea2c";
}

.cute-icon-small-down:before {
  content: "\eb2c";
}

.cute-icon-calendar-fill:before {
  content: "\ea2d";
}

.cute-icon-reconciliation:before {
  content: "\eb2d";
}

.cute-icon-bulb-fill:before {
  content: "\ea2e";
}

.cute-icon-small-dash:before {
  content: "\eb2e";
}

.cute-icon-camera:before {
  content: "\ea2f";
}

.cute-icon-vertical-right:before {
  content: "\eb2f";
}

.cute-icon-bug-fill:before {
  content: "\ea30";
}

.cute-icon-view:before {
  content: "\eb30";
}

.cute-icon-bulb:before {
  content: "\ea31";
}

.cute-icon-small-left:before {
  content: "\eb31";
}

.cute-icon-arrow-right:before {
  content: "\ea32";
}

.cute-icon-warning-circle:before {
  content: "\eb32";
}

.cute-icon-branches:before {
  content: "\ea33";
}

.cute-icon-sever:before {
  content: "\eb33";
}

.cute-icon-cloud-fill:before {
  content: "\ea34";
}

.cute-icon-gateway:before {
  content: "\eb34";
}

.cute-icon-cart-empty-fill:before {
  content: "\ea35";
}

.cute-icon-user:before {
  content: "\eb35";
}

.cute-icon-calculator:before {
  content: "\ea36";
}

.cute-icon-read:before {
  content: "\eb36";
}

.cute-icon-cart-empty:before {
  content: "\ea37";
}

.cute-icon-file-search:before {
  content: "\eb37";
}

.cute-icon-close-square-fill:before {
  content: "\ea38";
}

.cute-icon-tags:before {
  content: "\eb38";
}

.cute-icon-api:before {
  content: "\ea39";
}

.cute-icon-warning-circle-fill:before {
  content: "\eb39";
}

.cute-icon-calculator-fill:before {
  content: "\ea3a";
}

.cute-icon-right-circle:before {
  content: "\eb3a";
}

.cute-icon-close-square:before {
  content: "\ea3b";
}

.cute-icon-right-circle-fill:before {
  content: "\eb3b";
}

.cute-icon-close:before {
  content: "\ea3c";
}

.cute-icon-pushpin-fill:before {
  content: "\eb3c";
}

.cute-icon-caret-up:before {
  content: "\ea3d";
}

.cute-icon-plus:before {
  content: "\eb3d";
}

.cute-icon-attachment:before {
  content: "\ea3e";
}

.cute-icon-time-circle:before {
  content: "\eb3e";
}

.cute-icon-calendar-check-fill:before {
  content: "\ea3f";
}

.cute-icon-wechat-fill:before {
  content: "\eb3f";
}

.cute-icon-code-library-fill:before {
  content: "\ea40";
}

.cute-icon-right-square-fill:before {
  content: "\eb40";
}

.cute-icon-combine:before {
  content: "\ea41";
}

.cute-icon-component-fill:before {
  content: "\ea42";
}

.cute-icon-menu:before {
  content: "\eb42";
}

.cute-icon-bell:before {
  content: "\ea43";
}

.cute-icon-thunderbolt-fill:before {
  content: "\eb43";
}

.cute-icon-caret-left:before {
  content: "\ea44";
}

.cute-icon-right:before {
  content: "\eb44";
}

.cute-icon-cluster:before {
  content: "\ea45";
}

.cute-icon-swap-right:before {
  content: "\eb45";
}

.cute-icon-crown-fill:before {
  content: "\ea46";
}

.cute-icon-tag:before {
  content: "\eb46";
}

.cute-icon-container-fill:before {
  content: "\ea47";
}

.cute-icon-time-circle-fill:before {
  content: "\eb47";
}

.cute-icon-border:before {
  content: "\ea48";
}

.cute-icon-dashboard-fill:before {
  content: "\ea49";
}

.cute-icon-to-top:before {
  content: "\eb49";
}

.cute-icon-check-circle-fill:before {
  content: "\ea4a";
}

.cute-icon-logout:before {
  content: "\eb4a";
}

.cute-icon-check-square:before {
  content: "\ea4b";
}

.cute-icon-sound:before {
  content: "\eb4b";
}

.cute-icon-carry-out-fill:before {
  content: "\ea4c";
}

.cute-icon-property-safety-fill:before {
  content: "\eb4c";
}

.cute-icon-contacts-fill:before {
  content: "\ea4d";
}

.cute-icon-thunderbolt:before {
  content: "\eb4d";
}

.cute-icon-dash:before {
  content: "\ea4e";
}

.cute-icon-vertical-align-bottom:before {
  content: "\eb4e";
}

.cute-icon-close-circle:before {
  content: "\ea4f";
}

.cute-icon-wallet:before {
  content: "\eb4f";
}

.cute-icon-bug:before {
  content: "\ea50";
}

.cute-icon-interation:before {
  content: "\eb50";
}

.cute-icon-cloud:before {
  content: "\ea51";
}

.cute-icon-golden-fill:before {
  content: "\eb51";
}

.cute-icon-cloud-upload:before {
  content: "\ea52";
}

.cute-icon-ordered-list:before {
  content: "\eb52";
}

.cute-icon-code:before {
  content: "\ea53";
}

.cute-icon-compass-fill:before {
  content: "\ea54";
}

.cute-icon-plus-circle:before {
  content: "\eb54";
}

.cute-icon-colum-height:before {
  content: "\ea55";
}

.cute-icon-up-square-fill:before {
  content: "\eb55";
}

.cute-icon-customer-service:before {
  content: "\ea56";
}

.cute-icon-heart-fill:before {
  content: "\eb56";
}

.cute-icon-credit-card-fill:before {
  content: "\ea57";
}

.cute-icon-small-rignt:before {
  content: "\eb57";
}

.cute-icon-customer-service-fill:before {
  content: "\ea58";
}

.cute-icon-insurance-fill:before {
  content: "\eb58";
}

.cute-icon-drag:before {
  content: "\ea59";
}

.cute-icon-safety-certificate-f:before {
  content: "\eb59";
}

.cute-icon-cloud-server:before {
  content: "\ea5a";
}

.cute-icon-up-square:before {
  content: "\eb5a";
}

.cute-icon-control-fill:before {
  content: "\ea5b";
}

.cute-icon-info-circle:before {
  content: "\eb5b";
}

.cute-icon-close-circle-fill:before {
  content: "\ea5c";
}

.cute-icon-up:before {
  content: "\eb5c";
}

.cute-icon-down-square-fill:before {
  content: "\ea5d";
}

.cute-icon-shopping-fill:before {
  content: "\eb5d";
}

.cute-icon-cube:before {
  content: "\ea5e";
}

.cute-icon-star:before {
  content: "\eb5e";
}

.cute-icon-desktop:before {
  content: "\ea5f";
}

.cute-icon-info-circle-fill:before {
  content: "\eb5f";
}

.cute-icon-deployment-unit:before {
  content: "\ea60";
}

.cute-icon-printer:before {
  content: "\eb60";
}

.cute-icon-down-circle:before {
  content: "\ea61";
}

.cute-icon-undo:before {
  content: "\eb61";
}

.cute-icon-eye-fill:before {
  content: "\ea62";
}

.cute-icon-uninstalled:before {
  content: "\eb62";
}

.cute-icon-delete-fill:before {
  content: "\ea63";
}

.cute-icon-image:before {
  content: "\eb63";
}

.cute-icon-check-circle:before {
  content: "\ea64";
}

.cute-icon-unordered-list:before {
  content: "\eb64";
}

.cute-icon-cloud-sync:before {
  content: "\ea65";
}

.cute-icon-user-fill:before {
  content: "\eb65";
}

.cute-icon-console-SQL:before {
  content: "\ea66";
}

.cute-icon-Import:before {
  content: "\eb66";
}

.cute-icon-column-width:before {
  content: "\ea67";
}

.cute-icon-small-up:before {
  content: "\eb67";
}

.cute-icon-data-component-fill:before {
  content: "\ea68";
}

.cute-icon-up-circle:before {
  content: "\eb68";
}

.cute-icon-double-right:before {
  content: "\ea69";
}

.cute-icon-rocket-fill:before {
  content: "\eb69";
}

.cute-icon-crown:before {
  content: "\ea6a";
}

.cute-icon-up-circle-fill:before {
  content: "\eb6a";
}

.cute-icon-dashboard:before {
  content: "\ea6b";
}

.cute-icon-fire-fill:before {
  content: "\eb6b";
}

.cute-icon-disconnect:before {
  content: "\ea6c";
}

.cute-icon-rise:before {
  content: "\eb6c";
}

.cute-icon-down-square:before {
  content: "\ea6d";
}

.cute-icon-tags-fill:before {
  content: "\eb6d";
}

.cute-icon-caret-right:before {
  content: "\ea6e";
}

.cute-icon-vertical-align-middle:before {
  content: "\eb6e";
}

.cute-icon-edit:before {
  content: "\ea6f";
}

.cute-icon-plus-square-fill:before {
  content: "\eb6f";
}

.cute-icon-delete:before {
  content: "\ea70";
}

.cute-icon-solution:before {
  content: "\eb70";
}

.cute-icon-database-fill:before {
  content: "\ea71";
}

.cute-icon-home:before {
  content: "\eb71";
}

.cute-icon-database:before {
  content: "\ea72";
}

.cute-icon-gift-fill:before {
  content: "\eb72";
}

.cute-icon-fullscreen:before {
  content: "\ea73";
}

.cute-icon-file-zip:before {
  content: "\ea74";
}

.cute-icon-file-copy:before {
  content: "\ea75";
}

.cute-icon-edit-square:before {
  content: "\ea76";
}

.cute-icon-Fault:before {
  content: "\ea77";
}

.cute-icon-error-fill:before {
  content: "\ea78";
}

.cute-icon-file-unknown-fill:before {
  content: "\ea79";
}

.cute-icon-data-component:before {
  content: "\ea7a";
}

.cute-icon-container:before {
  content: "\ea7b";
}

.cute-icon-example:before {
  content: "\ea7c";
}

.cute-icon-expend:before {
  content: "\ea7d";
}

.cute-icon-file-excel-fill:before {
  content: "\ea7e";
}

.cute-icon-detail-fill:before {
  content: "\ea7f";
}

.cute-icon-down:before {
  content: "\ea80";
}

.cute-icon-down-circle-fill:before {
  content: "\ea81";
}

.cute-icon-folder:before {
  content: "\ea82";
}

.cute-icon-line:before {
  content: "\ea83";
}

.cute-icon-fullscreen-exit:before {
  content: "\ea84";
}

.cute-icon-error:before {
  content: "\ea85";
}

.cute-icon-double-left:before {
  content: "\ea86";
}

.cute-icon-folder-fill:before {
  content: "\ea87";
}

.cute-icon-file-GIF:before {
  content: "\ea88";
}

.cute-icon-rollback:before {
  content: "\ea89";
}

.cute-icon-cloud-download:before {
  content: "\ea8a";
}

.cute-icon-file-unknown:before {
  content: "\ea8b";
}

.cute-icon-file-excel:before {
  content: "\ea8c";
}

.cute-icon-edit-fill:before {
  content: "\ea8d";
}

.cute-icon-file-zip-fill:before {
  content: "\ea8e";
}

.cute-icon-group:before {
  content: "\ea8f";
}

