/* Alert
-------------------------- */
/*
  $class:类名;
  $bdcolor:边框颜色;
  $iconColor:icon颜色;
  $bgColor:背景颜色;
*/
@mixin global-tips($class: info,
  $bdcolor: $color-tag-master-1,
  $iconColor: $color-status-master,
  $bgColor: $color-tag-master-2) {
  .is-alert-tip {
    .el-alert--#{$class}.is-light {
      border: none;
      color: $text-color-primary;
      background-color: $bgColor;

      .el-alert__icon {
        color: $iconColor;
      }
    }
  }
}

@include global-tips();
@include global-tips(success, $color-tag-success-1, $color-status-success, $color-tag-success-2);
@include global-tips(warning, $color-tag-warning-1, $color-status-warning, $color-tag-warning-2);
@include global-tips(error, $color-tag-danger-1, $color-status-danger, $color-tag-danger-2);
@include global-tips(weak, $disabled-border, $disabled-color, $color-grey-9);

.el-alert {
  padding: 8px 16px;
  width: auto;
}

.el-alert__title {
  font-size: $text-size-primary;
  line-height: 20px;
}

.el-alert__content {
  padding-right: 0;
}

.el-alert > .el-alert__content:first-child {
  padding-left: 0;
}

.is-alert-tip {
  .el-alert__closebtn {
    position: static;
    margin-left: 16px;
  }

  .el-alert__closebtn.is-customed {
    font-size: $text-size-primary;
    top: 8px;
  }
}
