/* Button
-------------------------- */
/*
  $type:类名;
  $bgColor:背景颜色;
  $bdColor:边框颜色;
  $color:字体颜色;
*/
@mixin button-disabled($type: default,
  $bgColor: $disabled-fill,
  $bdColor: $disabled-border,
  $color: $disabled-color) {

  .el-button--#{$type}.is-plain.is-disabled,
  .el-button--#{$type}.is-disabled {
    background-color: $bgColor;
    border: 1px solid $bdColor;
    color: $color;
    opacity: 0.6;

    &:hover,
    &:focus,
    &:active {
      background-color: $bgColor;
      border: 1px solid $bdColor;
      color: $color;
    }
  }
}

@include button-disabled(primary, $color-master-1, $color-master-1, $color-white);
@include button-disabled(danger, $color-bg-1, $disabled-danger-border, $disabled-danger-color);
@include button-disabled();

.el-button:not(.el-button--text):not(.el-button--danger):focus {
  border-color: $color-master-1;
}

.el-button.el-button--primary.el-button--medium.is-loading {
  background: $color-master-1;
  border-color: $color-master-1;
  opacity: 0.6;
}

.el-button.el-button--default.el-button--medium.is-loading {
  background: $loading-default-color;
  border-color: $loading-default-border;
}

.el-button + .el-dropdown {
  margin-left: 16px;
  margin-right: 16px;
}

.el-button + .el-button {
  margin-left: $button-margin;
}

.el-button-rect {
  padding: 10px;
}

.sub-special {
  .el-button--danger {
    background-color: $color-sp-1;
    border-color: $color-sp-1;

    &:hover {
      background-color: $color-sp-2;
      border-color: $color-sp-2;
    }

    &:active {
      background-color: $color-sp-3;
      border-color: $color-sp-3;
    }
  }
}

.el-button--danger.is-plain {
  background: $color-bg-1;
  border-color: $color-status-danger-1;

  &:hover,
  &:active,
  &:focus {
    color: $color-status-danger-1;
    background: $color-status-danger-2;
  }
}

.el-button--medium {
  padding: 9px $padding-primary;
  font-size: $text-size-primary;
  border-radius: $border-radius;
}

.el-button.el-button--default.el-button--medium:not(.is-disabled),
.el-button.el-button--default.el-button--small:not(.is-disabled),
.el-button.el-button--default.el-button--mini:not(.is-disabled) {
  background-color: $color-bg-1;
}

.el-button--small {
  padding: 7px $padding-primary;
  border-radius: $border-radius;

  .svg-icon {
    margin-right: 4px;
  }
}

.el-button.el-button--default:not(.is-disabled, .el-button--primary):hover {
  background: $color-bg-1;
  border-color: $color-master-1;
}

.el-button.is-loading:before {
  background: transparent;
}

.el-button--primary {

  &:hover,
  &:active,
  &:focus {
    background-color: $color-master-3;
    border-color: $color-master-3;
  }
}

.el-button.el-button--primary.el-button--mini {
  padding: 7px $padding-primary;
}

/* TextButton
-------------------------- */
.el-button--text {
  color: $color-master-1;
  padding: 0;

  .svg-icon {
    margin-right: 4px;
  }

  &:hover {
    color: $color-master-3;
  }

  &.light:not(.is-disabled) {
    color: $color-master-3;
  }
}

/* IconButton
-------------------------- */
.el-button.el-button--medium {
  .svg-icon {
    font-size: $text-size-large;
  }
}

.el-button.el-button--text.el-button--medium.is-plain {
  color: $color-grey-3;
  border: 0;

  &:hover,
  &:active,
  &:focus {
    color: $color-master-3;
    border: none;
    background-color: transparent;
  }
}

.el-button.el-button--default.el-button--medium.is-plain {
  border: 1px solid $border-color-primary;
  padding: 7px;

  &:not(.el-button.el-button--default.el-button--medium.is-disabled.is-plain):hover {
    border: 1px solid $color-master-1;
  }
}

.el-button.el-button--primary.el-button--medium.is-disabled {
  .svg-icon {
    color: $color-grey-5;
  }
}
