/* Card
-------------------------- */
.el-card {
  background-color: $color-bg-2;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 $color-bg-3;

  &:hover {
    box-shadow: 0 0 8px 0 $color-bg-3;
  }
}

.el-card.is-always-shadow {
  box-shadow: 0 0 8px 0 $color-bg-3;
}
