/* Cascader
-------------------------- */

.el-cascader {
  // .el-input.el-input--small {
  //   height: auto !important;
  // }

  .el-cascader__caret.el-input__icon.el-icon-arrow-down {
    transform: rotate(360deg);
    color: $text-color-light-2;
  }

  .el-cascader__caret.el-input__icon.el-icon-arrow-down.is-reverse {
    transform: rotate(180deg);
    color: $text-color-light-2;
  }

  .el-icon-arrow-down:before {
    content: '\e790';
  }

  .el-icon-circle-close:before {
    font-family: 'cute-icons' !important;
    content: '\ea4f';
  }

  .el-input--medium .el-input__icon {
    line-height: 32px;
  }

  .el-input__suffix {
    height: 37px;
    line-height: 32px;
    right: 2px;
  }

  .el-cascader__tags {
    .el-tag > span {
      background: $color-grey-10;
    }

    .el-tag:not(.is-hit) {
      border-color: $color-grey-6;
    }

    .el-icon-close:before {
      color: $color-white;
      background-color: $color-grey-4;
      border-radius: 50%;
      line-height: 17px;
    }
  }
}

.el-popper.el-cascader__dropdown {
  margin-bottom: 5px !important;
  margin-top: 4px !important;
  transform: none;

  .el-cascader-node:hover {
    background-color: $color-master-7;
  }

  .in-active-path {
    background-color: transparent;
  }

  .el-radio,
  .el-checkbox {
    padding-right: 8px;
  }


  .el-icon-arrow-right::before {
    content: '\e791';
  }

  .el-cascader-panel {
    background-color: $color-bg-1;
    box-shadow: 0 2px 8px 0 $color-bg-3;
  }
}
