/* Toast
-------------------------- */
/*
  $class:类名;
  $iconColor:icon颜色;
  $iconClass:icon类名;
*/
@mixin toast-page($class: success, $iconColor: $color-status-success, $iconClass: success) {
  .el-message.el-message--#{$class}.toast-#{$class} {
    min-width: 150px;
    height: 40px;
    background: $color-bg-1;
    box-shadow: 0 2px 8px 0 $color-bg-3;
    border-radius: 2px;
    border: none;
    padding: $margin-small 12px;

    .el-icon-success {
      color: $iconColor;
    }

    .el-message__content {
      font-size: $text-size-primary;
      color: $text-color-light-1;
    }
  }
}

@include toast-page();
@include toast-page(warning, $color-status-warning);
@include toast-page(error, $color-status-danger);
