/* MessageBox
-------------------------- */
.el-message-box {
  background-color: $color-bg-2;
  border: none;
  border-radius: 2px;

  .el-message-box__headerbtn .el-message-box__close {
    color: $color-grey-3;
  }

  .el-message-box__btns {
    .el-button--primary {
      background: $color-master-1 !important;
    }
  }
}
