/* stylelint-disable property-case */
@import 'variables';

:export {
  Colormaster: $color-master;
  Colormasterhover: $color-master-hover;
  Colormasteractive: $color-master-active;
  Colormasterdisabled: $color-master-disabled;
  Colormasterbg: $color-master-bg;
  Colormasterbglight: $color-master-bg-light;
  Colormasterbglight2: $color-master-bg-light-2;
  Colormaster1: $color-master-1;
  Colormaster2: $color-master-2;
  Colormaster3: $color-master-3;
  Colormaster4: $color-master-4;
  Colormaster5: $color-master-5;
  Colormaster6: $color-master-6;
  Colormaster7: $color-master-7;
  Colorsp: $color-sp;
  Colorsphover: $color-sp-hover;
  Colorspactive: $color-sp-active;
  Colorsp1: $color-sp-1;
  Colorsp2: $color-sp-2;
  Colorsp3: $color-sp-3;
  Colorinfo: $color-info;
  Colorinfohover: $color-info-hover;
  Colorinfoactive: $color-info-active;
  Colorinfodisabled: $color-info-disabled;
  Colorinfobg: $color-info-bg;
  Colorsuccess: $color-success;
  Colorsuccesshover: $color-success-hover;
  Colorsuccessactive: $color-success-active;
  Colorsuccessdisabled: $color-success-disabled;
  Colorsuccessbg: $color-success-bg;
  Colorwarning: $color-warning;
  Colorwarninghover: $color-warning-hover;
  Colorwarningactive: $color-warning-active;
  Colorwarningdisabled: $color-warning-disabled;
  Colorwarningbg: $color-warning-bg;
  Colordanger: $color-danger;
  Colordangerhover: $color-danger-hover;
  Colordangeractive: $color-danger-active;
  Colordangerdisabled: $color-danger-disabled;
  Colordangerbg: $color-danger-bg;
  Colorfataldanger: $color-fatal-danger;
  Colorfataldangerhover: $color-fatal-danger-hover;
  Colorfataldangeractive: $color-fatal-danger-active;
  Colorfataldangerdisabled: $color-fatal-danger-disabled;
  Colorfataldangerbg: $color-fatal-danger-bg;
  Colorstatusmaster: $color-status-master;
  Colorstatusmaster1: $color-status-master-1;
  Colorstatusdanger: $color-status-danger;
  Colorstatusdanger1: $color-status-danger-1;
  Colorstatusdanger2: $color-status-danger-2;
  Colorstatusdanger3: $color-status-danger-3;
  Colorstatusinfo: $color-status-info;
  Colorstatusinfo1: $color-status-info-1;
  Colorstatussuccess: $color-status-success;
  Colorstatussuccess1: $color-status-success-1;
  Colorstatuswarning: $color-status-warning;
  Colorstatuswarning1: $color-status-warning-1;
  Colorneutral1: $color-neutral-1;
  Colorneutral2: $color-neutral-2;
  Colorneutral3: $color-neutral-3;
  Colorneutral4: $color-neutral-4;
  Colorneutral5: $color-neutral-5;
  Colorneutral6: $color-neutral-6;
  Colorneutral7: $color-neutral-7;
  Colorneutral8: $color-neutral-8;
  Colorneutral9: $color-neutral-9;
  Colorneutral10: $color-neutral-10;
  Colorneutral11: $color-neutral-11;
  Colorwhite: $color-white;
  Colorblack: $color-black;
  Colorgrey0: $color-grey-0;
  Colorgrey1: $color-grey-1;
  Colorgrey2: $color-grey-2;
  Colorgrey3: $color-grey-3;
  Colorgrey4: $color-grey-4;
  Colorgrey5: $color-grey-5;
  Colorgrey6: $color-grey-6;
  Colorgrey7: $color-grey-7;
  Colorgrey8: $color-grey-8;
  Colorgrey9: $color-grey-9;
  Colorgrey10: $color-grey-10;
  Colorgrey11: $color-grey-11;
  Colorother1: $color-other-1;
  Colorbg1: $color-bg-1;
  Colorbg2: $color-bg-2;
  Colorbg3: $color-bg-3;
  Colorformcomponentbg: $color-form-component-bg;
  Colorcontentbg: $color-content-bg;
  Colorbodybg: $color-body-bg;
  Bodyfill: $body-fill;
  Disabledbg: $disabled-bg;
  Disabledborder: $disabled-border;
  Disabledcolor: $disabled-color;
  Disablediconcolor: $disabled-icon-color;
  Disableddangerbg: $disabled-danger-bg;
  Disableddangercolor: $disabled-danger-color;
  Disableddangerborder: $disabled-danger-border;
  Disabledfill: $disabled-fill;
  Disableddangerfill: $disabled-danger-fill;
  Fontfamily: $font-family;
  Fontfamilycuteicons: $font-family-cute-icons;
  Textsize: $text-size;
  Textsizesm: $text-size-sm;
  Textsizemd: $text-size-md;
  Textsizelg: $text-size-lg;
  Textsizexl: $text-size-xl;
  Textcolor: $text-color;
  Textcolorlight: $text-color-light;
  Textcolorlight2: $text-color-light-2;
  Textcolorfeature: $text-color-feature;
  Textsizeprimary: $text-size-primary;
  Textsizesmall: $text-size-small;
  Textsizemedium: $text-size-medium;
  Textsizelarge: $text-size-large;
  Textsizexlarge: $text-size-x-large;
  Textcolorprimary: $text-color-primary;
  Textcolorlight1: $text-color-light-1;
  Lineheight: $line-height;
  Tagmaster: $tag-master;
  Tagmasterborder: $tag-master-border;
  Taginfo: $tag-info;
  Taginfoborder: $tag-info-border;
  Tagsuccess: $tag-success;
  Tagsuccessborder: $tag-success-border;
  Tagwarning: $tag-warning;
  Tagwarningborder: $tag-warning-border;
  Tagdanger: $tag-danger;
  Tagdangerborder: $tag-danger-border;
  Tagweak: $tag-weak;
  Tagweakborder: $tag-weak-border;
  Colortagmaster1: $color-tag-master-1;
  Colortagmaster2: $color-tag-master-2;
  Colortaginfo1: $color-tag-info-1;
  Colortaginfo2: $color-tag-info-2;
  Colortagsuccess1: $color-tag-success-1;
  Colortagsuccess2: $color-tag-success-2;
  Colortagwarning1: $color-tag-warning-1;
  Colortagwarning2: $color-tag-warning-2;
  Colortagdanger1: $color-tag-danger-1;
  Colortagdanger2: $color-tag-danger-2;
  Bordercolor: $border-color;
  Bordercolorlight: $border-color-light;
  Bordercolordark: $border-color-dark;
  Borderradius: $border-radius;
  Borderradiusmedium: $border-radius-medium;
  Bordercolorprimary: $border-color-primary;
  Bordercolorlight1: $border-color-light-1;
  Bordercolordark1: $border-color-dark-1;
  Commonsapce: $common-sapce;
  Commonsapce2x: $common-sapce-2x;
  Commonsapce3x: $common-sapce-3x;
  Commonsapce4x: $common-sapce-4x;
  Commonsapce5x: $common-sapce-5x;
  Commonsapce6x: $common-sapce-6x;
  Commonsapce7x: $common-sapce-7x;
  Commonsapce8x: $common-sapce-8x;
  Commonsapce9x: $common-sapce-9x;
  Commonsapce10x: $common-sapce-10x;
  Commonsapce6: $common-sapce-6;
  Commonsapce10: $common-sapce-10;
  Padding: $padding;
  Padding2x: $padding-2x;
  Padding3x: $padding-3x;
  Padding4x: $padding-4x;
  Padding5x: $padding-5x;
  Padding6x: $padding-6x;
  Padding7x: $padding-7x;
  Padding8x: $padding-8x;
  Padding9x: $padding-9x;
  Padding10x: $padding-10x;
  Padding6: $padding-6;
  Padding10: $padding-10;
  Margin: $margin;
  Margin2x: $margin-2x;
  Margin3x: $margin-3x;
  Margin4x: $margin-4x;
  Margin5x: $margin-5x;
  Margin6x: $margin-6x;
  Margin7x: $margin-7x;
  Margin8x: $margin-8x;
  Margin9x: $margin-9x;
  Margin10x: $margin-10x;
  Margin6: $margin-6;
  Margin10: $margin-10;
  Paddingprimary: $padding-primary;
  Paddingmedium: $padding-medium;
  Paddingsmall: $padding-small;
  Paddingtiny: $padding-tiny;
  Marginlarge: $margin-large;
  Marginmedium: $margin-medium;
  Marginsmall: $margin-small;
  Margintiny: $margin-tiny;
  Marginprimary: $margin-primary;
  Shadow1: $shadow-1;
  Shadow2: $shadow-2;
  Shadow3: $shadow-3;
  Shadowformitem: $shadow-form-item;
  Shadowinput: $shadow-input;
  Shadowcard: $shadow-card;
  Shadowdialog: $shadow-dialog;
  Shadowtablecard: $shadow-table-card;
  Buttoniconcolor: $button-icon-color;
  Buttonmargin: $button-margin;
  Buttonpaddingmini: $button-padding-mini;
  Buttonpaddingsmall: $button-padding-small;
  Buttonpaddingmedium: $button-padding-medium;
  Buttonpaddinglarge: $button-padding-large;
  Formitemlabellineheight: $form-item-label-line-height;
  Formitemerrorpaddingtop: $form-item-error-padding-top;
  Inputbg: $input-bg;
  Inputxsheight: $input-xs-height;
  Inputsmheight: $input-sm-height;
  Inputmdheight: $input-md-height;
  Inputlgheight: $input-lg-height;
  Inputheight: $input-height;
  Inputprefixpadding: $input-prefix-padding;
  Inputsuffixpadding: $input-suffix-padding;
  Inputfill: $input-fill;
  Selectdropdownshadow: $select-dropdown-shadow;
  Checkboxbg: $checkbox-bg;
  Checkboxborder: $checkbox-border;
  Checkboxbutton: $checkbox-button;
  Checkboxbuttonhover: $checkbox-button-hover;
  Tableheaderbg: $table-header-bg;
  Tablecellbg: $table-cell-bg;
  Tablesortcaretbg: $table-sort-caret-bg;
  Tablecellpaddingsm: $table-cell-padding-sm;
  Tablecellpaddingmd: $table-cell-padding-md;
  Tablecellpaddinglg: $table-cell-padding-lg;
  Tablebordercolor: $table-border-color;
  Tableheaderfill: $table-header-fill;
  Tablecellfill: $table-cell-fill;
  Tablesortcaretfill: $table-sort-caret-fill;
  Paginationbg: $pagination-bg;
  Paginationfill: $pagination-fill;
  Tooltipbg: $tooltip-bg;
  Tooltipfill: $tooltip-fill;
  Uploadbg: $upload-bg;
  Uploadfill: $upload-fill;
  Cardbg: $card-bg;
  Cardshadow: $card-shadow;
  Cascadertagbg: $cascader-tag-bg;
  Cascadertagborder: $cascader-tag-border;
  Cascadertagclosecolor: $cascader-tag-close-color;
  Cascadertagclosebg: $cascader-tag-close-bg;
  Cascadernodehover: $cascader-node-hover;
  Cascaderpanelbg: $cascader-panel-bg;
  Cascaderpanelshadow: $cascader-panel-shadow;
  Collapseheaderbg: $collapse-header-bg;
  Collapseheaderheight: $collapse-header-height;
  Collapseitemheaderheight: $collapse-item-header-height;
  Collapseheaderfill: $collapse-header-fill;
  Datepickershadow: $datepicker-shadow;
  Descriptionslabelwidth: $descriptions-label-width;
  Descriptionsitemheight: $descriptions-item-height;
  Descriptionsitemcontentwidth: $descriptions-item-content-width;
  Descriptionsitemcontentlineheight: $descriptions-item-content-line-height;
  Dialogfootermargintop: $dialog-footer-margin-top;
  Iconcolor: $icon-color;
  Loadingprimarycolor: $loading-primary-color;
  Loadingprimaryborder: $loading-primary-border;
  Loadingdefaultcolor: $loading-default-color;
  Loadingdefaultborder: $loading-default-border;
  Headerheight: $header-height;
  Headerfill1: $header-fill-1;
  Headerfill2: $header-fill-2;
  Headerborder: $header-border;
  Headertextcolor: $header-text-color;
  Headersearchtextcolor: $header-search-text-color;
  Sidebarwidth: $sidebar-width;
  Sidebarfill: $sidebar-fill;
  Sidebarsubfill: $sidebar-sub-fill;
  Sidebarsubhover: $sidebar-sub-hover;
  Transitiontime: $transition-time;
  Zindexbadge: $zindex-badge;
  Zindextablefixed: $zindex-table-fixed;
  Zindexaffix: $zindex-affix;
  Zindexbacktop: $zindex-back-top;
  Zindexpickerpanel: $zindex-picker-panel;
  Zindexpopupclose: $zindex-popup-close;
  Zindexmodal: $zindex-modal;
  Zindexmodalmask: $zindex-modal-mask;
  Zindexmessage: $zindex-message;
  Zindexnotification: $zindex-notification;
  Zindexpopover: $zindex-popover;
  Zindexdropdown: $zindex-dropdown;
  Zindexpicker: $zindex-picker;
  Zindexpopoconfirm: $zindex-popoconfirm;
  Zindextooltip: $zindex-tooltip;
  Zindeximage: $zindex-image;
  ChartColor1: $chartColor1;
  ChartColor2: $chartColor2;
  ChartColor3: $chartColor3;
  ChartColor4: $chartColor4;
  ChartColor5: $chartColor5;
  ChartColor6: $chartColor6;
  ChartColor7: $chartColor7;
  ChartColor8: $chartColor8;
  ChartColor9: $chartColor9;
  ChartColor10: $chartColor10;
  ChartColor11: $chartColor11;
  ChartColor12: $chartColor12;
  ChartColorH1: $chartColorH1;
  ChartColorH2: $chartColorH2;
  ChartColorH3: $chartColorH3;
  ChartColorH4: $chartColorH4;
  ChartColorH5: $chartColorH5;
  ChartColorH6: $chartColorH6;
  ChartColorH7: $chartColorH7;
  ChartColorH8: $chartColorH8;
  ChartColorH9: $chartColorH9;
  ChartColorH10: $chartColorH10;
  ChartColorH11: $chartColorH11;
  ChartColorH12: $chartColorH12;
  ChartColorL1: $chartColorL1;
  ChartColorL2: $chartColorL2;
  ChartColorL3: $chartColorL3;
  ChartColorL4: $chartColorL4;
  ChartColorL5: $chartColorL5;
  ChartColorL6: $chartColorL6;
  ChartColorL7: $chartColorL7;
  ChartColorL8: $chartColorL8;
  ChartColorL9: $chartColorL9;
  ChartColorL10: $chartColorL10;
  ChartColorL11: $chartColorL11;
  ChartColorL12: $chartColorL12;
}
