.app-wrapper {
  @include clearfix;

  position: relative;
  width: 100%;
}

/* 侧边栏样式 */
.layout-sidebar {
  transition: width 0.28s;
  height: 100%;
  position: fixed;
  font-size: 0;
  top: $header-height;
  bottom: 0;
  left: 0;
  background: $sidebar-fill;
  z-index: 10;

  &__title {
    font-size: 14px;
    color: $text-color-primary;
    padding: 15px 0 10px 20px;
    font-weight: bold;
  }

  .scrollbar-wrapper {
    overflow-x: hidden !important;
  }

  .el-scrollbar__view {
    height: 100%;
  }

  .el-scrollbar__bar {
    &.is-vertical {
      right: 0;
    }

    &.is-horizontal {
      display: none;
    }
  }

  &__menu {
    padding-bottom: 50px;
  }

  .el-menu {
    border: none;

    a:hover {
      text-decoration: none;
    }
  }

  .el-menu-item,
  .el-submenu__title {
    height: 40px;
    line-height: 38px;
  }

  .el-submenu__title * {
    vertical-align: baseline !important;
  }

  .el-submenu.is-active > .el-submenu__title {
    color: $text-color-primary;
  }

  .el-menu-item,
  .el-submenu > .el-submenu__title,
  .el-submenu .el-menu-item {
    min-width: calc($sidebar-width - 40px);
    background-color: $sidebar-sub-fill;
    border-right: 2px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.is-active,
    &:hover {
      color: $color-master-1;
    }
  }

  .el-submenu {
    .el-menu-item {
      padding-left: 10px !important;
      padding-right: 20px !important;
    }

    .el-submenu__title {
      &:hover {
        background-color: $sidebar-sub-hover !important;
        color: $color-master-1;
      }
    }
  }
  .el-submenu.is-active .el-submenu__title,
  .el-menu > div.first-level > a > li.is-active {
    color: $color-master-1  !important;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      background-color: $color-master-1;
      width: 2px;
      height: 12px;
      position: absolute;
      left: 12px;
      top: 13px;
    }
  }
  .el-menu > div.first-level > a > li.is-active {
    &::before {
      top: 14px;
    }
  }

  .vertical-bar {
    border-left: 2px solid $color-grey-exception-1;
    margin: 14px 0 18px 30px;
    max-height: calc(100% - 40px);

    > div:first-child {
      .el-menu-item {
        height: 26px;
        line-height: 12px;
      }
    }

    > div:last-child {
      .el-menu-item {
        height: 29px;
        line-height: 40px;
      }
    }

    &__one {
      > div:last-child {
        .el-menu-item {
          height: 16px;
          line-height: 16px;

          > span {
            line-height: 16px;
          }
        }
      }
    }
  }

  .el-submenu__icon-arrow {
    color: $color-grey-2;
  }
}

/* 主容器样式 */
.layout-container {
  position: relative;
  min-height: 100%;
  transition: margin-left 0.28s;
  padding: $header-height $margin-medium $margin-medium;

  .navbar {
    margin-left: -23px;
    margin-right: -16px;
    padding: $padding-medium;
    margin-bottom: $margin-medium;
    display: flex;
    align-items: center;
    background: $color-white;
  }

  .app-main > .el-card.is-always-shadow {
    box-shadow: none;
    border-radius: 0;
    border: none;
    color: inherit;
  }
}

.component__container {
  padding-bottom: $padding-medium;

  &:last-child {
    margin-bottom: 0;
  }

  h2 {
    padding-top: $padding-medium;
  }
}
