@import './layout.scss';
@import './transition.scss';
@import './element-override.scss';
@import './margin.scss';
@import './animation.scss';
@import './page/form.scss';
@import './page/table.scss';
@import './page/detail.scss';
@import './page/dialog.scss';
@import './page/card.scss';
@import './page/status.scss';
@import './page/preview.scss';

/* Global scss */
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Microsoft YaHei', 'PingFang SC', 'Helvetica Neue', Helvetica, arial, STHeiTi, sans-serif;
  font-size: 12px;
  background: $body-fill;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  outline: none;
  text-decoration: none;
}

a {
  color: $color-master-1;
}

a:focus,
a:hover {
  color: $color-master-3;
}

a:hover {
  text-decoration: underline;
}

div:focus {
  outline: none;
}

hr {
  border: none;
  border-top: 1px solid $border-color-light-1;
}

::-webkit-scrollbar-track-piece {
  border-radius: 0;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-resizer {
  background-image: url('../images/pull.png');
  background-size: 9px 9px;
  background-repeat: no-repeat;
  background-position: 3px 3px;
  background-position: 6px 6px;
}
