/* Alert
-------------------------- */
$alert-single-height: 36px;

/*
  $class:类名;
  $master-color:icon颜色\effect=dark下背景色
  $bg-color:背景颜色;
*/
@mixin global-tips($class, $master-color, $bg-color) {
  .is-alert-tip {
    .el-alert--#{$class}.is-light {
      color: $alert-text-color;
      background-color: $bg-color;
      .el-alert__closebtn{
        color: $master-color; // 关闭按钮默认颜色
        font-size: $text-size-md;
        height: $text-size-md;
        right: $common-space-4x;
        top: calc((#{$alert-single-height} - #{$text-size-md}) / 2)
      }

      .el-alert__icon {
        color: $master-color;
      }
    }
    .el-alert--#{$class}.is-dark {
      background-color: $master-color;
      color: $color-white;
    }
  }
}
@include global-tips(info, $color-master, $alert-info-bg); // 与element-ui不同的是这里UI规定了info使用蓝色主题色，额外增加了weak类型显示灰色的提示
@include global-tips(success, $color-success, $alert-success-bg);
@include global-tips(warning, $color-warning, $alert-warning-bg);
@include global-tips(error, $color-danger, $alert-danger-bg);
@include global-tips(weak, $color-info, $alert-weak-bg);

.el-alert {
  $paddingTopBottom: calc((#{$alert-single-height} - #{$line-height} * #{$text-size})/2);
  padding: $paddingTopBottom $padding-8x $paddingTopBottom $padding-4x;
  align-items: flex-start;
  .el-alert__icon {
    line-height: calc(#{$line-height} * #{$text-size});
    height: calc(#{$line-height} * #{$text-size});
    font-size: $text-size-md;
    width: $text-size-md;
  }
}

.el-alert.is-light .el-alert__description{
  color: $alert-text-color;
}

.el-alert__title {
  font-size: $text-size;
  line-height: $line-height;
}

.el-alert__content {
  padding-right: 0;
}

.el-alert > .el-alert__content:first-child {
  padding-left: 0;
}

.is-alert-tip {
  .el-alert__closebtn.is-customed {
    font-size: $text-size;
  }
}
