/* Breadcrumb
-------------------------- */
.el-breadcrumb {
  font-size: $text-size;

  .el-breadcrumb__inner:hover {
    color: $color-master;
    cursor: pointer;
  }
}

.el-breadcrumb__inner.is-link,
.el-breadcrumb__inner a,
.el-breadcrumb__inner {
  color: $text-color-light;
  font-weight: normal;

  &:hover {
    color: $text-color-light;
  }
}

.el-breadcrumb__inner a:hover {
  color: $color-master;
}

.el-breadcrumb__item:last-child {
  .el-breadcrumb__inner,
  .el-breadcrumb__inner:hover {
    color: $text-color;
    font-weight: bold;
    cursor: pointer;
  }
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner {
  font-weight: 500;
  color: $text-color;
}
