/* Breadcrumb
-------------------------- */
.el-breadcrumb {
  font-size: $text-size;

  &--small {
    font-size: $text-size-sm;
  }

  &--medium {
    font-size: $text-size-md;
  }

  &__separator {
    margin: 0 $margin-2x;
    font-weight: $text-weight;
    color: $text-color-light;
  }

  &__inner {
    color: $text-color-light-2;

    &.is-link,
    & a {
      font-weight: $text-weight;
      color: $text-color-light;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__item {
    &:last-child {
      .el-breadcrumb__inner {
        cursor: text;

        &.is-link,
        & a {
          cursor: pointer;

          &:hover {
            font-weight: $text-title-weight;
          }
        }
      }
    }
  }
}
