$button-padding-mini: 5px $padding-2x;
$button-padding-small: 5px $padding-2x;
$button-padding-medium: 9px $padding-4x;
$button-padding-large: $margin-3x $padding-6x;

/*
  重置按钮样式
  $type: 类名;
  $color-bg: 背景颜色;
  $color-bg-hover: 背景悬浮颜色;
  $color-bg-active: 背景激活颜色;
*/
@mixin button-color($type, $color-bg, $color-bg-hover, $color-bg-active, $color-bg-disabled) {
  $color-text: $color-white;
  $color-text-hover: $color-text;
  $color-text-active: $color-text;
  $color-text-disabled: $color-text;
  $color-border: $color-bg;
  $color-border-hover: $color-bg-hover;
  $color-border-active: $color-bg-active;
  $color-border-disabled: $color-bg-disabled;

  // 针对default特殊处理
  @if $type ==--default or $type ==null {
    $color-text: $button-default-text-color;
    $color-text-hover: $color-bg-hover;
    $color-text-active: $color-bg-active;
    $color-text-disabled: $button-default-text-color-disabled;
    $color-border-hover: $color-bg-hover;
    $color-border-active: $color-bg-active;
    $color-border-disabled: $button-default-color-border-disabled;
    $color-bg: $button-default-color-bg;
    $color-bg-hover: $button-default-color-bg;
    $color-bg-active: $button-default-color-bg;
  }

  .el-button#{$type} {
    color: $color-text;
    background: $color-bg;
    border-color: $color-border;

    &:hover {
      color: $color-text-hover;
      background: $color-bg-hover;
      border-color: $color-border-hover;
    }

    &:active,
    &:focus {
      color: $color-text-active;
      background: $color-bg-active;
      border-color: $color-border-active;
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:active,
    &.is-disabled:focus,
    &.is-loading,
    &.is-loading:hover,
    &.is-loading:active,
    &.is-loading:focus {
      color: $color-text-disabled;
      background: $color-bg-disabled;
      border-color: $color-border-disabled;

      &::before {
        display: none;
      }
    }
  }
}

@include button-color(
  null,
  $button-default-color-border,
  $color-master,
  $color-master-active,
  $button-default-color-bg-disabled
);
@include button-color(--default, $button-default-color-border, $color-master, $color-master-active, $button-default-color-bg-disabled);
@include button-color(--primary, $color-master, $color-master-hover, $color-master-active, $color-master-disabled);
@include button-color(--info, $color-info, $color-info-hover, $color-info-active, $color-info-disabled);
@include button-color(--success, $color-success, $color-success-hover, $color-success-active, $color-success-disabled);
@include button-color(--warning, $color-warning, $color-warning-hover, $color-warning-active, $color-warning-disabled);
@include button-color(--danger, $color-danger, $color-danger-hover, $color-danger-active, $color-danger-disabled);
@include button-color(--fatal, $color-fatal, $color-fatal-hover, $color-fatal-active, $color-fatal-disabled);
@include button-color(--ct, $color-ct, $color-ct-hover, $color-ct-active, $color-ct-disabled);

/*
  重置朴素(plain)按钮样式
  $type: 类名;
  $color-border: 边框颜色;
  $color-bg: 背景颜色;
  $color-bg-hover: 背景悬浮颜色;
*/
@mixin button-plain(
  $type,
  $color-border,
  $color-border-hover,
  $color-border-active,
  $color-bg-hover,
  $color-bg-disabled
) {
  $color-text: $color-border;
  $color-bg: $color-bg-1;

  // 针对default特殊处理
  @if $type ==default {
    $color-text: $text-color-light;
  }

  .el-button--#{$type}.is-plain {
    color: $color-text;
    background: $color-bg;
    border-color: $color-border;

    &:hover {
      border-color: $color-border-hover;
      color: $color-border-hover;
      background: $color-bg-hover;
    }

    &:active,
    &:focus {
      color: $color-border-active;
      border-color: $color-border-active;
      background: $color-bg-hover;
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:active,
    &.is-disabled:focus,
    &.is-loading,
    &.is-loading:hover,
    &.is-loading:active,
    &.is-loading:focus {
      color: $color-bg-disabled;
      background: $color-bg;
      border-color: $color-bg-disabled;
    }
  }
}

@include button-plain(default, $color-neutral-5, $color-master-hover, $color-master-active, $tag-master, $color-info-disabled);
@include button-plain(primary, $color-master, $color-master-hover, $color-master-active, $tag-master, $color-master-disabled);
@include button-plain(info, $color-info, $color-info-hover, $color-info-active, $tag-info, $color-info-disabled);
@include button-plain(success, $color-success, $color-success-hover, $color-success-active, $tag-success, $color-success-disabled);
@include button-plain(warning, $color-warning, $color-warning-hover, $color-warning-active, $tag-warning, $color-warning-disabled);
@include button-plain(danger, $color-danger, $color-danger-hover, $color-danger-active, $tag-danger, $color-danger-disabled);
@include button-plain(fatal, $color-fatal,$color-fatal-hover, $color-fatal-active, $tag-fatal, $color-fatal-disabled);
@include button-plain(ct, $color-ct, $color-ct-hover, $color-ct-active, $tag-ct, $color-ct-disabled);

/*
  重置文本按钮颜色
  $type: 类名;
  $color: 默认文本颜色;
  $color-hover: 悬浮文本颜色;
  $color-active: 选中文本颜色;
  $color-disabled: 禁用文本颜色;
*/
@mixin button-text-color($type, $color, $color-hover, $color-active, $color-disabled) {
  .el-button--text#{$type} {
    color: $color;

    &:hover {
      color: $color-hover;
    }

    &:active,
    &:focus {
      color: $color-active;
    }

    &.light:not(.is-disabled) {
      color: $color-hover;
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-loading {
      color: $color-disabled;
    }
  }
}

@include button-text-color(null, $color-master, $color-master-hover, $color-master-active, $color-master-disabled);
@include button-text-color(--primary, $color-master, $color-master-hover, $color-master-active, $color-master-disabled);
@include button-text-color(--success, $color-success, $color-success-hover, $color-success-active, $color-success-disabled);
@include button-text-color(--danger, $color-danger, $color-danger-hover, $color-danger-active, $color-danger-disabled);
@include button-text-color(--warning, $color-warning, $color-warning-hover, $color-warning-active, $color-warning-disabled);
@include button-text-color(--ct, $color-ct, $color-ct-hover, $color-ct-active, $color-ct-disabled);
@include button-text-color(--weak, $text-color-light, $color-master-hover, $color-master-active, $text-color-disabled);

/*
  重置按钮尺寸
  $size: 大小名称;
  $font-size: 字体大小;
*/
@mixin button-size($size, $font-size, $padding) {
  $top-padding: str-slice(
    inspect($padding),
    1,
    str-index(inspect($padding), ' ') - 1
  ); // 从第1个字符开始，截取到第一个空格前的字符

  .el-button--#{$size} {
    display: inline-block;
    font-size: $font-size;
    padding: $padding;
    border-radius: $border-radius;

    .el-button__icon {
      position: relative;
      display: inline-block;
      width: $font-size;
      height: $font-size - 3;

      .svg-icon,
      [class*='el-icon-'] {
        position: absolute;
        left: 0;
        top: -1px;
        font-size: $font-size;
        line-height: 1;
        transform: scale(1.18);
      }
    }

    &.is-square {
      padding: $top-padding $top-padding;
    }

    &.is-round {
      padding: $padding;
    }
  }
}

@include button-size(mini, $text-size, $button-padding-mini);
@include button-size(small, $text-size, $button-padding-small);
@include button-size(medium, $text-size, $button-padding-medium);
@include button-size(large, $text-size-md, $button-padding-large);

/*
  重置按钮其他样式
*/
.el-button {
  /*
    重置按钮图标样式
  */
  &__icon + span {
    margin-left: $margin;
  }

  /*
    无边框按钮
  */
  &.no-border {
    border-color: transparent;
  }

  /*
    重置按钮与下拉框的间距
  */
  & + .el-dropdown {
    margin-left: $margin-4x;
    margin-right: $margin-4x;
  }

  .el-radio-group {
    .el-radio-button.el-radio-button--small {
      .el-radio-button__inner {
        padding: 5px 15px;
      }
    }

    .el-radio-button.el-radio-button--mini {
      .el-radio-button__inner {
        padding: 5px 15px;
      }
    }

    .el-radio-button.el-radio-button--medium {
      .el-radio-button__inner {
        padding: 9px 20px;
      }
    }

    .el-radio-button.el-radio-button--large {
      .el-radio-button__inner {
        padding: 13px 20px;
      }
    }
  }

  /*
    重置按钮与按钮的间距
  */
  & + .el-button {
    margin-left: $button-margin;
  }

  /*
    重置TextButton
  */
  &--text {
    padding: 0;
    background: transparent;
    border-color: transparent;

    &:hover,
    &:active,
    &:focus {
      background: transparent;
      border-color: transparent;
    }

    &.is-plain {
      &:hover,
      &:focus,
      &:active {
        border-color: transparent;
        background: transparent;
      }
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-loading {
      border-color: transparent;
      background: transparent;
    }
  }
}

/*
  重置下拉框箭头位置
*/
.el-dropdown .el-button .svg-icon:not(:first-child) {
  margin-right: 0;
}

/*
  按钮组样式
*/
.el-button-group {
  @each $type in (primary, success, warning, danger, info, fatal, ct) {
    .el-button--#{$type} {
      &:first-child {
        border-right-color: rgba($button-group-border, 0.5);
      }

      &:last-child {
        border-left-color: rgba($button-group-border, 0.5);
      }

      &:not(:first-child):not(:last-child) {
        border-left-color: rgba($button-group-border, 0.5);
        border-right-color: rgba($button-group-border, 0.5);
      }
    }
  }
}
