/* Card
-------------------------- */
.el-card {
  background-color: $card-bg;
  border-radius: $border-radius;
  border-color: $color-neutral-3;
}

.el-card.is-always-shadow {
  box-shadow: $card-shadow;
  border: none;

  &:hover,
  &:focus {
    box-shadow: $shadow-2;
  }
}

.el-card.is-hover-shadow:hover,
.el-card.is-hover-shadow:focus {
  box-shadow: $shadow-2;
}

.el-card__header {
  border-bottom: 1px solid $color-neutral-3;
}
