/* Cascader
-------------------------- */
$cascader-panel-shadow: $shadow-2;
$cascader-tags-size: $select-sm-height;

// 兼容性优化
.el-cascader-menu__wrap {
  .el-radio__input {
    line-height: 1;
  }
}

.el-cascader {

  .el-cascader-node__prefix {
    left: $common-space-2x;
  }

  .el-cascader-node__postfix {
    right: 16px;
    font-size: $text-size-md;
  }

  .el-cascader__caret.el-input__icon.el-icon-arrow-down {
    transform: rotate(360deg);
    color: $text-color-light-2;
  }

  .el-cascader__caret.el-input__icon.el-icon-arrow-down.is-reverse {
    transform: rotate(180deg);
    color: $text-color-light-2;
  }

  .el-icon-arrow-down:before {
    content: '\e6df';
  }

  .el-icon-circle-close {
    color: $color-neutral-6;
    font-size: $text-size-md;

    &:hover {
      color: $color-master-1 !important;
      cursor: pointer;
    }

    &:before {
      font-family: $font-family-cute-icons;
      content: "\ea3c";
    }
  }


  // .el-input--medium .el-input__icon {
  //   line-height: $input-height;
  // }

  .el-cascader__tags {
    left: $common-space;

    .el-tag {
      background: $cascader-tag-bg;
      display: flex;
      justify-content: center;
      margin-left: $common-space-2x;

      &.el-tag--small {
        line-height: $cascader-tags-size;
        height: $cascader-tags-size;
      }

      .el-icon-close {
        color: $cascader-tag-close-bg;
        background-color: unset;
        line-height: $cascader-tags-size;
        height: $cascader-tags-size;
        top: 0;

        &::before {
          color: $cascader-tag-close-bg;
          font-size: $text-size-md;
        }

        &:hover {
          color: $color-master-1;

          &::before {
            color: $color-master-1;
          }
        }
      }
    }

    .el-tag>span {

      color: $color-neutral-10;
    }

    // .el-tag:not(.is-hit) {
    //   border: 0;
    // }



    // .el-icon-close:before {
    //   color: $cascader-tag-close-bg;
    //   line-height: $cascader-tags-size;
    // }
  }

  &.is-disabled {
    .el-cascader__tags {
      cursor: not-allowed;
    }

    .el-input {
      cursor: not-allowed;
    }

    .el-tag.el-tag--light.el-tag--info {

      background-color: $color-neutral-1;
      border: 1px solid $color-neutral-3;

      span {
        color: $color-neutral-6;
      }
    }
  }

  // &:not(.is-disabled):hover{
  //   .el-input__inner{
  //     border: 1px solid $color-master;
  //   }
  // } 
}

.el-popper.el-cascader__dropdown {
  margin-bottom: $margin;
  margin-top: $margin-2x;
  transform: none;
  box-shadow: $shadow-2;

  .el-cascader-node {

    // padding: 0 30px 0 2px; // 有选择框不能按设计稿处理，需要重新想办法
    &:hover {
      background-color: $cascader-node-hover;
    }
  }

  .in-active-path {
    background-color: transparent;
  }

  .el-radio,
  .el-checkbox {
    padding-right: 0;
  }

  .el-cascader-panel {
    background-color: $cascader-panel-bg;
  }
}

.el-cascader-node.in-active-path,
.el-cascader-node.is-selectable.in-checked-path,
.el-cascader-node.is-active {
  font-weight: normal;

  .el-cascader-node__label {
    font-weight: bold;
  }
}

.el-cascader-node__label {
  font-weight: normal;
  padding: 0 $padding-2x;
}


@mixin input-size($size, $height, $text-size) {
  .el-cascader.el-cascader--#{$size} {
    line-height: $height;

    .el-input.el-input--large .el-input__icon {
      line-height: unset
    }
  }
}

// 组件自己 计算出来的高度比设置高度多1px 需要减掉 
@include input-size(large, $input-lg-height - 2, $text-size);
@include input-size(medium, $input-md-height - 2, $text-size);
@include input-size(small, $input-sm-height - 2, $text-size);
@include input-size(mini, $input-xs-height - 2, $text-size);

.el-cascader-menu {
  border-right: 1px solid $color-neutral-2;
}