/* Checkbox
-------------------------- */
.el-checkbox-group {
  .el-checkbox-button {
    margin-right: $margin-2x;

    &:first-child .el-checkbox-button__inner {
      border: 1px solid transparent;
    }

    &.is-focus .el-checkbox-button__inner {
      border: 1px solid transparent;
    }

    &.is-checked .el-checkbox-button__inner {
      color: $text-color;
      background-color: $checkbox-bg;
      border: 1px solid $checkbox-border;
      box-shadow: none;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        border: $margin-2x solid transparent;
        border-color: transparent $color-master $color-master transparent;
        transform: rotate(270deg);
      }

      &:after {
        content: '\eac7';
        color: $color-white;
        position: absolute;
        right: 0;
        top: 0;
        font-size: $text-size;
        zoom: 0.75;

        @include iconfont;
      }
    }

    &.is-disabled .el-checkbox-button__inner {
      color: $disabled-color;
      background-color: $disabled-bg;
      border-color: $disabled-border;

      &:before {
        border-color: transparent $disabled-border $disabled-border transparent;
      }

      &:after {
        color: $color-grey-5;
      }
    }

    &.el-checkbox-button--medium .el-checkbox-button__inner {
      padding: 7px 19px;
      border-radius: 3px;
    }
  }

  .el-checkbox-button__inner {
    color: $text-color;
    font-size: $text-size;
    background-color: $checkbox-button;
    border: 1px solid transparent;
    border-radius: $border-radius;

    &:hover {
      background-color: $color-master-5;
    }
  }
}

.el-checkbox-group + .el-form-item__error {
  padding-top: 0;
}

.el-checkbox__input {
  line-height: 14px;
}

.el-checkbox__inner {
  width: 14px;
  height: 14px;
  background-color: $color-bg-1;

  &:after {
    left: 4px;
    top: 1px;
  }
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: $color-white;
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner:before {
  background-color: $color-master;
  top: 0;
  width: 12px;
  height: 12px;
  left: 0;
}

.el-checkbox__input.is-disabled.is-indeterminate .el-checkbox__inner:before {
  border-color: $disabled-border;
  background-color: $color-grey-6;
}

.el-checkbox__input.is-disabled .el-checkbox__inner,
.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
  background: $color-bg-3;
}

.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner:after {
  border-color: $disabled-border;
}

.el-checkbox__label {
  font-size: $text-size;
  color: $text-color;
  font-weight: normal;
}
