/* Collapse
-------------------------- */
$collapse-seperate-header-height: 32px;
$collapse-icon-size: $text-size-md;

.el-collapse-item__content {
  color: $text-color;
  font-size: $text-size;
}

.el-collapse {
  border: none;

  .el-collapse-item.is-disabled .el-collapse-item__header {
    font-family: $font-family;
    font-size: $text-size;
    color: $disabled-color;
  }

  .el-collapse-item__header {
    border: 1px solid $collapse-border-color;
    font-weight: $text-title-weight;
    font-size: $text-size;
    padding-left: $padding-9x;
    position: relative;

    .el-collapse-item__arrow {
      position: absolute;
      left: $common-space-4x;
      color: $collapse-header-arrow-color;
      font-size: $collapse-icon-size;
    }
  }

  .el-collapse-item__wrap {
    border-bottom: none;
    background-color: transparent;
  }

  .el-collapse-item__content {
    line-height: $line-height;
    border: 1px solid $collapse-border-color;
    border-top: none;
  }

  &:not(.el-collapse--seperate) .el-collapse-item__content {
    padding: $padding-3x $padding-3x $padding-3x $padding-9x;
  }

  &:not(.el-collapse--seperate) {
    
    .el-collapse-item + .el-collapse-item {
      .el-collapse-item__header {
        border-top: none;
      }
    }
    .el-collapse-item:first-of-type:not(:last-of-type){
      .el-collapse-item__header {
        border-radius: $border-radius $border-radius 0 0;
      }
    }
    .el-collapse-item:last-of-type:not(:first-of-type){
      .el-collapse-item__header {
        border-radius: 0 0 $border-radius $border-radius;
      }
    }
     .el-collapse-item:first-of-type:last-of-type{
      .el-collapse-item__header {
        border-radius: $border-radius;
      }
    }
  }
}

.el-collapse--seperate {
  .el-collapse-item__header {
    background-color: $collapse-seperate-header-bg;
    border: none;
    border-radius: $border-radius;
    height: $collapse-seperate-header-height;
    margin-top: $margin-4x;
  }

  .el-collapse-item__content {
    margin-top: $margin-3x;
    border: none;
    padding: 0;
  }

  .el-collapse-item__wrap {
    border: none;
  }
}
