/* Collapse
-------------------------- */
.el-collapse {
  border: none;

  .el-collapse-item.is-disabled .el-collapse-item__header {
    font-family: $font-family;
    font-size: $text-size;
    color: $disabled-color;
  }

  .el-collapse-item__header {
    border: 1px solid $collapse-border-color;
    font-weight: $text-title-weight;
    font-size: $text-size;
    padding-left: $padding-9x;
    position: relative;

    .el-collapse-item__arrow {
      position: absolute;
      left: $common-space-4x;
      color: $collapse-header-arrow-color;
    }
  }

  .el-collapse-item__wrap {
    border-bottom: none;
    background-color: transparent;
  }

  .el-collapse-item__content {
    // font-size: $text-size;
    // color: $text-color-light;
    line-height: $line-height;
    padding: $padding-10;
    // background-color: $color-bg-1;
    border: 1px solid $collapse-border-color;
    border-top: none;
  }

  &:not(.el-collapse--seperate) {
    .el-collapse-item + .el-collapse-item {
      .el-collapse-item__header {
        border-top: none;
      }
    }
  }
}

.el-collapse--seperate {
  .el-collapse-item__header {
    background-color: $collapse-seperate-header-bg;
    border: none;
    height: $collapse-seperate-header-height;
    margin-top: $margin-6x;
  }

  .el-collapse-item__content {
    margin-top: $margin-4x;
    border: none;
    padding: 0;
  }

  .el-collapse-item__wrap {
    border: none;
  }
}
