/* Collapse
-------------------------- */
.el-collapse {
  border: none;

  .el-collapse-item.is-disabled .el-collapse-item__header {
    font-family: PingFangSC-Medium; // TODO
    font-size: $text-size;
    color: $disabled-color;
  }

  .el-collapse-item__header {
    height: $collapse-header-height;
    background: $collapse-header-bg;
    border: 1px solid $border-color;
    color: $text-color;
    font-weight: bold;
    font-size: $text-size;
    margin-top: $margin-6x;
    padding-left: $padding-9x;
    position: relative;

    .el-collapse-item__arrow {
      position: absolute;
      left: $common-sapce-4x;
      color: $text-color-light;
    }
  }

  .el-collapse-item__wrap {
    border-bottom: none;
    background-color: transparent;
  }

  .el-collapse-item__content {
    font-size: $text-size;
    color: $text-color-light;
    line-height: 20px; // TODO
    padding: $padding-10;
    background-color: $color-bg-1;
    border: 1px solid $border-color;
    border-top: none;
  }
}

.el-collapse--seperate {
  .el-collapse-item__header {
    background-color: $color-grey-8;
    border: none;
    height: $collapse-item-header-height;
  }

  .el-collapse-item__content {
    margin-top: $margin-4x;
    border: none;
    padding: 0;
  }

  .el-collapse-item__wrap {
    border: none;
  }
}
