/* Content Area Tips
-------------------------- */
/*
  $class:类名;
  $color:字体颜色;
  $iconColor:icon颜色;
*/
@mixin contentareatips-page($class: info, $color: $color-neutral-7, $icon-color: $color-neutral-7) {
  .is-content-area-tip {
    .el-alert--#{$class}.is-light {
      background-color: $color-bg-2;
      color: $color;

      .el-alert__icon {
        color: $icon-color;
      }
    }
  }
}

@include contentareatips-page();
@include contentareatips-page(warning, $color-warning, $color-warning);
@include contentareatips-page(error, $color-danger, $color-danger);
