/* DatePicker
-------------------------- */
$datepicker-shadow: $shadow-2;
$datepicker-footer-padding: $common-space-2x 16px;
$datepicker-border-color: $color-neutral-3;
$datepicker-footer-button-color: $color-white;

.el-picker-panel.el-date-picker.el-popper.has-sidebar // .el-picker-panel__body-wrapper {
//   min-width: 640px;
// }


.el-date-range-picker {
  .el-picker-panel__body {
    min-width: 600px;
  }
}

.el-date-picker {
  width: auto;

  &.has-sidebar {
    width: auto;
  }
}

.el-date-picker:not(.el-picker-panel.el-date-picker.el-popper.has-sidebar) {
  width: 344px;

  .el-picker-panel__content {
    width: 344px;
    margin: 0;
  }
}

.el-picker-panel {
  line-height: 28px;
  border: none;

  .el-picker-panel__sidebar {
    width: 105px;
  }

  .el-picker-panel__sidebar + .el-picker-panel__body {
    margin-left: 105px;
  }
}

.el-picker-panel__footer {
  background-color: $color-bg-1;
}

.el-picker-panel.el-popper.has-time {
  .el-time-panel__footer {
    border-top: 1px solid $datepicker-border-color;
  }
}

.el-picker-panel.el-popper.time-select {
  background-color: $color-bg-1;
  box-shadow: $shadow-2;
  border-radius: $border-radius;

  .time-select-item {
    font-size: $text-size;

    &:hover {
      background-color: $color-neutral-1;
      // color: $color-master;
    }

    &.selected {
      background-color: unset;
      color: $color-master;
      font-weight: bold;
    }
  }
}

.time-select-item:hover {
  font-weight: normal;
}

.el-picker-panel.el-date-picker.el-popper.has-sidebar,
.el-picker-panel.el-date-range-picker.el-popper.has-sidebar {
  .el-picker-panel__sidebar {
    padding-top: $padding-3x;
    background-color: $color-bg-1;
    border-right: 1px solid $datepicker-border-color;

    .el-picker-panel__shortcut {
      font-size: $text-size;
      font-weight: normal;
      color: $color-neutral-10;

      &:hover {
        color: $color-master;
      }
    }
  }

  .el-date-range-picker__time-header {
    border-bottom: 1px solid $datepicker-border-color;
  }
}

.el-date-range-picker__time-header,
.el-date-picker__time-header {
  padding-left: $common-space-3x;
  padding-right: $common-space-3x;
  padding-top: 5px;
  padding-bottom: 7px;
}

.el-picker-panel.el-date-range-picker.el-popper {
  width: 646px;
  background-color: $color-bg-1;
}

.el-picker-panel.el-date-range-picker.el-popper {
  box-shadow: $shadow-2;

  .el-date-range-picker__content.is-left {
    border-right: 1px solid $datepicker-border-color;
  }
}

.el-picker-panel.el-date-range-picker.el-popper[x-placement^='bottom'] {
  margin-top: $margin;
}

.el-picker-panel.el-date-range-picker.el-popper[x-placement^='top'] {
  margin-bottom: $margin;
}

.el-picker-panel.el-date-range-picker.el-popper.has-sidebar {
  width: 792px;
}

.el-picker-panel.el-date-range-picker.el-popper.has-time {
  .el-date-range-picker__time-header {
    border-bottom: 1px solid $datepicker-border-color;
  }

  .el-time-spinner__list:after {
    height: 160px;
  }
}

.el-picker-panel.el-date-picker.el-popper {
  background-color: $color-bg-1;
  box-shadow: $shadow-2;
  border-radius: $border-radius;

  .el-picker-panel__sidebar {
    border-right: 1px solid $datepicker-border-color;
  }

  .el-date-picker__time-header {
    border-bottom: 1px solid $datepicker-border-color;
    padding-bottom: 6px;
  }

  .el-time-spinner__list:after {
    height: 160px;
  }
}

.el-picker-panel.el-date-picker.el-popper.has-sidebar {
  .el-picker-panel__content {
    width: 345px;
  }
}

/* DatePicker-editor
-------------------------- */

.el-range-editor.el-input__inner {
  background-color: $color-bg-1;
  padding: 3px $padding-3x;

  &.is-disabled {
    background-color: $color-neutral-1;
  }
}

.el-range-editor--medium.el-input__inner {
  height: $input-height;
  line-height: $input-height;
}

.el-range-editor .el-range__icon,
.el-range-editor .el-range__close-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.el-range-editor .el-range__close-icon {
  justify-content: right;
  color: $color-neutral-6;
}

.el-range-editor--medium .el-range__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.el-range-editor--medium {
  .el-range__icon,
  .el-range__close-icon {
    display: flex;
    align-items: center;
    height: $input-sm-height;
    line-height: $input-sm-height;
  }
}

.el-range-editor--medium,
.el-range-editor--small,
.el-range-editor--large,
.el-date-editor {
  .el-input__suffix-inner {
    width: 14px;

    .el-input__icon::before {
      font-size: $text-size-md;
    }
  }

  .el-range__icon {
    color: $color-neutral-6;
    margin-left: 0;
    font-size: $text-size-md;
    justify-content: left;
  }

  .el-input__prefix {
    color: $color-neutral-6;

    .el-input__icon {
      width: $text-size-md;
      color: $color-neutral-6;
      margin-left: 0;
      font-size: 14px;

      &::before {
        font-size: $text-size-md;
      }
    }
  }

  .el-range-separator {
    width: 40px;
    color: $color-grey-4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $text-size;
  }

  .el-range-input,
  .el-input__inner {
    background-color: $color-bg-1;
  }

  .el-date-editor .el-range-separator {
    width: 40px;
    color: $color-neutral-6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $text-size;

    &:hover {
      color: $color-master-1;
    }

    &::before {
      content: '\ea3c';
    }
  }

  .el-range-input {
    font-size: $text-size;
    line-height: normal;
  }

  &.el-input .el-input__suffix {
    right: $common-space-3x !important;
  }

  &.el-input.el-input--medium {
    .el-input__icon.el-icon-time {
      line-height: $input-height;
    }

    .el-input__icon.el-icon-date {
      line-height: $input-height;
    }
  }
}

.el-picker-panel__icon-btn {
  color: $color-neutral-6;
}

.el-range-editor--large,
.el-range-editor--small {
  .el-range-input {
    &::placeholder {
      position: relative;
      top: 1px;
    }
  }
}

.el-range-editor--small .el-range-input {
  font-size: $text-size;
  line-height: normal;
}

.el-time-panel {
  width: 160px;
}

.el-time-panel__content:before {
  top: 19px;
  border: 0;
  background-color: $color-neutral-1;
}

.el-time-panel__content.has-seconds:before {
  margin: -15px 0;
}

.el-time-panel__btn.confirm {
  font-weight: normal;
  margin: 0 1px;
}

.el-date-table {
  tr:nth-child(2) {
    td {
      padding-top: 9px;
      box-sizing: content-box;
      height: 36px !important;
    }
  }

  th {
    border-bottom: 1px solid $datepicker-border-color;
    padding: 5px 5px 8px 5px;
  }

  td {
    height: $date-panel-btn-size + 16 !important;
    width: $date-panel-btn-size;

    &.start-date div {
      margin-left: 8px;
    }

    &.end-date div {
      margin-right: 8px;
    }

    div {
      padding: 0;
      // padding-top: 4px;
      height: $date-panel-btn-size;
    }

    span {
      height: $date-panel-btn-size;
      width: $date-panel-btn-size;
      line-height: $date-panel-btn-size;
    }
  }
}

.el-picker-panel__footer {
  border-top: 1px solid $datepicker-border-color;
  background-color: $color-bg-1;
  padding: $datepicker-footer-padding;

  .el-button--default {
    &.is-plain {
      background-color: $color-master;
      color: $datepicker-footer-button-color;
      border-color: $color-master;

      &:hover {
        background: $color-master-hover;
        border-color: $color-master-hover;
      }

      &.is-disabled,
      &.is-disabled:hover {
        background-color: $color-master-disabled;
        color: $datepicker-footer-button-color;
        border-color: $color-master-disabled;
      }
    }
  }

  .el-button--text {
    width: 42px;
    height: 24px;
    display: inline-block;
  }
}

.el-date-picker__header,
.el-date-range-picker__header {
  margin: 12px 16px 8px 16px !important;
}

.el-date-range-picker__time-header {
  .el-icon-arrow-right {
    color: $color-neutral-6;
  }
}

.el-picker-panel__icon-btn {
  font-size: 14px;
}

.el-picker-panel__content {
  padding: 0 8px 8px 8px !important;
  margin: 0 !important;
}
