/* DatePicker
-------------------------- */
$datepicker-shadow: $shadow-2;
.el-picker-panel.el-date-picker.el-popper.has-sidebar // .el-picker-panel__body-wrapper {
//   min-width: 640px;
// }

.el-date-range-picker .el-picker-panel__body {
  min-width: 600px;
}

.el-date-picker {
  width: auto;

  &.has-sidebar {
    width: auto;
  }
}

.el-date-picker:not(.el-picker-panel.el-date-picker.el-popper.has-sidebar) {
  // width: 380px;

  .el-picker-panel__content {
    width: 350px;
  }
}

.el-picker-panel {
  border: none;

  .el-picker-panel__sidebar {
    width: 140px;
  }

  .el-picker-panel__sidebar+.el-picker-panel__body {
    margin-left: 140px;
  }
}

.el-picker-panel__footer {
  background-color: $color-bg-1;
}

.el-picker-panel.el-popper.has-time {
  .el-time-panel__footer {
    border-top: 1px solid $border-color-light;
  }
}

.el-picker-panel.el-popper.time-select {
  background-color: $color-bg-1;
  box-shadow: $shadow-2;
  border-radius: $border-radius;

  .time-select-item {
    font-size: $text-size;

    &:hover {
      background-color: $color-master-bg-light-2;
      color: $color-master;
    }

    &.selected {
      background-color: unset;
      color: $color-master;
      font-weight: normal;
    }
  }
}

.time-select-item:hover {
  font-weight: normal;
}

.el-picker-panel.el-date-picker.el-popper.has-sidebar,
.el-picker-panel.el-date-range-picker.el-popper.has-sidebar {
  .el-picker-panel__sidebar {
    padding-top: $padding-3x;
    background-color: $color-bg-1;
    border-right: 1px solid $border-color-light;

    .el-picker-panel__shortcut {
      font-size: $text-size;
      font-weight: 400;
      color: $color-grey-1;

      &:hover {
        color: $color-master;
      }
    }
  }

  .el-picker-panel__footer {
    border-top: 1px solid $border-color-light;
    background-color: $color-bg-1;
  }

  .el-date-range-picker__time-header {
    border-bottom: 1px solid $border-color-light;
  }
}

.el-picker-panel.el-date-range-picker.el-popper {
  width: 720px;
  background-color: $color-bg-1;
}

.el-picker-panel.el-date-range-picker.el-popper {
  box-shadow: $shadow-2;

  .el-date-range-picker__content.is-left {
    border-right: 1px solid $border-color-light;
  }
}

.el-picker-panel.el-date-range-picker.el-popper[x-placement^='bottom'] {
  margin-top: $margin;
}

.el-picker-panel.el-date-range-picker.el-popper[x-placement^='top'] {
  margin-bottom: $margin;
}

.el-picker-panel.el-date-range-picker.el-popper.has-sidebar {
  width: 860px;
}

.el-picker-panel.el-date-range-picker.el-popper.has-time {
  .el-date-range-picker__time-header {
    border-bottom: 1px solid $border-color-light;
  }

  .el-picker-panel__footer {
    border-top: 1px solid $border-color-light;
  }

  .el-time-spinner__list:after {
    height: 160px;
  }
}

.el-picker-panel.el-date-picker.el-popper {
  background-color: $color-bg-1;
  box-shadow: $shadow-2;
  border-radius: $border-radius;

  .el-picker-panel__sidebar {
    border-right: 1px solid $border-color-light;
  }

  .el-picker-panel__footer {
    background-color: $color-bg-1;
    border-top: 1px solid $border-color-light;
  }

  .el-date-picker__time-header {
    border-bottom: 1px solid $border-color-light;
  }

  .el-time-spinner__list:after {
    height: 160px;
  }
}

.el-picker-panel.el-date-picker.el-popper.has-sidebar {

  .el-picker-panel__content {
    width: 350px;
  }
}

/* DatePicker-editor
-------------------------- */

.el-range-editor.el-input__inner {
  background-color: $color-bg-1;
}

.el-range-editor--medium.el-input__inner {
  height: $input-height;
  line-height: $input-height;
}

.el-range-editor .el-range__icon,
.el-range-editor .el-range__close-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.el-range-editor .el-range__close-icon {
  justify-content: right;
}

.el-range-editor--medium .el-range__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.el-range-editor--medium .el-range__icon,
.el-range-editor--medium .el-range__close-icon {
  display: flex;
  align-items: center;
}

.el-range-editor--medium .el-range-input,
.el-date-editor.el-range-input {
  font-size: $text-size;
  background-color: $color-bg-1;
}

.el-date-editor {

  .el-range-input,
  .el-input__inner {
    background-color: $color-bg-1;
  }
}

.el-date-editor .el-range-separator {
  width: 40px;
  color: $color-grey-4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $text-size;
}

.el-date-editor.el-input {
  .el-input__suffix {
    right: 5px;
  }
}

.el-date-editor.el-input.el-input--medium {
  .el-input__icon.el-icon-time {
    line-height: $input-height;
  }

  .el-input__icon.el-icon-date {
    line-height: $input-height;
  }
}

.el-time-panel__content:before {
  top: 19px;
  border: 0;
  background-color: $color-master-bg-light-2;
}

.el-time-panel__content.has-seconds:before {
  margin: -15px 0;
}

.el-time-panel__btn.confirm {
  font-weight: 400;
}

.el-date-table {
  td {
    height: $date-panel-btn-size;
    width: $date-panel-btn-size;

    div {
      padding: 0;
      margin: 3px 0;
    }

    span {
      height: $date-panel-btn-size;
      width: $date-panel-btn-size;
      line-height: $date-panel-btn-size;
    }
  }
}