/* Descriptions
-------------------------- */

.el-descriptions {
  &__header {
    margin-bottom: $margin-4x;
  }
  &__title {
    font-size: $text-size-md;
  }
  &-row {
    padding: $padding 0;
  }

  &__body {
    .el-descriptions-row {
      .el-descriptions-item__cell {
        padding-bottom: $padding-4x;
        .el-descriptions-item__label {
          margin-right: $margin-4x;
        }
      }
    }
    .el-descriptions-item__label {
      color: $descriptions-font-color-label;
      &.is-bordered-label {
        background: $color-neutral-1;
        // text-align: right;
        color: $descriptions-font-color-label-bordered;
        font-weight: 400;
        padding-right: $padding-6x;
        width: $descriptions-label-width;
      }
    }
  }

  .is-bordered {
    .el-descriptions-item__cell {
      border-color: $color-neutral-3;
      min-height: $descriptions-item-height;
    }
    &.el-descriptions__table {
      border-radius: $border-radius;
    }
    th.is-bordered-label,
    td.el-descriptions-item__content {
      padding: $padding-10 0 $padding-4x $padding-3x;
    }
  }
  &-item {
    &__label {
      min-width: $descriptions-item-label-min-width;
    }
    &__cell &__content {
      width: $descriptions-item-content-width;
      // background-color: $color-bg-2;

      div {
        line-height: $descriptions-item-content-line-height;
      }
    }
  }
}
