/* Descriptions
-------------------------- */
$descriptions-label-width: 160px;
$descriptions-item-height: 40px;
$descriptions-item-content-width: 525px;
$descriptions-item-content-line-height: 22px;
$descriptions-item-label-max-width: 128px;

.el-descriptions {
  &__header {
    margin-bottom: $margin-4x;
  }
  &__title {
    font-size: $text-size-md;
  }
  &-row {
    padding: $padding 0;
  }

  &__body {
    background: transparent;
    color: $text-color;
    .el-descriptions-row {
      .el-descriptions-item__cell {
        // padding-bottom: $padding-4x;
        padding: $padding-2x;
        .el-descriptions-item__label {
          margin-right: $margin-4x;
        }
        &.el-descriptions-item__content {
          padding-left: $padding-6x;
        }
      }
    }
    .el-descriptions-item__label {
      // color: $descriptions-font-color-label;
      color: $text-color-light;
      &.is-bordered-label {
        background: $color-neutral-1;
        // text-align: right;
        // color: $descriptions-font-color-label-bordered;
        color: $text-color;
        padding-right: $padding-6x;
        // width: $descriptions-label-width;
      }
    }
  }

  .is-bordered {
    .el-descriptions-item__cell {
      border-color: $color-neutral-3;
      min-height: $descriptions-item-height;
    }
    &.el-descriptions__table {
      border-radius: $border-radius;
    }
    th.is-bordered-label,
    td.el-descriptions-item__content {
      // padding-left: $padding-6x;
    }
    td.el-descriptions-item__content {
      color: $text-color;
    }
    th.el-descriptions-item__label {
      color: $text-color-light;
      text-align: right;
    }
  }
  &-item {
    &__label {
      width: $descriptions-item-label-max-width;
    }
    &__cell &__content {
      width: $descriptions-item-content-width;
      // background-color: $color-bg-2;
      padding-left: $padding-6x;

      div {
        line-height: $descriptions-item-content-line-height;
      }
    }
  }
}
