/* Drawer
-------------------------- */
.v-modal {
  opacity: 0.4;
}

.el-drawer {
  .el-form {
    .el-form-item--medium .el-form-item__label {
      line-height: 32px; //TODO
      font-weight: 400;
      color: $text-color;
      font-size: $text-size;
    }

    .el-form-item--medium .el-form-item__content {
      line-height: 30px;
    }
  }
}

.el-drawer.rtl {
  .el-drawer__header {
    padding-top: $padding-4x;
    padding-bottom: $padding-4x;
    border-bottom: 1px solid $border-color-light;
    margin-bottom: 0;
    background-color: $color-bg-1;

    &:first-child {
      color: $text-color;
      font-size: $text-size-lg;
      font-weight: bold;
    }
  }

  .el-drawer__body {
    background-color: $color-bg-2;
    color: $color-grey-1;
  }
}

.el-drawer__close-btn {
  color: $color-grey-3;
  font-size: 18px;
}

.el-drawer {
  .el-form--label-top .el-form-item__label {
    padding: 0 0 $padding-2x;
  }

  .el-form-item {
    margin-bottom: $padding-6x;
  }
}