/* Dropdown
-------------------------- */
$dropdown-item-padding-top-bottom: 7px;
$dropdown-min-width: 120px;
$dropdown-icon-line-height: 0.5;

.el-dropdown-menu {
  min-width: $dropdown-min-width;

  .popper__arrow,
  .popper__arrow:after {
    display: none;
    border-bottom-color: transparent;
  }

  &.el-popper[x-placement^='bottom'] {
    margin-top: $margin;
  }

  &.el-popper[x-placement^='top'] {
    margin-bottom: $margin;
  }

  .el-dropdown-menu__item {
    font-size: $text-size;
    line-height: $line-height;
    padding: $dropdown-item-padding-top-bottom $padding-4x;

    &:hover {
      background: $color-master-bg-light-2;
      color: $color-master;
    }

    &:active {
      background: $color-master;
      color: $color-white;
    }
  }
}

.el-dropdown {
  .el-button:hover,
  .el-button:focus {
    .svg-icon {
      color: $color-master;
    }
  }

  .svg-icon:not(:first-child) {
    margin-left: $margin-3x;
  }

  .svg-icon {
    color: $button-icon-color;
  }

  &__icon.el-icon-arrow-down {
    line-height: $dropdown-icon-line-height;
  }
}
