/* Dropdown
-------------------------- */
$dropdown-item-padding-top-bottom: 7px;
$dropdown-min-width: 120px;
$dropdown-icon-line-height: 0.5;
$dropdown-item-medium-line-height: 34px;
// $dropdown-shadow: 0px 0px 16px rgba(100, 110, 144, 0.15);

@mixin dropdown-size($size, $font-size) {
  .el-dropdown-menu--#{$size} {
    .el-dropdown-menu__item {
      font-size: $font-size;
    }
  }
  .el-dropdown {
    .el-button--#{$size} {
      font-size: $font-size;
    }
  }
}

// @mixin dropdown-button-size($size, $font-size, $padding, $icon-vertical-align) {
//   $top-padding: str-slice(
//     inspect($padding),
//     1,
//     str-index(inspect($padding), ' ') - 1
//   ); // 从第1个字符开始，截取到第一个空格前的字符

//   .el-dropdown-menu--#{$size} {
//     font-size: $font-size;
//     padding: $padding;

//     .svg-icon,
//     [class*='el-icon-'] {
//       font-size: $font-size - 1; // 文字字体大小减1后再通过scale缩放，避免按钮被撑高的问题
//       line-height: 1;
//       transform: scale(1.28);
//     }

//     .svg-icon {
//       vertical-align: $icon-vertical-align !important;
//     }

//     [class*='el-icon-'] {
//       vertical-align: $icon-vertical-align + 0.11em !important;
//     }

//     &.is-square {
//       padding: $top-padding $top-padding;
//     }

//     &.is-round {
//       padding: $padding;
//     }
//   }
// }

@include dropdown-size(mini, $text-size);
@include dropdown-size(small, $text-size);
@include dropdown-size(medium, $text-size);
@include dropdown-size(large, $text-size-md);

.el-dropdown-menu {
  // min-width: $dropdown-min-width;
  &.el-popper {
    box-shadow: $shadow-2;
  }

  .popper__arrow,
  .popper__arrow:after {
    display: none;
    border-bottom-color: transparent;
  }

  &--medium {
    .el-dropdown-menu__item {
      line-height: $dropdown-item-medium-line-height;
    }
  }

  .el-dropdown-menu__item {
    // font-size: $text-size;
    // line-height: $line-height;
    // min-height: 32px;
    // padding: 0 $padding-4x;
    text-align: left;

    &:hover {
      background: $color-neutral-1;
      color: $text-color;
    }

    &:active {
      // background: $color-master;
      color: $color-master;
      font-weight: $text-title-weight;
    }
  }
}

.el-dropdown {
  .el-button:hover,
  .el-button:focus {
    .svg-icon {
      color: $color-master;
    }
  }

  .svg-icon:not(:first-child) {
    margin-left: $margin-3x;
  }

  .svg-icon {
    color: $button-icon-color;
  }

  &__icon.el-icon-arrow-down {
    line-height: $dropdown-icon-line-height;
  }
}
