// _element-override.scss中剩余样式
// TODO 待确认作用后优化：转移、删除

.input-icon {
  .el-input {
    width: 200px;
  }
}

.suffix-box {
  display: flex;
  justify-content: center;
    .suffix-forgot-line {
      height: 12px;
      width: 1px;
      display: inline-block;
      background-color: $border-color-primary;
      margin:2px $text-size-primary;
  }

  // .suffix-forgot + .el-link {
  //   line-height: 32px;
  // }
}
.icon-money {
  line-height: 32px;
  // margin-right: $text-size-primary;
  font-weight: normal;

  &:hover {
    cursor: pointer;
  }
}

.bt-operation {
  color: $color-master-1;
}
