/* Form
-------------------------- */
.el-form-item__label {
  padding-right: $padding-4x;
  color: $text-color;
}

.el-form-item {
  margin-bottom: $margin-6x;
}

.el-form-item__error {
  padding-top: $form-item-error-padding-top;
}

.el-form-item--medium {
  .el-form-item__label {
    line-height: $form-item-label-line-height;
  }
}

.el-form--inline .el-form-item {
  margin-right: $margin-5x;
}

.el-form-item--medium .el-form-item__content {
  line-height: $form-item-label-line-height;
}

.el-form-item__error {
  display: flex;
  align-items: center;

  &:before {
    font-family: $font-family-cute-icons;
    font-size: $text-size-md;
    content: '\ea5c';
    color: $color-danger;
    vertical-align: top;
    margin-right: $margin;
  }
}

.el-form-item.is-error .el-input__inner {
  border: 1px solid $color-danger;
  background: $color-danger-bg;
}
