/* Form
-------------------------- */
.el-form-item__label {
  padding-right: $padding-4x;
  color: $text-color;
}

.el-form-item {
  margin-bottom: $form-item-margin-bottom;
  .el-checkbox-group{ height: 24px;}
}

.el-form-item__error {
  padding: $form-item-error-padding-top 0;
}

.el-form-item--mini,.el-form-item--small{
  &.el-form-item{
    margin-bottom: $form-item-margin-bottom;
  }
}

.el-form-item__error {
  display: flex;
  align-items: center;

  &:before {
    font-family: $font-family-cute-icons;
    font-size: $text-size-md;
    content: '\ea5c';
    color: $color-danger;
    vertical-align: top;
    margin-right: $margin;
  }
}
.el-form-item.is-error .el-input__inner {
  border: 1px solid $color-danger;
  background: $color-danger-bg;
}
.el-form--inline .el-form-item {
  margin-right: $margin-5x;
}

@mixin form-size($size, $height, $padding) {
  .el-form-item{
    &.el-form-item--#{$size}{
      line-height: $height - 2;
      
      .el-form-item__label {
        line-height:  $height - 2;
      }
      .el-form-item__content {
        line-height:  $height - 2;
      }
    }
  }
}
@include form-size(large, $input-lg-height, $input-lg-padding);
@include form-size(medium, $input-md-height, $input-md-padding);
@include form-size(small, $input-sm-height, $input-sm-padding);
@include form-size(mini, $input-xs-height, $input-xs-padding);
