/* Icon
-------------------------- */
.el-icon-close:before {
  @include iconfont;

  content: '\ea3c';
}

.el-icon-error:before {
  @include iconfont;

  content: '\ea5c';
}

.el-icon-cloudy {
  vertical-align: text-bottom;

  &:before {
    font-size: $text-size-lg;
    margin-right: 2px;
  }
}

.el-icon-circle-check:before {
  @include iconfont;

  content: '\ea4a';
}

.el-icon-circle-close:before {
  @include iconfont;

  content: '\ea5c';
}

.el-icon-info {
  &:before {
    @include iconfont;

    content: '\eb5f';
  }
}
