/* Input
-------------------------- */
$input-prefix-padding: $padding-9x;
$input-suffix-padding: $padding-9x;

/*
  重置Input基本样式
*/
.el-input {
  .el-input__inner {
    padding: 0 $margin-3x;

    // &:active,
    // &:focus {
    //   box-shadow: $shadow-form-item;
    // }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }

  // 含前置前置元素的输入框样式，区别于下面的.el-input__prefix
  &.el-input--prefix {
    .el-input__inner {
      padding-left: $input-prefix-padding;
    }

    // 前置元素样式
    .el-input__prefix {
      display: flex;
      align-items: center;
      left: $padding-3x;

      .el-input__icon {
        width: auto;
      }
    }
  }

  // 后置元素样式
  .el-input__suffix {
    color: $color-neutral-6;
    display: flex;
    align-items: center;
    right: $padding-4x;

    .el-input__icon {
      width: auto;
    }

    .el-input__inner {
      padding-right: $input-suffix-padding;
    }

    // 后置图标样式
    .el-input__suffix-inner {
      .svg-icon {
        font-size: $text-size-lg;
        vertical-align: text-bottom;
      }

      // 关闭图标样式
      .el-icon-close {
        &:hover {
          color: $color-neutral-5;
          cursor: pointer;
        }
      }
    }
  }

  // 复杂输入框组
  &.el-input-group {

    .el-input-group__append,
    .el-input-group__prepend {
      padding: 0 $common-space-3x;
      color: $text-color;

      div.el-select,
      button.el-button {
        border-color: transparent;
        background-color: transparent;
        color: inherit;
        border-top: 0;
        border-bottom: 0;
      }

      .el-select {
        min-width: 80px;
        margin: -10px -12px;

        .el-input__inner::placeholder {
          color: $text-color;
        }
      }
    }

    &.input-with-select {

      .el-input-group__append,
      .el-input-group__prepend {
        background-color: transparent;
      }
    }
  }

  // 禁用状态样式
  &.is-disabled {
    .el-input__inner {
      background-color: $color-neutral-1;
      border: 1px solid $disabled-border;
      color: $select-color-disabled;

      &:active,
      &:focus {
        box-shadow: none;
      }
    }

    .el-input__prefix,
    .el-input__suffix {
      color: $select-color-disabled;
    }

    .prefix-placeholder {
      color: $select-color-disabled;
    }

  }
}

/*
  提示
*/
.input-right-tips {
  color: $color-neutral-7;
  margin-left: $margin-7x;
}

.el-input.input-forgot.el-input--suffix .el-input__inner {
  padding-right: 110px;
}

.el-input.el-input--suffix .el-input__inner {
  padding-right: $padding-10x;
}

.el-select .el-input.el-input--suffix .el-input__inner {
  padding-right: 30px;
}

.el-textarea__inner {
  font-family: unset;
}

@mixin input-size($size, $height, $text-size) {
  .el-input.el-input--#{$size} {
    line-height: $height - 2;
    font-size: $text-size;

    .el-input__inner {
      height: $height;
      line-height: $height;
    }

    .el-input__icon {
      line-height: $height;
    }

    .el-input__suffix-inner .el-icon-close {
      line-height: $height;
    }
  }
}

@include input-size(large, $input-lg-height, $text-size);
@include input-size(medium, $input-md-height, $text-size);
@include input-size(small, $input-sm-height, $text-size);
@include input-size(mini, $input-xs-height, $text-size);