/* Input
-------------------------- */
/*
  重置Input基本样式
*/
.el-input {
  font-size: $text-size-primary;

  .el-input__inner {
    padding: 0 $margin-3x;
    background-color: $color-bg-1;

    &:hover {
      border-color: $border-color-dark;
    }

    &:active,
    &:focus {
      border: 1px solid $color-master;
      box-shadow: $shadow-input; //TODO
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }

  // 前置元素样式
  &.el-input__prefix {
    display: flex;
    align-items: center;

    // 前置搜索图标样式
    .el-input__icon.el-icon-search {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  // 后置元素样式
  &.el-input__suffix {
    display: flex;
    align-items: center;
    right: $common-sapce-3x;

    // 后置图标样式
    .el-input__suffix-inner {
      .svg-icon {
        font-size: $text-size-lg;
        vertical-align: text-bottom;
      }
  
      .el-icon-view {
        font-size: $text-size-lg;
        vertical-align: text-bottom;
      }
  
      // 关闭图标样式
      .el-icon-close {
        padding-right: 15px; //TODO
  
        &:hover {
          color: $color-master;
          cursor: pointer;
        }
      }
    }
  }

  // 禁用状态样式
  &.is-disabled {
    .el-input__inner {
      background-color: $color-grey-10;
      border: 1px solid $disabled-border;
    }
  }
}

@mixin input-size($size, $height, $text-size) {
  .el-input.el-input--#{$size} {
    font-size: $text-size;
    height: $height;


    .el-input__inner {
      height: $height;
      line-height: $height;
    }

    .el-input__icon {
      line-height: $height;
    }

    .el-input__suffix-inner .el-icon-close {
      line-height: $height;
    }
  }
}


// .el-input.el-input--small {
//   height: 28px;

//   .el-input__inner {
//     height: 28px;
//     line-height: 28px;
//     background-color: $color-bg-1;
//   }

//   .el-input__icon {
//     line-height: 28px;
//   }
// }



// .el-input.el-input--samll.el-input--prefix {
//   height: 28px;

//   .el-input__inner {
//     height: 28px;
//     background: $color-bg-1;
//   }
// }

// .el-input__inner {
//   padding: 0 12px;
//   // line-height: 1 !important; // 无效删掉
// }

.el-input-group__append,
.el-input-group__prepend {
  .el-select {
    .el-input.el-input--suffix {
      width: 100%;

      .el-input__inner {
        background-color: $color-bg-1;
        height: 28px;
      }
    }

    .el-input__suffix {
      height: 28px;
      line-height: 28px;
    }
  }

  width: 80px;
  background: $color-bg-1;
  color: $text-color-primary;

  .el-input__inner::placeholder {
    color: $text-color-primary;
  }
}

.el-input-group__prepend {
  color: $text-color-light-1;
}

// .el-input__prefix {
//   display: flex;
//   align-items: center;
// }

// .el-input.is-disabled .el-input__inner {
//   border: 1px solid $disabled-border;
// }

// .el-input__inner:hover {
//   border-color: $border-color-dark-1;
// }

// .el-input__inner:active,
// .el-input__inner:focus {
//   border: 1px solid $color-master-1;
//   box-shadow: $shadow-input;
// }

// .el-input__inner::-webkit-outer-spin-button,
// .el-input__inner::-webkit-inner-spin-button {
//   appearance: none;
// }

// .el-input__suffix-inner {
//   .el-icon-close {
//     padding-right: 15px;

//     &:hover {
//       color: $color-master-1;
//       cursor: pointer;
//     }
//   }

//   .svg-icon {
//     font-size: 16px;
//     vertical-align: text-bottom;
//   }

//   .el-icon-view {
//     font-size: 16px;
//     vertical-align: text-bottom;
//   }
// }

.el-input--medium .el-input__inner {
  height: 32px;
  line-height: 32px;
  background-color: $color-bg-1;
}

.el-input.el-input--mini.el-input--suffix {
  .el-input__inner {
    background-color: $color-bg-1;
  }
}
