/* Input
-------------------------- */
$input-prefix-padding: $padding-9x !default;
$input-suffix-padding: $padding-9x !default;

/*
  重置Input基本样式
*/
.el-input {
  .el-input__inner {
    padding: 0 $margin-3x;
    &:active,
    &:focus {
      box-shadow: $shadow-form-item;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }

  // 含前置前置元素的输入框样式，区别于下面的.el-input__prefix
  &.el-input--prefix {
    .el-input__inner {
      padding-left: $input-prefix-padding;
    }

    // 前置元素样式
    .el-input__prefix {
      display: flex;
      align-items: center;
      left: $padding-4x;

      .el-input__icon {
        width: auto;
      }
      // .el-input__icon.el-icon-search {
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      // }
    }
  }
  

  // 后置元素样式
  .el-input__suffix {
    display: flex;
    align-items: center;
    right: $padding-4x;

    .el-input__icon {
      width: auto;
    }

    .el-input__inner {
      padding-right: $input-suffix-padding;
    }

    // 后置图标样式
    .el-input__suffix-inner {
      .svg-icon {
        font-size: $text-size-lg;
        vertical-align: text-bottom;
      }
  
      // .el-icon-view {
      //   font-size: $text-size-lg;
      //   vertical-align: text-bottom;
      // }
  
      // 关闭图标样式
      .el-icon-close {  
        &:hover {
          color: $color-master;
          cursor: pointer;
        }
      }
    }
  }

  // 复杂输入框组
  &.el-input-group {
    .el-input-group__append,
    .el-input-group__prepend {
      color: $text-color;

      div.el-select, button.el-button {
        border-color: transparent;
        background-color: transparent;
        color: inherit;
        border-top: 0;
        border-bottom: 0;
      }

      .el-select {
        min-width: 80px;

        .el-input__inner::placeholder {
          color: $text-color;
        }
      }
    }

    
    &.input-with-select {
      .el-input-group__append,
      .el-input-group__prepend {
        background-color: transparent;  
      }
    }
  }

  // 禁用状态样式
  &.is-disabled {
    .el-input__inner {
      background-color: $color-grey-10;
      border: 1px solid $disabled-border;

      &:active, &:focus {
        box-shadow: none;
      }
    }
  }
}
/*
  提示
*/
.input-right-tips { color: $color-neutral-7; margin-left: 28px; }
/*
  IP地址输入框
*/
.input-ip { 
  display: flex;
  align-items: center;
  .el-input-number{ width: 48px; text-align: center;}
  // .el-input.el-input--medium .el-input__inner {text-align: center;}
  .el-input-number.is-without-controls .el-input__inner{ padding: 0 5px;}
  .ip-dot{ height: 18px; width: 18px; margin: 0 8px; text-align: center; font-size: 18px; line-height: 16px; color: $text-color;}
}

.el-input.input-forgot.el-input--suffix .el-input__inner { padding-right: 110px;}
.el-input.el-input--suffix .el-input__inner { padding-right: 40px;}
.el-select .el-input.el-input--suffix .el-input__inner { padding-right: 30px;}

@mixin input-size($size, $height, $text-size) {
  .el-input.el-input--#{$size} {
    font-size: $text-size;

    .el-input__inner {
      height: $height;
      line-height: $height - 2;
    }

    .el-input__icon {
      line-height: $height;
    }

    .el-input__suffix-inner .el-icon-close {
      line-height: $height;
    }
  }
}

@include input-size(large, $input-lg-height, $text-size);
@include input-size(medium, $input-md-height, $text-size);
@include input-size(small, $input-sm-height, $text-size);
@include input-size(mini, $input-xs-height, $text-size);
