/* Link
-------------------------- */
/*
  重置链接样式
  $type: 类名;
  $color: 文字颜色;
  $color-hover: 文字悬浮颜色;
  $color-disabled: 文字禁用颜色;
*/
@mixin link-color($type, $color, $color-hover, $color-active, $color-disabled) {
  .el-link.el-link#{$type} {
    color: $color;

    &:hover {
      color: $color-hover;
    }

    &:active, &:focus {
      color: $color-active;
    }

    &.is-disabled {
      color: $color-disabled;
    }
    &.is-underline:hover:after {
      border-bottom: 1px solid $color;
    }
  }
}
@include link-color(null, $text-color, $color-master-hover, $color-master-active, $text-color-disabled);
@include link-color(--primary, $color-master, $color-master-hover, $color-master-active, $color-master-disabled);
@include link-color(--success, $color-success, $color-success-hover, $color-success-active, $color-success-disabled);
@include link-color(--warning, $color-warning, $color-warning-hover, $color-warning-active, $color-warning-disabled);
@include link-color(--danger, $color-danger, $color-danger-hover, $color-danger-active, $color-danger-disabled);
@include link-color(--info, $color-info, $color-info-hover, $color-info-active, $color-info-disabled);
@include link-color(--fatal, $color-fatal, $color-fatal-hover, $color-fatal-active, $color-fatal-disabled);

/*
  设置无下划线链接
*/
.el-link[class^='el-link'] {
  text-decoration: none;
}
