/* MessageBox
-------------------------- */
$messagebox-padding-bottom: $padding-3x;
$messagebox-header-padding-bottom: $padding-3x;
$messagebox-content-padding: $padding-3x $padding-8x;
$messagebox-btns-padding: $padding-3x $padding-8x $padding-5x $padding-8x;

.el-message-box {
  background-color: $color-bg-2;
  border: none;
  padding-bottom: $messagebox-padding-bottom;
  box-shadow: $shadow-3;

  &__header {
    font-weight: $text-title-weight;
    padding-bottom: $messagebox-header-padding-bottom;
  }

  &__status {
    font-size: $text-size-lg !important;
    top: $common-space + 1;
    transform: none;
  }

  &__status + &__message {
    padding-right: 0;
    padding-left: $padding-6x;
  }

  &__content {
    padding: $messagebox-content-padding;
  }

  &__btns {
    padding: $messagebox-btns-padding;
  }
}
