/* Toast
-------------------------- */
$toast-width: 400px;
$toast-height: 36px;

/*
  $class:类名;
  $iconColor:icon颜色;
  $iconClass:icon类名;
*/
@mixin toast-page($class: success, $iconColor: $color-status-success, $iconClass: success) {
  .el-message.el-message--#{$class}.toast-#{$class} {
    min-width: $toast-width;
    height: $toast-height;
    background: $color-bg-1;
    box-shadow: $shadow-3;
    border-radius: $border-radius;
    border: none;
    padding: $padding-2x $padding-4x;

    .el-message__icon {
      font-size: $text-size-md;
    }

    .el-message__closeBtn {
      font-size: $text-size-md;
      margin-top: 1px; // 更改字体大小后，上下距离有1px的偏移
    }

    .el-icon-success {
      color: $iconColor;
    }

    .el-message__content {
      font-size: $text-size-primary;
      color: $text-color-light-1;
    }
  }
}

@include toast-page();
@include toast-page(warning, $color-status-warning);
@include toast-page(error, $color-status-danger);