/* Notification
-------------------------- */
.el-notification {
  padding: $padding-4x;
}

.el-notification__group {
  margin-left: $margin-3x;
  margin-right: $margin-2x;
}

.el-notification__icon {
  position: relative;
  top: 3px; // (lineHeight-1.5 * fontSize-14 - iconHeight-14) / 2
}

.el-notification__title {
  font-size: $text-size-md;
  margin-bottom: $margin-4x;
  font-weight: $text-title-weight;
  line-height: $line-height;
}