/* Notification
-------------------------- */
.el-notification {
  padding: $padding-3x $padding-4x $padding-4x $padding-4x;
  background: $color-bg-1;
  border-color: $notification-border-color;
  box-shadow: $shadow-2;
}

.el-notification__group {
  margin: 0;
}

.el-notification__icon {
  position: relative;
  top: 3px; // (lineHeight-1.5 * fontSize-14 - iconHeight-14) / 2
  margin-right: $margin-2x;
}

.el-notification__title {
  font-size: $text-size-md;
  margin-bottom: $margin-3x;
  font-weight: $text-title-weight;
  line-height: $line-height;
}

.el-notification__content {
  margin-top: 0;
}

.el-notification__closeBtn {
  color: $color-neutral-6;
}
