/* Pagination
-------------------------- */
$pagination-select-width: 56px; // TODO 如何实现自适应
$pagination-input-width: 56px; // TODO 如何实现自适应
$pagination-button-margin: $margin-2x;
$pagination-button-margin-sm: $margin;

.el-pagination {
  padding: 0;
  font-weight: $text-weight;

  &__sizes {
    margin-right: $margin-3x;

    .el-select .el-input {
      width: $pagination-select-width;
      margin: 0;

      .el-input__inner {
        padding: {
          left: $padding-2x;
          right: $padding-6x;
        }
      }

      .el-input__suffix {
        right: $common-space-2x;
      }
    }
  }

  span.el-pagination__sizes {
    line-height: $select-xs-height - 2;
  }

  &__total {
    margin-right: $margin-6x;
  }

  .btn-prev,
  .btn-next {
    background: none;
    padding: 0;
    margin: 0;
    min-width: $pagination-button-width;

    &:disabled {
      background: none;
      color: $disabled-color;
    }
  }

  .btn-next {
    margin-left: $pagination-button-margin;
  }

  .el-pager {
    li {
      background: none;
      border-radius: $border-radius;
      margin-left: $pagination-button-margin;

      &.disabled {
        color: $disabled-color;
        cursor: not-allowed;
      }

      &:hover {
        background: $pagination-hover-bg;

        &:not(.active):not(.disabled) {
          color: $pagination-hover-color;
        }
      }

      &.active {
        background: $pagination-active-bg;
        color: $pagination-active-color;

        &.disabled {
          background: $pagination-active-bg-disabled;
        }
      }

      &.btn-quickprev,
      &.btn-quicknext {
        line-height: $pagination-height;

        &::before {
          line-height: 0;
        }
      }
    }
  }

  &__jump {
    margin-left: $margin-3x;
  }

  .el-pagination__editor.el-input {
    width: $pagination-input-width;
    height: $input-xs-height;
    line-height: $input-xs-height - 2;

    .el-input__inner {
      height: $input-xs-height;
      line-height: $input-xs-height - 2;
      padding: 0 $padding;
    }
  }

  &--small {

    span:not([class*=suffix]),
    button,
    .btn-prev,
    .btn-next,
    .el-pager li,
    .el-pager li.btn-quickprev,
    .el-pager li.btn-quicknext,
    .el-pager li:last-child {
      font-size: $pagination-font-size-sm;
      min-width: $pagination-button-width-sm;
      height: $pagination-height-sm;
      line-height: $pagination-height-sm;
    }

    .btn-next {
      margin-left: $pagination-button-margin-sm;
    }

    .el-pager {
      li {
        margin-left: $pagination-button-margin-sm;
      }
    }

    .el-pagination__editor {
      &.el-input {
        height: $input-xs-height;
        line-height: $input-xs-height - 2;

        .el-input__inner {
          height: $input-xs-height;
          line-height: $input-xs-height - 2;
        }
      }
    }
  }

  &.is-background {

    .btn-prev,
    .btn-next,
    .el-pager li {
      background: $pagination-bg;
      margin: 0 0 0 $pagination-button-margin;
      min-width: $pagination-button-width;
      border-radius: $border-radius;

      &:disabled,
      &.disabled {
        color: $disabled-color;
      }
    }

    .btn-prev {
      margin: 0;
    }

    .btn-prev,
    .btn-next {
      color: $pagination-button-color;

      &:hover:not(:disabled) {
        color: $pagination-hover-color;
      }
    }

    .el-pager li {
      &.active {
        color: $pagination-active-color;
      }

      &.btn-quickprev,
      &.btn-quicknext {
        color: $pagination-button-color;

        &.disabled {
          color: $disabled-color;
        }
      }
    }

    &.el-pagination--small {

      .btn-prev,
      .btn-next,
      .el-pager li {
        margin: 0 0 0 $pagination-button-margin-sm;
        min-width: $pagination-button-width-sm;
      }

      .btn-prev {
        margin: 0;
      }
    }
  }
}