/* Popover
-------------------------- */
.el-popover__reference-wrapper {
  .el-button--medium {
    padding: 0;
  }
}

.el-popover {
  padding: $padding-5x $padding-6x $padding-5x $padding-4x;
  border: none;
  box-shadow: $shadow-2;
  
  p {
    margin: 0;
  }

  .el-popover__title {
    font-size: $text-size;
    margin-bottom: 15px; // TODO
  }
}

.el-popper {
  background-color: $color-bg-1;
  box-shadow: $shadow-2
}

.el-popper[x-placement^='top'] .popper__arrow,
.el-popper[x-placement^='top'] .popper__arrow:after {
  border-top-color: $color-bg-1;
}

.el-popper[x-placement^='left'] .popper__arrow,
.el-popper[x-placement^='left'] .popper__arrow:after {
  border-left-color: $color-bg-1;
}

.el-popper[x-placement^='right'] .popper__arrow,
.el-popper[x-placement^='right'] .popper__arrow:after {
  border-right-color: $color-bg-1;
}

.el-popper[x-placement^='bottom'] .popper__arrow {
  display: none;
}
