/* Progress
-------------------------- */
.el-progress.is-success .el-progress-bar__inner {
  background-color: $color-success;
}

.el-progress.is-success .el-progress__text {
  color: $color-success;
}

.el-progress-bar__inner,
.el-progress-bar__outer {
  border-radius: 0;
}

.el-progress__text {
  font-size: $text-size !important;
}
