/* Progress
-------------------------- */
$progress-text-height-lg: 30px;
$progress-text-height-sm: 12px;
$progress-text-size-lg: 20px;

.el-progress.is-success .el-progress-bar__inner {
  background-color: $color-success;
}

.el-progress.is-success .el-progress__text {
  color: $color-success !important;
}

.el-progress.is-exception .el-progress__text {
  color: $color-danger !important;
}

.el-progress.is-warning .el-progress__text {
  color: $color-warning !important;
}

.el-progress--text-inside {
  .el-progress-bar__inner,
  .el-progress-bar__outer {
    height: $progress-text-height-sm !important;
  }
}

.el-progress-bar__outer {
  border-radius: $border-radius;
  background-color: $color-neutral-2 !important;
}

.el-progress-bar__inner {
  border-radius: $border-radius;
}

.el-progress-bar__innerText {
  position: absolute;
  right: 50%;
  top: -4px;
  font-size: $progress-text-size-lg;
  color: $color-white !important;
  transform: translateX(100%) scale(0.5);
}

.el-progress__text {
  font-size: $text-size !important;
  color: $color-neutral-10 !important;
  font-family: $font-family;
  margin-left: $common-space-4x;
}

.el-progress--circle .el-progress__text,
.el-progress--dashboard .el-progress__text {
  height: $progress-text-height-lg;
  line-height: $progress-text-height-lg;
  color: $color-neutral-10 !important;
  font-size: $progress-text-size-lg !important;
  font-weight: $text-title-weight;
  font-family: $font-family;

  .el-icon-warning {
    font-size: $text-size-lg;
  }

  .el-icon-close {
    font-size: $text-size-lg;
  }

  .el-icon-check {
    font-size: $text-size-lg;
  }
}

.el-progress--line .el-progress__text {
  .el-icon-warning {
    font-size: $text-size-md;
  }

  .el-icon-circle-close {
    font-size: $text-size-md;
  }

  .el-icon-circle-check {
    font-size: $text-size-md;
  }
}
