/* Radio
-------------------------- */

.el-radio {
  // line-height: 1.5;
  font-weight: normal;
  display: inline-flex;

  .el-radio__label {
    padding-left: $padding-2x;
  }
}

.el-radio__inner {
  width: $radio-width;
  height: $radio-width;
  background-color: transparent;
  box-sizing: content-box;

  &:after {
    width: $radio-label-width;
    height: $radio-label-width;
    border: 1px solid $radio-group-bg;
    box-sizing: content-box;
    background: $radio-group-bg;
  }
}

.el-radio__input {
  line-height: 1.5;

  &.is-disabled .el-radio__inner {
    background: $radio-group-disabled-bg;
    border: 1px solid $radio-group-border-color;

  }

  &.is-checked {
    .el-radio__inner {
      background: transparent;
    }
  }

  &.is-disabled.is-checked .el-radio__inner:after {
    background: $radio-group-border-color;
    border: 1px solid $radio-group-border-color;
  }

  &.is-disabled+span.el-radio__label {
    color: $text-color-disabled;
  }
}

/* SelectButton
-------------------------- */

.el-radio-group {
  .el-radio-button__inner {
    transition: none;
    background-color: $button-default-color-bg;
  }

  .el-radio-button {
    &.is-disabled {
      .el-radio-button__inner {
        border-color: $radio-group-border-disabled-color;
        background-color: $radio-group-disabled-bg;
        color: $disabled-color;
      }
    }

    &:not(.is-disabled):not(.is-active) {
      .el-radio-button__inner:hover {
        color: $radio-group-bg;
        border: 1px solid $radio-group-bg;
        margin-left: -1px;
      }
    }

    &:not(.is-disabled):not(.is-active):first-child {
      .el-radio-button__inner:hover {
        border: 1px solid $radio-group-bg;
        margin-left: 0;
      }
    }

    &.is-disabled.is-active {
      .el-radio-button__inner {
        border: 1px solid $radio-group-border-disabled-bg;
        background-color: $radio-group-border-disabled-bg;
        color: $radio-group-color;
      }
    }
  }
}

@mixin radio-size($size, $height, $padding) {
  .el-radio-group {
    .el-radio-button--#{$size} {
      .el-radio-button__inner {
        padding: $padding;
        line-height: $height - 2;
      }
    }
  }
}

@include radio-size(large, $input-lg-height, $input-lg-padding);
@include radio-size(medium, $input-md-height, $input-md-padding);
@include radio-size(small, $input-sm-height, $input-sm-padding);
@include radio-size(mini, $input-xs-height, $input-xs-padding);