/* Radio
-------------------------- */

.el-radio__inner {
  width: $radio-width;
  height: $radio-width;

  &:after {
    width: $radio-label-width;
    height: $radio-label-width;
    background: $radio-group-bg;
  }
}

.el-radio__input{
  .is-disabled.is-checked .el-radio__inner:after {
    background: $radio-group-border-color;
  }
  .is-disabled .el-radio__inner {
    background: $radio-group-disabled-bg;
  }
  &.is-checked .el-radio__inner{
    background-color: $radio-checked-bg;
  }
}
/* SelectButton
-------------------------- */

.el-radio-group {
  .el-radio-button__inner {
    transition: none;
    background-color: $button-default-color-bg;
  }
  .el-radio-button{
    &.is-disabled {
      .el-radio-button__inner{
        border-color: $radio-group-border-disabled-color;
        background-color: $radio-group-disabled-bg;
      }
    }
    &:not(.is-disabled):not(.is-active) {
      .el-radio-button__inner:hover {
        color: $radio-group-bg;
        border: 1px solid $radio-group-bg;
        margin-left: -1px;
      }
    }
    &:not(.is-disabled):not(.is-active):first-child {
      .el-radio-button__inner:hover {
        border: 1px solid $radio-group-bg;
        margin-left: 0;
      }
    }
    &.is-disabled.is-active{
       .el-radio-button__inner{
          border: 1px solid $radio-group-border-disabled-bg;
          background-color: $radio-group-border-disabled-bg;
          color: $radio-group-color;
       }
    }
  }
}

@mixin radio-size($size, $padding) {
  .el-radio-group {
    .el-radio-button--#{$size}{
      .el-radio-button__inner{
        padding: $padding;
      }
    }
  }
}
@include radio-size(large, $radio-padding-large);
@include radio-size(medium, $radio-padding-medium);
@include radio-size(small, $radio-padding-small);
@include radio-size(mini, $radio-padding-small);
