/* Scrollbar
-------------------------- */
.el-scrollbar__thumb {
  border-radius: $common-space-2x;
  background-color: $color-grey-6;
}

.el-scrollbar__bar {
  &.is-vertical {
    width: $common-space-2x;
  }

  &.is-horizontal {
    height: $common-space-2x !important;
  }
}
