/* Select
-------------------------- */
// $tags-left-xs: $padding-2x;
// $tags-left-sm: $padding-2x;
// $tags-left-md: $padding-3x;
// $tags-left-lg: $padding-4x;
$tags-left-xs: $common-space;
$tags-left-sm: $common-space;
$tags-left-md: $common-space;
$tags-left-lg: $common-space;
$select-sm-height: $input-sm-height;
$select-tag-margin: 2px 0 2px 8px;

/*
  重置Select基本样式
*/
.el-range-editor--mini.el-input__inner {
  height: $range-editor-height;
}

.el-range-editor--small.el-input__inner {
  height: $range-editor-height;
}

.el-select {
  .el-icon-circle-close {
    &:hover {
      color: $color-master-1;
      cursor: pointer;
    }

    &:before {
      content: '\ea3c';
    }
  }

  .el-input--suffix {
    height: 100%;
  }

  &.disabled-select {
    .el-select__tags-text:after {
      @include iconfont;
      content: '\ea3c';
      color: $disabled-color;
      text-align: center;
      line-height: 17px;
      display: inline-block;
      width: $range-editor-tags-size;
      height: $range-editor-tags-size;
      background: unset;
      font-size: $text-size;
      border-radius: 50%;
      margin-left: $margin;
      transform: scale(0.8) translate(0, 1.5px);
    }

    .el-select__tags-text {
      color: $text-color-light-2;

      &:hover {
        color: $text-color-light-2;
      }
    }
  }

  &.is-disabled {
    .el-tag.el-tag--light.el-tag--info {
      color: $color-neutral-6;
      background-color: $color-neutral-1;
      border-color: $color-neutral-3;
    }
  }
}

/* 
  重置Select Tag样式
*/
.el-select__input {
  height: 20px;
}

.el-select {
  .el-tag {
    background: $cascader-tag-bg;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    height: $select-sm-height;
    margin: 2px 0 2px 8px;
  }

  // .el-tag:first-child {
  //   margin-left: 0;
  // }

  .el-tag.el-tag--light.el-tag--info {
    color: $text-color;
  }

  .el-tag.el-tag--info .el-tag__close {
    background-color: unset;
    color: $select-tag-color;
    font-size: $text-size-md;

    &:hover {
      color: $color-master-1;
    }
  }

  .el-input .el-select__caret {
    color: $text-color-light-2;
  }
}

.el-input__suffix .el-input__suffix-inner .suffix-other {
  margin-right: 16px;
}

/*
  重置Select Dropdown样式
*/

.el-range-editor.el-input__inner.is-disabled {
  background-color: $select-color-disabled;
}

.el-select-dropdown {
  background: $select-dropdown-bg;
  box-shadow: $shadow-2;
  border: none;

  .el-select-dropdown__list {
    padding-top: $padding;
    padding-bottom: $padding;
  }

  &__item {
    &.hover {
      background-color: unset;
    }

    &:hover {
      background-color: $color-info-bg;
    }

    font-size: $text-size;
    background-color: $select-dropdown-bg;

    &:not(.el-select-dropdown__item.selected):not(.el-select-dropdown__item.is-disabled):hover {
      color: unset;
    }

    &.selected {
      color: $select-color;
      // background-color: unset;
      font-weight: bold;
    }

    &.is-disabled {
      .el-input__prefix {
        color: $select-color-disabled;
      }

      &:hover {
        color: $select-color-disabled;
        background-color: $select-dropdown-bg;
      }
    }
  }

  &.is-multiple &__item.selected {
    background-color: unset;
    color: $select-color;
  }

  &__empty {
    width: 100%;
    height: 96px;
    line-height: 80px;
  }

  & .popper__arrow,
  & .popper__arrow:after {
    display: none;
  }

  &.el-popper[x-placement^='bottom'] {
    margin-top: $margin-2x;
  }

  &el-popper[x-placement^='top'] {
    margin-bottom: $margin-2x;
  }

  &.el-popper {
    .el-tree {
      background-color: $select-dropdown-bg;
    }
  }
}

.el-select--small {
  .el-tag.el-tag--mini {
    height: $select-xs-height - 6;
    line-height: $select-xs-height - 6;
  }
}

@mixin select-size($size, $height, $left) {
  .el-select {
    &.el-select--#{$size} {
      line-height: $height - 2;

      .el-input--suffix {
        line-height: $height - 2;

        .el-input__inner {
          line-height: $height - 2;
        }
      }

      .el-select__tags {
        left: $left + 1;
      }
    }
  }
}

@include select-size(large, $select-lg-height, $tags-left-lg);
@include select-size(medium, $select-md-height, $tags-left-md);
@include select-size(small, $select-sm-height, $tags-left-sm);
@include select-size(mini, $select-xs-height, $tags-left-xs);