/* Select
-------------------------- */
$tags-left-xs: $padding-2x - 6;
$tags-left-sm: $padding-2x - 6;
$tags-left-md: $padding-3x - 6;
$tags-left-lg: $padding-4x - 6;
/*
  重置Select基本样式
*/
.el-range-editor--mini.el-input__inner{ height: $range-editor-height;}
.el-range-editor--small.el-input__inner{ height: $range-editor-height; }
.el-select {
  .el-icon-circle-close:before {
    font-family: $font-family-cute-icons;
    content: '\ea4f';
  }
  .el-input--suffix{ height: 100%;}
  &.disabled-select {
    .el-select__tags-text:after {
      @include iconfont;
      content: '\ea3c';
      color: $disabled-icon-color;
      text-align: center;
      line-height: 17px;
      display: inline-block;
      width: $range-editor-tags-size;
      height: $range-editor-tags-size;
      background: unset;
      font-size: $text-size-primary;
      border-radius: 50%;
      margin-left: $margin;
      transform: scale(0.8) translate(0, 1.5px);
    }

    .el-select__tags-text {
      color: $text-color-light-2;

      &:hover {
        color: $text-color-light-2;
      }
    }
  }
}

/* 
  重置Select Tag样式
*/
// .el-select__tags{ margin-top: 1px;}
.el-select__input{ height: 20px;}
.el-select {
  .el-tag {
    background: $cascader-tag-bg;
    border: 1px solid $border-color;
    border-radius: $border-radius;
  }

  .el-tag.el-tag--light.el-tag--info{
    color: $text-color;
  }
  .el-tag.el-tag--info .el-tag__close {
    background-color: unset;
    color: $text-color;

    &:hover {
      background: $select-color;
      color: $select-dropdown-bg;
    }
  }
}

.el-input__suffix .el-input__suffix-inner .suffix-other { margin-right: 16px;}

/*
  重置Select Dropdown样式
*/

.el-range-editor.el-input__inner.is-disabled{ background-color: $range-editor-disabled-bg;}
.el-select-dropdown {
  
  background: $select-dropdown-bg;
  box-shadow: $shadow-2;
  border: none;

  &__item {
    &.hover{
      background-color: unset;
    }
    &:hover {
      background-color: $color-neutral-1;
    }
    font-size: $text-size;
    background-color: $select-dropdown-bg;
    
    &:not(.el-select-dropdown__item.selected):not(.el-select-dropdown__item.is-disabled):hover {
      
      // background-color:unset;
      color: $select-color;
    }

    &.selected {
      color: $select-color;
      font-weight: normal;
    }

    &.is-disabled:hover {
      color: $color-grey-4;
      background-color: $select-dropdown-bg;
    }
  }

  &.is-multiple &__item.selected {
    // background: $color-bg-3;
    color: $select-color;

    &:hover {
      background: $range-editor-multiple-bg;
    }
  }

  &__empty {
    width: 100%;
    height: 96px;
    line-height: 80px;
  }

  & .popper__arrow,
  & .popper__arrow:after {
    display: none;
  }

  &.el-popper[x-placement^='bottom'] {
    margin-top: $margin;
  }

  &el-popper[x-placement^='top'] {
    margin-bottom: $margin;
  }

  &.el-popper {
    .el-tree {
      background-color: $select-dropdown-bg;
    }
  }
}
.el-select--small{
  .el-tag.el-tag--mini{
    height:$select-xs-height - 6;
    line-height: $select-xs-height - 6;
  }
}
@mixin select-size($size, $height, $left) {
  .el-select {
    &.el-select--#{$size}{
      line-height: $height;
      .el-input--suffix{ 
        line-height: $height - 2;
        .el-input__inner{
          line-height: $height;
        }
      }
      .el-select__tags{ 
        left: $left
      }
    }
  }
}
@include select-size(large, $select-lg-height, $tags-left-lg);
@include select-size(medium, $select-md-height, $tags-left-md);
@include select-size(small, $select-sm-height, $tags-left-sm);
@include select-size(mini, $select-xs-height, $tags-left-xs);
