/* Slider
-------------------------- */
.el-slider__marks-text {
  color: $cute-slider-text-color;
  word-break: keep-all;
  text-align: center;
  font-size: $text-size;
}

.el-slider__button {
  width: $common-space-10;
  height: $common-space-10;
}

.el-slider__stop {
  display: none;
  // border: 2px solid $cute-slider-bg;
  // background-color: $cute-slider-bg;
}

.el-slider__input {
  margin-top: 5px;
}