/* Slider
-------------------------- */
.el-slider__marks-text {
  color: $cute-slider-text-color;
  word-break: keep-all;
  text-align: center;
  font-size: $text-size;
}

.el-slider__button {
  width: $cute-slider-size;
  height: $cute-slider-size;
}

.el-slider__runway {
  background: $cute-slider-bg;
  height: $slider-height;
}

.el-slider__button-wrapper {
  top: -16px;
}

.el-slider__bar {
  height: $slider-height;
  z-index: 1;
}

.el-slider__stop {
  // display: none;
  border: 1px solid $slider-stop-border-color;
  background-color: $slider-stop-color;
  box-sizing: content-box;
  // height: 10px;
  // width: 10px;
  margin-top: -2px;
  z-index: 2;

  // &:first-child,
  // &:last-child {
  //   display: none;
  // }
}

.el-slider__input {
  margin-top: 5px;
}