/* Steps
-------------------------- */
$steps-icon-height-md: 32px; // 中号尺寸
$steps-icon-height-sm: 24px; // 小号尺寸
$steps-title-size-md: $text-size-lg; // 中号标题：16px
$steps-title-size-sm: $text-size-sm; // 小号标题：12px
$steps-icon-inner-status-size-md: $text-size-md; // 中号状态icon size：14px
$steps-icon-inner-status-size-sm: $text-size-sm; // 小号状态icon size：12px
$steps-icon-inner-text-size-md: $text-size-md; // 小号标号size：14px
$steps-icon-inner-text-size-sm: $text-size-md; // 中号标号size：14px
$steps-line-size: 1px; // 线条粗细;

/* $class:类名;
   $bdColor:边框颜色
   $color:字体颜色
   $bgColor:背景颜色
*/
@mixin steps-page($class: is-success,
  $bdColor: $color-master,
  $color: $color-master,
  $descriptionColor: $text-color-disabled,
  $titleColor: $color) {
  .el-step__head.#{$class} {
    border-color: $bdColor;
    color: $color;
    .el-step__icon.is-status {
      background-color: $color;
    }
    .el-step__icon.is-text{
      border-color: $bdColor;
    }
  }
  .el-step__title.#{$class}{
    color: $titleColor;
  }
  .el-step .el-step__main > .el-step__description.#{$class} {
    color: $descriptionColor;
  }
}

@include steps-page();
@include steps-page(is-success, $color-master, $color-master, $text-color-feature, $text-color);
@include steps-page(is-finish, $color-master, $color-master, $text-color-feature, $text-color);
@include steps-page(is-process, $color-master, $color-master, $text-color-feature);
@include steps-page(is-error, $color-danger, $color-danger);
@include steps-page(is-wait, $border-color, $text-color-disabled);

.el-step {
  .el-step__icon-inner {
    font-weight: normal;
  }

  & > .el-step__head > .el-step__icon{
    background-color: transparent;
  }

  &:not(.is-center).is-horizontal .el-step__line {
    right: $common-space-2x;
  }

  &:is(.is-horizontal) .el-step__line {
    height: $steps-line-size;
  }

  &:is(.is-vertical) .el-step__line {
    width: $steps-line-size;
  }

  .el-step__line {
    background-color: $border-color; 

    .el-step__line-inner {
      border-bottom: 0;
    }
  }

  .el-step__icon.is-text {
    border: 1px solid;
    background-color: $color-bg-2;// 普通序号背景色
  }

  .el-step__title.is-process {
    font-weight: $text-weight;
  }

  .el-step__head.is-process .el-step__icon.is-text {
    color: $color-white;
    border-color: $color-master;
    background-color: $color-master;
  }
}
