/* Switch
-------------------------- */

.el-switch__core {
  background-color: $switch-core-bg;
  border: 1px solid $switch-core-bg;

  &:after {
    background-color: $switch-core-color;
  }
}

.small-switch {
  .el-switch__core {
    height: $switch-small-height;
  }

  .el-switch__core:after {
    width: $switch-small-core-size;
    height: $switch-small-core-size;
    margin-top: 0;
  }

  &.el-switch.is-checked .el-switch__core:after {
    margin-left: -13px;
  }
}

.el-switch.is-disabled {
  opacity: 1;

  .el-switch__core {
    border-color: $switch-core-bg-disabled;
    background-color: $switch-core-bg-disabled;
  }

  &.is-checked .el-switch__core {
    border-color: $color-master-disabled;
    background-color: $color-master-disabled;
  }
}
