/* Switch
-------------------------- */

.el-switch__core {
  background-color: $Switch-core-color;
  border: 1px solid $Switch-core-color;
}
.small-switch {

  .el-switch__core {
    height: $Switch-small-height;
    background-color: $Switch-core-color;
    border: 1px solid $Switch-core-color;
  }

  .el-switch__core::after {
    width: $Switch-small-core-size;
    height: $Switch-small-core-size;
    margin-top: 0px;
  }
  
  .el-switch.is-checked .el-switch__core::after {
    margin-left: -13px;
  }
}
