/* Tabs
-------------------------- */
$tabs-add-item-width: 120px;
$tabs-button-radius: $border-radius;
$tabs-sm-height: $input-sm-height;
$tabs-md-height: $input-md-height;
$tabs-lg-height: $input-lg-height;

/*
  默认风格
*/
.el-tabs__nav-wrap::after{
  background-color: $tabs-default-line-color;
  height: 1px;
}
@each $direction in left, right {
  .el-tabs.el-tabs--#{$direction} .el-tabs__nav-wrap::after{
     width: 1px;
  }
}

/*
  card风格
*/

.el-tabs--card > .el-tabs__header {
  border: none;

  .el-tabs__item.is-active.is-closable {
    padding: 0 $padding-10 0 $padding-3x;
  }

  .el-tabs__item,
  .el-tabs__nav {
    border: none;
  }

  .el-tabs__nav-wrap::after {
    display: none;
  }

  .el-tabs__nav::after {
    content: "";
    position: absolute;
    left: 100%;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $border-color;
  }
}

@each $direction in top, bottom, left, right {

  .el-tabs.el-tabs--card.el-tabs--#{$direction} {

    .el-tabs__nav::after {

      @if $direction == bottom {
        top: 0;
        bottom: auto;
      }

      @if $direction == left {
        height: 100%;
        width: 1px;
        right: 0;
        top: 100%;
        left: auto;
      }

      @if $direction == right {
        top: 100%;
        left: 0;
        right: auto;
        height: 100%;
        width: 1px;
      }
    }
    .el-tabs__item.is-#{$direction}{
      border:none;

      @if $direction == bottom {
        border-top: 1px solid $border-color;
      }

      @if $direction == top {
        border-bottom: 1px solid $border-color;
      }

      @if $direction == right {
        border-left: 1px solid $border-color;
      }
      
      @if $direction == left {
        border-right: 1px solid $border-color;
      }
    }

    .el-tabs__item.is-#{$direction}.is-active {
      border: 1px solid $border-color;

      @if $direction == bottom {
        border-top: none;
      }

      @if $direction == top {
        border-bottom: none;
        transform: translateY(1px);
      }

      @if $direction == right {
        border-left: none;
      }
      
      @if $direction == left {
        border-right: none;
      }
    }
  }
}

// border-card风格darm模式兼容
.el-tabs--border-card, .el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active{
  background-color: $color-bg-2;
}


@each $direction in left, right {
  .el-tabs--#{$direction}.el-tabs--border-card  {
    .el-tabs__item.is-#{$direction}.is-active{
      border-top-color: $border-color;
      border-bottom-color: $border-color;
    }
    
    .el-tabs__header.is-#{$direction}{
      @if $direction == right {
        border-left-color: $border-color;
      }
      
      @if $direction == left {
        border-right-color: $border-color;
      }
    }
  }
}

