/* Table
-------------------------- */
.el-table {
  margin: $margin-4x 0 $margin-10 0;
  background-color: $color-bg-2;

  // 页眉字体颜色
  thead {
    color: $text-color;
  }

  // 页眉样式
  th.el-table__cell {
    &, &.is-leaf {
      border-width: 0;
    }
  }

  // 行背景
  tr {
    background-color: $color-bg-2;
  }

  // 单元格字体大小
  .cell {
    font-size: $text-size;
    line-height: $line-height;
  }

  // 首尾单元格留白
  td.el-table__cell {
    border-color: $table-border-color;

    &:first-child .cell {
      padding-left: $margin-5x;
    }

    &:last-child .cell {
      padding-right: $margin-5x;
    }
  }

  // 排序图标
  .caret-wrapper {
    height: inherit;
  }

  .sort-caret {
    border: solid 4px transparent;

    &.ascending {
      border-bottom-color: $table-sort-caret-bg;
      top: -10px;
    }

    &.descending {
      border-top-color: $table-sort-caret-bg;
      bottom: -8px;
    }
  }

  // 选择器图标
  & &__column-filter-trigger {
    line-height: inherit;

    .el-icon-arrow-down:before {
      content: '\e790';
    }

    .el-icon-arrow-down::before,
    .el-icon-arrow-up::before {
      font-family: $font-family-cute-icons;
      content: '\ea80';
      color: $text-color-light-2;
    }
  }

  // 覆盖了border式样的表格，将边框去掉
  &--border {
    border: none;

    .el-table__header tr, .el-table__header th {
      border-right: 1px solid $color-bg-2;
      background-color: $table-header-bg;
    }
    
    .el-table__cell {
      border-right: 0px solid $table-border-color;
    }

    th.el-table__cell.gutter:last-of-type {
      border-width: 0;
    }
  }

  // 覆盖固定表格样式
  &__fixed::before,
  &__fixed-right::before {
    background-color: $table-border-color;
  }

  // 覆盖组合表格样式
  &--group {
    border-left: 1px solid $table-border-color;
    border-top: 1px solid $table-border-color;
    border-right: 1px solid $table-border-color;
    border-bottom-color: $table-border-color;

    thead.is-group th.el-table__cell {
      border-color: $table-border-color;
      background: $table-header-bg;
    }
  
    thead.is-group td.el-table__cell {
      border-color: $table-border-color;
    }

    // 页眉样式
    th.el-table__cell {
      &,
      &.is-leaf {
        border-width: 1px;
      }
    }

    .el-table__body {
      td {
        border-right: 1px solid $table-border-color;
      }
    }
  }

  // 无内容提示
  .el-table__empty-block {
    background-color: $color-bg-2;
  }
}

/*
  重置表格大小
*/
@mixin table-size ($size, $cell-padding) {
  $th-cell-padding: $cell-padding + 1;

  th.el-table__cell {
    padding-top: $th-cell-padding;
    padding-bottom: $th-cell-padding;
  }

  .el-table#{$size} {
    .el-table__cell {
      padding: $cell-padding 0;
    }
  }
}

@include table-size(null, $table-cell-padding-md);
@include table-size(--small, $table-cell-padding-sm);
@include table-size(--medium, $table-cell-padding-md);
@include table-size(--medium, $table-cell-padding-lg);



/*
  重置表格过滤器
*/
.el-table-filter {
  background-color: $color-bg-1;
  box-shadow: $shadow-2;
  border-radius: $border-radius;

  &__content {
    min-width: 190px;
  }

  &__checkbox-group {
    padding: 0;
  }

  &__bottom {
    padding-top: $margin-3x;
  }

  &__checkbox-group {

    .el-checkbox:first-child,
    .el-checkbox:last-child {
      margin-top: $margin;
    }

    label.el-checkbox {
      height: 30px;
      line-height: 30px;
      margin: 0;
      margin-bottom: margin;

      &:hover {
        background-color: $color-master-bg-light-2;

        .el-checkbox__label {
          color: $color-master;
        }
      }

      .el-checkbox__inner {
        margin-left: $margin-3x;
      }
    }
  }
}

/*
  TODO: 以下样式尚未定位到具体位置，待整理
*/
.el-table__body-wrapper.is-scrolling-none ~ .el-table__fixed,
.el-table__body-wrapper.is-scrolling-none ~ .el-table__fixed-right {
  &::before {
    background-color: transparent;
  }
}

.el-table::before,
.el-table--group::after,
.el-table--border::after {
  content: '';
  position: absolute;
  background-color: transparent;
  z-index: 1;
}

.el-table__body-wrapper .el-table__row .el-table__expand-icon .el-icon-arrow-right::before {
  content: '\e791';
  color: $color-grey-3;
}

.el-table [class*=el-table__row--level] .el-table__expand-icon {
  // margin-left: -3px;
  margin-right: 0;
}

.el-table__row.expanded.el-table__row--level-0 .el-table__expand-icon {
  margin-left: -20px;
}

.el-table__row:not(.el-table__row--level-0) .el-table__indent {
  margin-left: -20px;
}

.el-table__fixed-right {
  &-patch{
    background-color: $color-grey-8;
  }
}