/* Table
-------------------------- */
.el-table {
  margin: $margin-4x 0 $margin-10 0;
  background-color: $color-bg-2;

  // 页眉字体颜色
  thead {
    color: $text-color;
  }

  // 页眉样式
  th.el-table__cell {
    &, &.is-leaf {
      border-right: 0;
    }
  }

  // 行背景
  tr {
    background-color: $color-bg-2;
  }

  // 单元格字体大小
  .cell {
    font-size: $text-size;
    line-height: $line-height;
  }

  // 首尾单元格留白
  td.el-table__cell {
    &:first-child .cell {
      padding-left: $padding-5x;
    }

    &:last-child .cell {
      padding-right: $padding-5x;
    }
  }

  // 排序图标
  .caret-wrapper {
    height: inherit;
  }

  .sort-caret {
    border: solid 4px transparent;

    &.ascending {
      border-bottom-color: $table-sort-caret-bg;
      top: -10px;
    }

    &.descending {
      border-top-color: $table-sort-caret-bg;
      bottom: -8px;
    }
  }

  // 覆盖selection
  th,
  td {
    &.el-table__cell.el-table-column--selection {
      .cell {
        padding-left: $padding-4x;
        padding-right: $padding-4x;
        line-height: $table-cell-selection-line-height;
      }
    }
  }

  // 固定列-右上角补丁
  &__fixed-right-patch {
    background-color: $table-header-bg;
    top: 0;
  }

  // 固定列-下方边框
  &__fixed::before,
  &__fixed-right::before {
    background-color: $table-border-color;
  }

  // 选择器图标
  & &__column-filter-trigger {
    line-height: inherit;

    .el-icon-arrow-down::before,
    .el-icon-arrow-up::before {
      font-family: $font-family-cute-icons;
    }

    .el-icon-arrow-down::before {
      content: '\ea80';
    }

    .el-icon-arrow-up::before {
      content: '\eb5c';
    }

    // TODO highlight when hover/expand
  }

  // 覆盖expand
  .el-table__cell.el-table__expanded-cell {
    font-size: $text-size;
    background-color: $color-bg-3;

    &:hover {
      background-color: $color-bg-3 !important; // 为了覆盖源码的!important
    }

    // 嵌套表格样式
    .el-table th.el-table__cell {
      background-color: $color-neutral-2;
    }
  }

  // 树形表格
  [class*=el-table__row--level] .el-table__expand-icon {
    margin-right: 0;
  }

  .el-table__row.el-table__row--level-0 .el-table__expand-icon {
    margin-left: -20px;
  }

  .el-table__row:not(.el-table__row--level-0) .el-table__indent {
    margin-left: -20px;
  }

  // 覆盖border表格样式
  &--border {
    border: none;

    // 取消表格右侧边线
    &::after {
      width: 0;
    }

    .el-table__cell {
      border-right: 0px solid $table-border-color;
    }

    // 页眉样式
    th.el-table__cell {
      &,
      &.is-leaf {
        border-right: 1px solid $color-bg-2;
      }
    }
  }

  // 覆盖组合表格样式
  &--group {
    border-left: 1px solid $table-border-color;
    border-right: 1px solid $table-border-color;
    border-top: 1px solid $table-border-color;
    border-bottom-color: $table-border-color;

    thead.is-group th.el-table__cell {
      border-color: $table-border-color;
    }

    thead.is-group td.el-table__cell {
      border-color: $table-border-color;
    }

    // 页眉样式
    th.el-table__cell {
      &,
      &.is-leaf {
        border-right: 1px solid $table-border-color;
      }
    }

    .el-table__body {
      td {
        border-right: 1px solid $table-border-color;
      }
    }
  }

  // 无内容提示
  .el-table__empty-block {
    background-color: $color-bg-2;
  }
}

/*
  重置表格大小
*/
@mixin table-size($size, $cell-padding) {
  $th-cell-padding: $cell-padding + 1;

  th.el-table__cell {
    padding-top: $th-cell-padding;
    padding-bottom: $th-cell-padding;
  }

  .el-table#{$size} {
    .el-table__cell {
      padding: $cell-padding 0;
    }
  }
}

@include table-size(null, $table-cell-padding-md);
@include table-size(--mini, $table-cell-padding-xs);
@include table-size(--small, $table-cell-padding-sm);
@include table-size(--medium, $table-cell-padding-md);

/*
  重置表格过滤器
*/
.el-table-filter {
  background-color: $color-bg-1;
  box-shadow: $shadow-2;
  border-radius: $border-radius;

  &__content {
    min-width: 190px;
  }

  &__checkbox-group {
    padding: 0;

    .el-checkbox:first-child,
    .el-checkbox:last-child {
      margin-top: $margin;
    }

    label.el-checkbox {
      height: $table-filter-item-height;
      line-height: $table-filter-item-height;
      margin: 0 0 $margin 0;

      &:hover {
        background-color: $color-master-bg-light-2;

        .el-checkbox__label {
          color: $color-master;
        }
      }

      .el-checkbox__inner {
        margin-left: $margin-3x;
      }
    }
  }
}
