@use 'sass:color';

/* Tag
-------------------------- */
/*
  重置Tag基本样式
*/
.el-tag {
  border-radius: $border-radius;
}

/*
  重置Tag颜色
  $type: 类名;
  $color-light: 浅色;
  $color-dark: 深色;
  $color-dark-hover: 深色悬浮;
*/
@mixin tag-color($type, $color-light, $color-dark, $color-dark-hover) {
  .el-tag {
    // light
    &.el-tag--light.el-tag#{$type} {
      border-color: $color-dark;
      color: $color-dark;
      background-color: $color-light;

      .el-tag__close {
        color: $color-dark;

        &:hover {
          color: $color-dark-hover;
          background: none;
        }
      }
    }

    // dark
    &.el-tag--dark.el-tag#{$type} {
      border-color: $color-dark;
      color: $color-white;
      background-color: $color-dark;

      .el-tag__close {
        color: $color-white;

        &:hover {
          color: color.adjust($color-info, $lightness: 15%);
          background: none;
        }
      }
    }

    // plain
    &.el-tag--plain.el-tag#{$type} {
      border-color: $color-dark;
      color: $color-dark;

      .el-tag__close {
        color: $color-dark;

        &:hover {
          color: $color-dark-hover;
          background: none;
        }
      }
    }
  }
}
@include tag-color(null, $tag-master, $tag-master-border, $color-master-hover);
@include tag-color(--info, $tag-info, $tag-info-border, $color-info-hover);
@include tag-color(--success, $tag-success, $tag-success-border, $color-success-hover);
@include tag-color(--danger, $tag-danger, $tag-danger-border, $color-danger-hover);
@include tag-color(--warning, $tag-warning, $tag-warning-border, $color-warning-hover);


/*
  重置Tag尺寸
  $size: 尺寸名;
*/
@mixin tag-size($size, $height) {
  .el-tag.el-tag#{$size} {
    height: $height;
    line-height: $height - 2px;
    padding: 0 $padding-2x;
  }
}
@include tag-size(null, $common-space-6x);
@include tag-size(--large, $common-space-7x);
@include tag-size(--medium, $common-space-6x);
@include tag-size(--small, $common-space-5x);
@include tag-size(--mini, $common-space-5x);
