/* Timeline
-------------------------- */
.el-timeline {
  padding-inline-start: $padding-3x;

  .el-timeline-item__wrapper {
    padding-left: 18px; //TODO
  }

    .el-timeline-item__tail {
      width: 2px;
      border-left: 2px solid $color-neutral-2;
    }

  .el-timeline-item__timestamp.is-top {
    padding: 2px 0px;//TODO
    margin-bottom: 0;//TODO
  }

  .el-timeline-item__node--primary,
  .el-timeline-item__node--normal {
    left: 0;
    width: $common-space-10;
    height: $common-space-10;
    background-color: $color-bg-2;
    border: 2px solid $color-master;
  }

  .el-timeline-item__timestamp.is-top {
    font-weight: bold;
    color: $text-color;
    font-size: $text-size;
  }
}
