/* Transfer
-------------------------- */
$transfer-button-height: 38px; // Transfer组件圆形按钮
$transfer-button-width: 38px; // Transfer组件圆形按钮
$transfer-button-radius: 50%; // Transfer组件圆形按钮

.el-transfer {
  .el-checkbox__input{
    margin: 0px; // 消除checkbox组件margin-top:-3px影响
  }
  .el-transfer-panel {
    background-color: $color-bg-1;

    &__list {
      height: 100%;
      padding: 0px;

      &.is-filterable {
        height: calc(100% - #{$transfer-filter-height});
      }
    }

    .el-transfer-panel__item{
      padding-left: $padding-4x;
    }

    .el-transfer-panel__footer {
      background: $transfer-footert-bg;
    }
  }

  .el-transfer-panel__body {
    background-color: $color-bg-1;
  }

  .el-transfer__buttons {
    padding: 0 $padding-4x;

    & > .el-transfer__button,
    & > .el-transfer__button.is-disabled {
      display: block;
      margin: 0;

      &:last-child {
        margin-top: $margin-8x;
      }

      & [class*='el-icon-'] + span {
        margin-left: 0;
      }

      &:not(.is-with-texts) {
        height: $transfer-button-height;
        width: $transfer-button-width;
        border-radius: $transfer-button-radius;
        padding: 0;
      }

      &:is(.is-with-texts) > span {
        display: flex;
        align-items: center;
      }

      &:is(.is-with-texts) span {
        font-size: $text-size;
      }
    }

    & > .el-transfer__button.is-disabled {
      background-color: $disabled-bg;
      border-color: $disabled-border;
      color: $disabled-border;
    }
  }

  .el-icon-arrow-right:before {
    content: '\eb44';

    @include iconfont;
  }

  .el-icon-arrow-left:before {
    content: '\eb21';

    @include iconfont;
  }

  .el-transfer-panel__header {
    margin-bottom: 0;
    padding-left: $padding-4x;
  }

  .el-transfer-panel__filter {
    margin: $transfer-filter-input-margin;

    &.el-input.el-input--prefix .el-input__prefix {
      left: auto;
      right: $common-space-4x;
      // 叉号规范-不使用带圆圈的叉号
      .el-icon-circle-close:before {
        @include iconfont;

        content: '\ea3c';
      }
      .el-icon-circle-close:hover{
        color: $color-master;
      }
    }

    &.el-input.el-input--small .el-input__inner {
      border-radius: $border-radius;
      height: $transfer-filter-input-height;
      line-height: $transfer-filter-input-height;
      padding-left: $padding-4x;
      padding-right: $padding-10x;
    }
  }

  .el-checkbox.el-transfer-panel__item:hover {
    background-color: $transfer-item-hover-bg;
  }

  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: $color-master;
  }

  .el-checkbox {
    margin-right: 0;
  }

  .el-checkbox__label {
    font-size: $text-size;
  }
}

.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label {
  font-size: $text-size;
  > span {
    color: $text-color; // 标题统计数字颜色
    right: $common-space-4x; // 对称
  }
}

.el-transfer-panel__filter {
  .el-input__icon {
    margin-left: 0;
  }
}
