/* Tree
-------------------------- */
.el-tree {
  margin-top: $margin-10;
  background: transparent; //TODO
}

.el-tree-node {
  &__content {
    height: $common-space-8x;
    // margin-bottom: $margin-6;
    line-height: $line-height;
    font-size: $text-size;
    color: $color-grey-4;
    & > .el-tree-node__expand-icon {
      padding: $tree-node-icon-padding;
    }
    .el-checkbox__input {
      width: $tree-checkbox-size;
      height: $tree-checkbox-size;
      .el-checkbox__inner {
        width: 100%;
        height: 100%;
        &::before {
          width: $tree-checkbox-size;
          height: $tree-checkbox-size;
          top: 0px;
          left: 0px;
          transform: translate($tree-checkbox-transform, $tree-checkbox-transform) scale($tree-checkbox-scale);
        }
        &::after {
          left: $common-space;
          top: $tree-checkbox-tick-top;
        }
      }
    }
    .is-indeterminate {
      .el-checkbox__inner {
        background: $color-master;
        &::before {
          background: $color-white;
        }
      }
    }

    &:hover {
      background: none;

      .handler-menu {
        display: flex;
      }
    }

    .node-content {
      .handler-menu {
        height: $tree-handler-menu;
        display: flex;
        align-items: center;

        .hover-wrapper {
          height: 100%;
          display: flex;
          align-items: center;
        }
      }
    }
    .is-disabled {
      & ~ .el-tree-node__label {
        color: $color-neutral-10;
      }
    }
  }
  .pop-tooltip {
    display: none;
    position: absolute;
    z-index: $zindex-tooltip;
    top: $common-space-6x;
    right: 0;
    background: $color-bg-1;
  }
}

.el-tree-node.is-focusable {
  & > .el-tree-node__content {
    color: $color-neutral-11;

    &:hover:not(.is-current > .el-tree-node__content:hover) {
      background: $color-master-bg-light-2;

      .el-checkbox__inner {
        border-color: $color-master;
      }
    }
  }

  &.is-current {
    & > .el-tree-node__content {
      color: $color-master;
      font-weight: 500;
      background: none;

      .el-checkbox__inner {
        &::before {
          background: $color-white;
        }
      }
    }
  }
}

.tree-node-popover {
  box-shadow: $shadow-1;
  min-width: 0;
  padding: 0;
  margin: $tree-node-popover-margin 0 0 0;

  .tooltip-content {
    display: flex;
    flex-direction: column;
    background: $color-bg-1;

    .el-button {
      margin: 0;
      padding: $tree-button-tooltip-content-padding;
      color: $text-color-light;

      &:hover {
        background: $color-master-bg-light-2;
      }
    }
  }
}

.el-tree-node__expand-icon {
  color: $color-grey-5;
}

.el-tree-node__expand-icon.is-leaf {
  padding: $tree-leaf-expand-icon-padding; // TODO
}
