/* Tree
-------------------------- */
$tree-checkbox-size: 14px;
$tree-node-icon-padding: 8px;
$tree-node-icon-leaf-padding: 4px;
$tree-checkbox-transform: -0.85px;
$tree-checkbox-scale: 0.375;
$tree-checkbox-tick-top: 1px;
$tree-handler-menu: 30px;
// $tree-node-popover-margin: 0.3em;
// $tree-button-tooltip-content-padding: 0.8em 1.2em;
$tree-leaf-expand-icon-padding: 2px;

.el-tree {
  margin-top: $margin-10;
  background: transparent; //TODO

  // checkbox没对齐
  .el-tree-node__content {
    line-height: 1;
    color: $color-neutral-6;
    .node-content .node-icon {
      & > svg {
        color: $color-neutral-9;
      }
      color: $color-neutral-9;
    }
  }
}

.el-tree-node {
  font-family: PingFangSC-Regular;
  &__content {
    height: $common-space-8x;
    // margin-bottom: $margin-6;
    line-height: $line-height;
    font-size: $text-size;
    color: $color-neutral-7;

    & > .el-tree-node__expand-icon {
      padding: $tree-node-icon-padding;
      &.is-leaf {
        // padding: $tree-node-icon-leaf-padding;
        padding: $tree-node-icon-padding;
      }
    }

    .el-checkbox__input {
      width: $tree-checkbox-size;
      height: $tree-checkbox-size;

      .el-checkbox__inner {
        width: 100%;
        height: 100%;

        &::before {
          width: $tree-checkbox-size;
          height: $tree-checkbox-size;
          top: 0px;
          left: 0px;
          transform: translate($tree-checkbox-transform, $tree-checkbox-transform) scale($tree-checkbox-scale);
        }

        &::after {
          left: $common-space;
          top: $tree-checkbox-tick-top;
        }
      }
    }

    // .is-indeterminate {
    //   .el-checkbox__inner {
    //     background: $color-master;
    //     &::before {
    //       background: $color-white;
    //     }
    //   }
    // }
    &:hover {
      background: none;

      .handler-menu {
        display: flex;
      }
    }

    .node-content {
      .handler-menu {
        height: $tree-handler-menu;
        display: flex;
        align-items: center;

        .hover-wrapper {
          height: 100%;
          display: flex;
          align-items: center;
        }
      }
    }

    .is-disabled {
      & ~ .el-tree-node__label {
        color: $color-neutral-6;
      }
    }
  }

  .pop-tooltip {
    display: none;
    position: absolute;
    z-index: $zindex-tooltip;
    top: $common-space-6x;
    right: 0;
    background: $color-bg-1;
  }

  &:focus > &__content > &__label {
    color: $color-master;
    font-weight: $text-title-weight;
  }

  &:focus > &__content > .el-checkbox.is-disabled ~ &__label {
    color: $color-neutral-6;
    font-weight: $text-weight;
  }
  &:focus > &__content > .el-checkbox ~ &__label {
    color: $color-neutral-10;
    font-weight: $text-weight;
  }

  &:focus > &__content {
    background: none;

    &:hover {
      background: $color-neutral-1;
    }
  }

  &__content:hover {
    background: $color-neutral-1;
  }
}

.el-tree-node.is-focusable {
  & > .el-tree-node__content {
    color: $color-neutral-11;
  }

  &.is-current {
    background: none;
  }
}

.el-tree-node {
  &:focus > .el-tree-node__content > .node-content {
    color: $color-master;
    font-weight: $text-title-weight;
  }
}

.el-tree-node__expand-icon {
  color: $color-neutral-9;
}

.el-tree-node__expand-icon.is-leaf {
  padding: $tree-leaf-expand-icon-padding; // TODO
}

.el-tree--highlight-current {
  .el-tree-node.is-current {
    & > .el-tree-node__content {
      background: none;
      .node-content .node-icon {
        color: $color-neutral-9;
      }
      &:hover {
        background: $color-neutral-1;
      }
      .el-tree-node__label {
        color: $color-master;
        font-weight: $text-title-weight;
      }
      color: $color-master;
      font-weight: $text-title-weight;
    }
  }
}
