/* Upload
-------------------------- */
@mixin uploader-success {
  .el-upload-list__item .el-upload-list__item-name {
    color: $upload-font-active-color;
    font-size: $upload-font-size;
    align-items: center;
    margin-right: 0;
    padding-right: 40px;

    &:hover,
    &:focus,
    &:active {
      background-color: $upload-bg-hover;
      color: $upload-font-active-color;
    }
  }

  .el-icon-document:before {
    font-family: $font-family-cute-icons !important;
    font-style: normal;
    content: '\ea3e';
    font-size: $text-size-lg;
  }

  .el-upload-list__item:hover {
    background: $upload-bg-hover;
  }

  .el-icon-close:before {
    font-family: $font-family-cute-icons !important;
    font-style: normal;
    content: '\ea70' !important;
    font-size: $text-size-lg;
  }

  .el-upload__tip {
    color: $upload-tips-font-color;
    font-size: $upload-font-size;
    margin: $margin-3x 0 $margin-10;
  }

  .el-icon-circle-check:before {
    font-family: $font-family-cute-icons !important;
    font-style: normal;
    content: '\ea64' !important;
    font-size: $text-size-lg;
  }

  .el-upload-list__item-name {
    text-decoration-line: none;

    .el-icon-document {
      vertical-align: middle;
    }
  }
}

//小文件
.small-uploader {
  width: 316px; // TODO
  padding: $padding-5x;
  background-color: $upload-bg;
  border: 1px solid $upload-border-color;
  border-radius: $border-radius;

}

@include uploader-success();

//图片上传
.picture-uploader {
  display: flex;
  margin-bottom: $margin-10;

  .el-upload--picture-card {
    width: $upload-picture-card-size; // TODO
    height: $upload-picture-card-size; // TODO
    border-color: $upload-border-color;
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-grey-11;

    .el-upload-list__item {
      width: $upload-picture-card-size;
      height: $upload-picture-card-size;
      border-radius: $border-radius;
    }

    .el-icon-plus {
      font-size: $text-size-xl;
      color: $text-color-light;
    }

    &:hover {
      border-color: $upload-color;
    }
  }

  .el-upload-list__item.is-success {
    &:hover {
      background: $color-white;
    }
  }

  .el-upload-list.el-upload-list--picture-card .el-progress {
    width: $upload-picture-card-progress-circle-size;
  }

  .el-upload-list--picture-card .el-upload-list__item {
    width: $upload-picture-card-size;
    height: $upload-picture-card-size;
    display: flex;
    border-color: $upload-border-color;
    align-items: center;
    border-radius: $border-radius;
    justify-content: center;
    background-color: $upload-bg;

    .el-upload-list__item-status-label {
      display: none;
    }
  }

  .el-progress-circle {
    width: $upload-picture-card-progress-circle-size !important;
    height: $upload-picture-card-progress-circle-size !important;
  }

  .el-upload-list--picture-card {
    display: flex;

    .el-upload-list__item-thumbnail {
      width: 68px; // TODO
      height: 68px; // TODO
    }
  }

  .el-icon-delete:before {
    content: '\ea70';
    font-family: $font-family-cute-icons !important;
    font-style: normal;
  }

  .el-progress-circle svg path:nth-child(2) {
    stroke: $upload-color;
  }
}

.el-upload-list__item.is-uploading {

  .el-progress-bar__outer {
    height: $upload-progress-bar-height !important;
    border-radius: 0 !important;
  }

  .el-progress-bar__inner {
    border-radius: 0 !important;
  }
}

//文件上传
.file-uploader {
  width: $upload-file-uploader-width; // TODO

  @include uploader-success();

  .file-uploader_content {
    width: $upload-file-uploader-width; // TODO
    height: $upload-picture-card-size; // TODO
    border: 1px solid $upload-border-color; // TODO
    border-radius: $border-radius;
    background-color: $upload-bg;

    &:hover {
      border-color: $upload-color;
    }
  }

  .sub-svg-text {
    margin-top: 29px; // TODO

    svg {
      color: $upload-color;
      margin-right: $margin-10;
    }

    span {
      font-size: $text-size;
      color: $upload-color;
    }
  }
}

//拖拽上传
.drag-uploader {
  width: $upload-file-uploader-width;

  .el-upload-dragger {
    border: 1px dashed $upload-border-color;
    border-radius: $upload-dragger-border-radius;
    background-color: $upload-bg;
    height: $upload-picture-card-size;
    width: $upload-file-uploader-width;

    .el-upload__text {
      line-height: $form-item-content-line-height;
      color: $upload-dragger-text-color;
      vertical-align: middle;
      padding-top: 34px;

      span {
        color: $upload-color;
      }
    }

    &:hover {
      border-color: $upload-color;
    }
  }

  @include uploader-success();
}

.el-upload__text {
  b {
    font-weight: normal;
    font-size: $text-size;
    margin-top: $margin-5x;
    line-height: $common-space-5x;
  }

  div {
    font-size: $text-size;
    color: $text-color-light-2;
    margin: $margin-6 0 38px; // TODO
    line-height: $common-space-5x;
  }
}

// .el-upload {
//   .el-button--medium{ padding: $padding-2x $padding-3x ;}
// }
.el-upload-out__tip {
  font-size: $text-size;
  color: $upload-tips-font-color;
  margin-top: $margin-2x;
}