/* Radio
-------------------------- */
.el-radio-button__orig-radio:checked + .el-radio-button__inner {
  color: $color-master-1;
  background-color: $color-master-7;
}

.el-radio__inner {
  width: 16px;
  height: 16px;
  background-color: $color-bg-1;

  &::after {
    width: 8px;
    height: 8px;
    background: $color-master-1;
  }
}

/* SelectButton
-------------------------- */
.el-radio-group {
  .el-radio-button {
    .el-radio-button__inner {
      color: $text-color-primary;
      font-size: $text-size-primary;
      padding: 7px 20px;

      &:not(.el-radio-group .el-radio-button.is-disabled .el-radio-button__inner):hover {
        color: $color-master-1;
      }
    }

    &.is-active .el-radio-button__inner {
      background: $color-master-7;
      color: $color-master-1;
      border-right: 1px solid $color-master-1;
    }
  }
}

.el-radio-button:not(.is-active) .el-radio-button__inner {
  border-color: $color-grey-6;
  background: $color-bg-1;
}

.el-radio-button.el-radio-button--medium.is-active.is-disabled {
  .el-radio-button__inner {
    background-color: $color-bg-1;
    border-color: $color-grey-6;
    color: $color-grey-4;
  }
}

.el-radio-button.is-disabled .el-radio-button__inner {
  background-color: $color-grey-10;
  color: $disabled-color;
  font-weight: 400;
}

.el-radio__input.is-disabled.is-checked .el-radio__inner::after {
  background: $disabled-border;
}

.el-radio__input.is-disabled .el-radio__inner {
  background: $disabled-fill;
}

.el-radio__input.is-checked .el-radio__inner {
  background: $color-bg-1;
}
