/* Scrollbar
-------------------------- */
.el-scrollbar__thumb {
  border-radius: 8px; //TODO
  background-color: $color-grey-6;
}

.el-scrollbar__bar {
  &.is-vertical {
    width: $common-sapce-2x;
  }

  &.is-horizontal {
    height: $common-sapce-2x !important;
  }
}
