@mixin card1-page {
  .card-tools {
    display: flex;
    justify-content: space-between;

    .el-button + .el-button,
    .card-tolls__btn {
      margin-left: $button-margin;
    }
  }

  .el-col {
    margin-bottom: 20px;
  }

  .el-card {
    border-color: $border-color-primary;

    .el-card__body {
      padding: 16px;
    }
  }

  .card-box {
    .card-box--title {
      display: flex;
      align-items: center;
      margin-bottom: 14px;

      svg {
        color: $disabled-color;
        margin-right: 8px;
      }
    }

    .card-box--bar {
      display: flex;
    }

    .card-box--info {
      margin-top: 8px;
      word-break: break-all;
      text-overflow: ellipsis;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      min-height: 30px;
    }

    .card-box--btns {
      display: flex;
      justify-content: space-between;
      padding: 12px 0;
      background-color: $color-grey-11;
      margin: -16px;
      margin-top: 16px;
      border-top: 1px solid $border-color-primary;

      & > div {
        flex: 1;
        text-align: center;
        border-right: 1px solid $border-color-primary;

        &:last-child {
          border: none;
        }
      }

      svg {
        color: $button-icon-color;
        font-size: $text-size-large;
        cursor: pointer;
        font-size: 16px;
        color: $color-grey-4;
      }
    }

    .card-box--bar--text {
      width: 40%;
      color: $text-color-light-1;

      span {
        font-size: $text-size-large;
        margin-left: 12px;
        font-weight: 500;
        color: $text-color-primary;
      }
    }

    &.active {
      .card-box--title svg {
        color: $color-status-success;
        font-weight: 500;
      }
    }
  }
}

/* 小卡片 */
.card1-page {
  @include card1-page();
}

/* 大卡片 -- Card3 */

.card-big {
  .el-card {
    border: 1px solid $color-grey-6;
  }

  .el-card.is-hover-shadow:hover {
    box-shadow: 0 0 8px 0 rgba(100, 110, 144, 10%);
  }

  .card-btn {
    margin-bottom: 16px;
  }

  .card-box {
    .el-col {
      margin-bottom: 20px;

      .el-card.is-hover-shadow:hover {
        box-shadow: -6px 6px 8px 4px rgba(100, 110, 144, 20%);
      }
    }

    &__info {
      padding: 4px;
      height: 167px;

      &__header {
        display: flex;
        font-family: PingFangSC-Regular;
      }

      &__avatar {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $color-master-2;
      }

      &__name {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        color: #333;
        font-weight: 500;
        margin-left: 12px;
      }

      &__version {
        display: inline-block;
        vertical-align: middle;
        margin-left: 16px;
        font-size: 12px;
        color: #666;
        line-height: 20px;
        font-weight: 400;

        &__num {
          color: $color-master-1;
          padding-left: 3px;
        }
      }

      &__handle {
        margin-left: auto;
        font-size: 18px;
        color: $color-grey-3;
        cursor: pointer;

        & > * {
          margin: 0 10px;
        }
      }

      &__con {
        margin-top: 16px;
        display: flex;
      }

      &__text {
        font-size: 12px;
        color: $color-grey-1;
        line-height: 20px;
        font-weight: 500;
        display: inline-block;
        margin-right: 12px;
        white-space: nowrap;
      }

      &__tag {
        display: flex;
        flex-flow: wrap;

        & > * {
          background: rgba(0, 0, 0, 4%);
          border: 1px solid rgba(0, 0, 0, 8%);
          border-radius: 2px;
          padding: 1px 8px;
          margin-right: 6px;
          margin-bottom: 2px;
          white-space: nowrap;
          cursor: pointer;
        }
      }

      &__describe {
        width: calc(100% - 40px);
        display: inline-block;
        overflow: hidden;

        &__text {
          display: inline-block;
          overflow-y: scroll;
          height: 100%;
          line-height: 20px;
        }
      }
    }
  }
}

// 小卡片较少
.card-small {
  @include card1-page();

  .card-box-less {
    .el-card__body {
      padding: 0;
    }

    .card-box {
      display: flex;

      .card-box--info {
        display: flex;
        line-height: 34px;
        margin-top: 3px;

        .input-box {
          width: 100%;
          margin-left: auto;
        }
      }

      .card-cont {
        width: 100%;
        padding: 16px 16px 12px;

        .card-box--bar--text {
          width: 50%;
        }

        .card-box--title {
          line-height: 24px;
          font-weight: 500;

          .card-box--title-icon {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: $color-tag-success-1;
            padding: 5px;
            margin-right: 16px;

            .svg-icon {
              display: block;
            }
          }
        }
      }

      .card-box--btns-less {
        width: 40px;
        border-left: 1px solid $border-color-primary;
        justify-content: space-between;
        background-color: #f9f9fa;
        margin-left: auto;
        display: flex;
        flex-direction: column;

        & > div {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          border-bottom: 1px solid $border-color-primary;

          &:last-child {
            border: none;
          }
        }

        & > div:hover {
          cursor: pointer;
          opacity: 0.9;
        }

        svg {
          font-size: 16px;
          color: $color-grey-4;
        }
      }
    }
  }
}
