@mixin detail {
  /* 带标签和操作按钮的顶部栏 */
  .detail-header {
    display: flex;
    justify-content: space-between;

    &__left {
      .tags-title {
        font-size: $text-size-medium;
        font-weight: 500;
        margin-right: 16px;
        color: $color-grey-1;
      }
    }
  }

  /* 表示状态的圆点 */
  .status-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border-radius: 100%;
  }
}

/* 简单详情 */
.simple-detail {
  .detail-nav {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .back {
      margin-right: 4px;
      color: $color-grey-3;
      cursor: pointer;
    }

    span {
      color: $color-grey-1;
      cursor: pointer;
    }

    .detail-title {
      font-size: 14px;
      color: $color-grey-1;
      line-height: 20px;
      font-weight: 500;

      &:before {
        content: '|';
        color: $color-grey-6;
        margin: 0 12px;
      }
    }
  }

  .detail-goods {
    position: relative;
    margin-bottom: 24px;

    .operation {
      position: absolute;
      top: 4px;
      right: 0;
    }
  }
}

/* 复杂详情页1 */

.pro-detail1 {
  @include detail();

  .el-card {
    border: 1px solid $border-color-primary;
  }

  .operate-card {
    margin-top: 16px;

    /* 分批管理子卡片 */
    .el-card__header {
      background-color: $color-grey-10;
      padding: 9px 16px;
      border-bottom: 1px solid $border-color-primary;
    }

    .el-card__body {
      padding: 0 16px;
      display: flex;
    }

    &__left {
      width: 376px;
      padding-right: 16px;
      padding-top: 16px;

      .status-dot {
        &--0 {
          background: $color-status-warning;
        }

        &--1 {
          background: $color-status-success;
        }
      }

      .operate-btn {
        margin-bottom: 20px;
      }
    }

    &__right {
      width: calc(100% - 376px);
      border-left: 1px solid $border-color-primary;
      padding-left: 16px;
      padding-top: 16px;

      .timeline-content {
        margin-top: 24px;

        h4 {
          font-size: $text-size-small;
          color: $color-grey-2;
          margin-top: 8px;
          margin-bottom: 0 !important;
        }

        p {
          margin-top: 8px;
          margin-bottom: 0 !important;
        }

        .table {
          margin: 8px 0 0 !important;
        }
      }

      .sub-complex {
        .el-timeline-item {
          padding-bottom: 16px;
        }

        .status-dot {
          &--0 {
            background: $color-status-danger;
          }

          &--1 {
            background: $color-status-success;
          }
        }
      }
    }
  }
}

/* 复杂详情页2 */
.pro-detail2 {
  @include detail();

  .header-extra {
    margin-bottom: 16px;
  }

  .container {
    width: 100%;
    display: flex;

    &__left {
      width: 200px;
      border-right: 1px solid rgba(0, 0, 0, 6%);
      .el-tree {
        background-color: $color-bg-2;
      }
      .node-content {
        margin-left: -0.5em;
        display: flex;
        align-items: center;
        color: $text-color-primary;
      }

      .node-icon {
        color: $color-grey-5;

        .svg-icon {
          display: none;
          margin-right: 0.5em;

          &:first-child {
            display: inline;
          }
        }
      }

      .is-expanded > .el-tree-node__content {
        .node-icon {
          color: $color-grey-5;

          .svg-icon {
            display: none;

            &:last-child {
              display: inline;
            }
          }
        }
      }

      .el-tree-node:focus > .el-tree-node__content {
        .node-content,
        .node-icon,
        .handler-icon {
          color: $color-white;
        }
      }

      .el-tree-node__content {
        position: relative;

        .handler-menu {
          position: absolute;
          right: 0.5em;
          display: none;

          .el-button:not(.pop-tooltip .el-button) {
            padding: 0;
            margin: 0.9em 0.3em;
          }

          .handler-icon {
            color: $color-grey-5;
          }
        }

        &:hover {
          .handler-menu {
            display: block;
          }
        }
      }

      .tree-title {
        font-size: 14px;
        color: $color-grey-1;
        line-height: 20px;
        font-weight: 500;
        padding-left: 6px;
      }

      .el-tree-node > .el-tree-node__children {
        overflow: initial;
      }

      .hover-wrapper {
        display: inline-block;
        margin-left: -0.4em;

        &:hover {
          .pop-tooltip {
            display: block;
          }
        }
      }

      .pop-tooltip {
        display: none;
        position: absolute;
        z-index: 2019;
        top: 24px;
        right: 0;
        background: $color-bg-1;
      }
    }

    &__right {
      width: calc(100% - 216px);
      padding-left: 16px;
    }
  }
}
