/* 状态页 */
@mixin status {
  min-height: 100vh;
  background-color: $color-bg-2;
}

.page-status {
  @include status();

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .box {
    .el-empty__description p {
      font-family: PingFangSC-Regular;
      font-size: 16px;
      color: $color-grey-4;
      text-align: center;
      font-weight: 400;
      padding-top: 20px;
    }
  }
}

.empty-page {
  @include status();

  .box {
    min-height: calc(100vh - 206px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .text {
      font-family: PingFangSC-Regular;
      font-size: 16px;
      color: $color-grey-4;
      text-align: center;
      font-weight: 400;
      padding-top: 20px;
    }
  }
}
