@mixin table {

  /* 分页 */
  .el-pagination {
    text-align: right;
  }

  .el-table {

    /* 操作按钮 */
    .actions.el-table__cell {
      .el-button--text+.el-button--text {
        margin-left: 16px;

        &:before {
          content: ' ';
          position: relative;
          left: -8px;
          border-left: 1px solid $border-color-primary;
        }
      }
    }
  }
}

/* 简单表格 */
.simple-table {

  /* 表格工具栏 */
  .table-tools {
    display: flex;
    justify-content: space-between;

    /* 筛选表单 */
    &__conditions {
      .el-form-item {
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
        }
      }

      .el-input,
      .el-select {
        width: 268px;
      }

      &__buttons {
        margin-right: 0;

        .el-button+.el-button {
          margin-left: $button-margin;
        }
      }
    }
  }

  @include table();
}

.simple-table2 {

  /* 表格工具栏 */
  .table-tools {

    /* 筛选表单 */
    &__conditions {
      .el-form {
        display: flex;
        width: 100%;
      }

      .el-form-item {
        margin-bottom: 0;
        flex: 1;
        margin-right: 20px;

        .el-form-item__content {
          width: 100%;
        }

        &:last-child {
          margin-right: 0;
          flex: none;
        }
      }

      .el-input,
      .el-select {
        width: 100%;

      }


      &__buttons {
        margin-right: 0;
        float: right;

        .el-button+.el-button {
          margin-left: $button-margin;
        }
      }
    }
  }

  @include table();
}

/* 复杂表格 3 */
.pro-table-3 {

  /* 分页 */
  .el-pagination {
    text-align: right;
  }

  .el-table {

    /* 操作按钮 */
    .actions.el-table__cell {
      .el-button--text+.el-button--text {
        margin-left: 10px;

        &:nth-last-child(2) {
          margin-right: 10px;
        }

        &:nth-last-child(1) {
          &:before {
            content: ' ';
            position: relative;
            left: -10px;
            border-left: 1px solid $border-color-primary;
          }
        }
      }
    }

    .actions__svgicon {
      margin-left: 6px;
      cursor: pointer;
      width: 10px !important;
      color: $color-master-1;
    }

    .actions__txt {
      font-size: 12px;
      color: $color-master-1;
      line-height: 20px;
      font-weight: 400;
    }
  }

  /* 表格工具栏 */
  .table-tools {
    &__left {
      display: flex;
    }

    &__right {
      display: flex;
      align-items: center;

      &__button__txt {
        font-size: 12px;
        color: $color-grey-1;
        line-height: 20px;
        font-weight: 400;
        cursor: pointer;
      }
    }

    /* 按钮组 */
    &__bottom {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
    }

    /* 筛选表单 */
    &__conditions {
      border-bottom: 1px solid $color-grey-7;

      .el-form-item {
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
        }
      }

      .el-row:nth-last-child(1) {
        .el-col:nth-last-child(1) {
          display: flex;
          flex-direction: row-reverse;
        }
      }

      .el-input,
      .el-select {
        min-width: 357px;
        width: 100%;
      }

      &__buttons {
        margin-right: 0;
        float: right;

        .el-button+.el-button {
          margin-left: $button-margin;
        }

        &__txt {
          font-size: 12px;
          color: $color-master-1;
          line-height: 20px;
          font-weight: 400;
          margin-left: 12px;
          cursor: pointer;
        }
      }
    }
  }
}

/* 复杂表格 4 */
.pro-table-4 {
  .el-card__body {
    position: relative;
    width: 100%;
    height: 100%;
    // overflow: hidden;
    display: flex;
  }

  .table4-left {
    position: absolute;
    width: 15%;
    top: 20px;
    left: 13px;

    .tree-wrap {
      height: 752px;
      overflow: scroll;
    }
  }

  .table4-right {
    width: 82%;
    overflow-y: auto;
    margin-left: 18%;
  }

  /* 树 */
  .tree-wrap {
    border-right: 1px solid $border-color-light-1;
    margin-right: 20px;

    .tree-title {
      margin-top: 0;
      padding-left: 0.5em;
      color: $color-grey-1;
    }

    .node-content {
      margin-left: -0.5em;
      display: flex;
      align-items: center;
      color: $text-color-primary;
    }

    .node-icon {
      color: $color-grey-5;

      .svg-icon {
        display: none;
        margin-right: 0.5em;

        &:first-child {
          display: inline;
        }
      }
    }

    .is-expanded>.el-tree-node__content {
      .node-icon {

        .svg-icon {
          display: none;

          &:last-child {
            display: inline;
          }
        }
      }
    }

    .el-tree-node:focus>.el-tree-node__content {

      .node-content,
      .node-icon,
      .handler-icon {
        color: $color-white;
      }
    }

    .el-tree-node__content {
      position: relative;

      .handler-menu {
        position: absolute;
        right: 0.5em;
        display: none;

        .el-button:not(.pop-tooltip .el-button) {
          padding: 0;
          margin: 0.9em 0.3em;
        }

      }

      &:hover {
        .handler-menu {
          display: flex;
          color: $color-white;
        }
      }
    }

    .el-tree-node>.el-tree-node__children {
      overflow: initial;
    }

    .el-tree-node:focus {
      background: none;
    }

    .el-tree-node:focus>.el-tree-node__content {
      background-color: $color-master-1;

    }

    .hover-wrapper {
      display: inline-block;
      margin-left: -0.4em;

      &:hover {
        .pop-tooltip {
          display: block;
        }
      }
    }

    .pop-tooltip {
      display: none;
      position: absolute;
      z-index: 2019;
      top: 24px;
      right: 0;
      background: $color-white;
    }
  }

  /* 表格 */
  .table-wrap {

    /* 表格工具栏 */
    .table-tools {
      display: flex;
      justify-content: space-between;

      // &__left {
      //   display: flex;
      // }

      &__right {
        display: flex;
      }

      /* 筛选表单 */
      &__conditions {
        .el-form-item {
          margin-bottom: 0;

          &:last-child {
            margin-right: 0;
          }
        }

        .el-input,
        .el-select {
          width: 268px;
        }

        &__buttons {
          margin-left: 24px;
          margin-right: 0;

          .el-button+.el-button {
            margin-left: $button-margin;
          }
        }
      }
    }

    @include table();
  }
}

/* 复杂表格 5 */
.pro-table-5 {

  /* 分页 */
  .el-pagination {
    text-align: right;
  }

  .el-table {

    /* 操作按钮 */
    .actions.el-table__cell {
      .el-button--text+.el-button--text {
        margin-left: 10px;

        &:nth-last-child(2) {
          margin-right: 10px;
        }

        &:nth-last-child(1) {
          &:before {
            content: ' ';
            position: relative;
            left: -10px;
            border-left: 1px solid $border-color-primary;
          }
        }
      }
    }

    .actions__svgicon {
      margin-left: 6px;
      cursor: pointer;
      width: 10px;
      color: $color-master-1;
    }

    .actions__txt {
      font-size: 12px;
      color: $color-master-1;
      line-height: 20px;
      font-weight: 400;
    }
  }

  /* 表格工具栏 */
  .table-tools {
    &__left {
      display: flex;
    }

    &__right {
      display: flex;
      align-items: center;

      &__button__txt {
        font-size: 12px;
        color: $color-grey-1;
        line-height: 20px;
        font-weight: 400;
        cursor: pointer;
      }
    }

    /* 按钮组 */
    &__bottom {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
    }

    /* 筛选表单 */
    &__conditions {
      border-bottom: 1px solid $color-grey-7;

      .el-form {
        display: flex;
        margin-bottom: 16px;
      }

      .el-form-item {
        margin-bottom: 0;
        margin-right: 20px;
        flex: 1;
      }

      .el-input,
      .el-select {
        width: 100%;
      }

      &__buttons {
        margin-right: 0;

        .el-button+.el-button {
          margin-left: $button-margin;
        }

        &__txt {
          font-size: 12px;
          color: $color-master-1;
          line-height: 20px;
          font-weight: 400;
          margin-left: 12px;
          cursor: pointer;
        }
      }
    }
  }
}

.pro-table-7 {

  .table7-explain {
    font-size: 12px;
    color: $color-grey-1;
    max-width: 80%;
    line-height: 20px;
    font-weight: 400;
    margin: 10px 0 16px 0;
  }

  .el-table__expanded-cell {
    width: 100% !important;
    padding: 9px 10px 0 20px !important;
    background-color: $color-bg-2;
  }

  .el-table__row:last-child {
    .el-table__cell {
      border-bottom: 0;
    }
  }

  .used {
    color: $color-status-success-1;
  }

  .el-table th {
    padding: 0 !important;
  }

  .el-table {
    background-color: $color-bg-2;
    margin: 0;
  }
}

/* 复杂表格1 */
.pro-table-1 {
  overflow: inherit !important;

  /* 表格工具栏 */
  .table-tools {
    display: flex;
    justify-content: space-between;

    /* 筛选表单 */
    &__conditions {
      margin-bottom: 16px;

      .el-form-item {
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
        }
      }

      .el-input,
      .el-select {
        width: 268px;
      }

      &__buttons {
        margin-right: 0;

        .el-button+.el-button {
          margin-left: $button-margin;
        }
      }
    }
  }

  @include table();

  .el-table__cell:last-child .cell {
    padding-right: 0 !important;
  }

  /*  过滤条件 */
  .table-filter {
    display: flex;
    align-items: center;

    .table-filter_text {
      color: $color-grey-1;
      margin-right: 12px;
    }

    .el-tag.el-tag--newtag.el-tag--large.el-tag--light {
      position: relative;
    }
  }

  .el-dropdown-link {
    cursor: pointer;
    color: $color-master-1;
  }
}

/* 复杂表格2 */
.pro-table-2 {

  /* 表格工具栏 */
  .table-tools {

    /* 筛选表单 */
    &__conditions {
      margin-bottom: 16px;

      .table-tools_top,
      .table-tools_bottom {
        display: flex;
      }

      .table-tools_top {
        .el-form-item {
          margin-bottom: 16px;
          flex: 1;

          .el-form-item__content {
            width: 100%;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .table-tools_bottom {
        .el-form-item {
          margin-bottom: 0;
          flex: 1;

          .el-form-item__content {
            width: 100%;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      &__buttons {
        margin-right: 0;

        .buttons {
          width: auto;
          float: right;
        }

        .el-button+.el-button {
          margin-left: $button-margin;
        }
      }
    }
  }

  @include table();

  .el-table__cell:last-child .cell {
    padding-right: 0 !important;
  }

  .table-button {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    border-top: 1px solid $color-grey-7;

    .el-select {
      width: 125px !important;
      margin-right: 20px;
    }

    .table-button_left {
      display: flex;
    }
  }

  .el-form-item--medium .el-form-item__content {
    line-height: 32px;
  }



  .el-dropdown-link {
    cursor: pointer;
    color: $color-master-1;
  }
}

/* 暂无数据 */
.el-table__empty-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: normal;

  &:before {
    display: block;
    content: url('../images/table/not-have.svg');
    margin-top: 6px;
    margin-right: 8px;
  }
}

/* 下拉展开旋转小三角 */
.top-fill {
  transform: rotate(180deg);
}

.el-table__empty-block {
  border-bottom: 1px solid $border-color-primary;
}