@mixin detail {

  /* 带标签和操作按钮的顶部栏 */
  .detail-header {
    display: flex;
    justify-content: space-between;

    &__left {
      .tags-title {
        font-size: $text-size-medium;
        font-weight: 500;
        margin-right: 16px;
      }

      .el-tag {
        margin-left: 8px;
      }

      .input-new-tag {
        width: 60px;
        margin-left: 10px;
        vertical-align: bottom;

        .el-input__inner {
          height: 22px;
          line-height: 20px;
        }
      }
    }
  }

  /* 表示状态的圆点 */
  .status-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border-radius: 100%;
  }
}

/* 简单详情 */

/* 复杂详情页1 */

.pro-detail1 {
  @include detail();

  .el-card {
    border: 1px solid $border-color-primary;
  }

  .operate-card {
    margin-top: 16px;

    /* 分批管理子卡片 */
    .el-card__header {
      background-color: $color-grey-10;
      padding: 9px 16px;
      border-bottom: 1px solid $border-color-primary;
    }

    .el-card__body {
      padding: 0 16px;
      display: flex;
    }

    &__left {
      width: 376px;
      padding-right: 16px;
      padding-top: 16px;

      .status-dot {
        &--0 {
          background: $color-status-warning;
        }

        &--1 {
          background: $color-status-success;
        }
      }

      .operate-btn {
        margin-bottom: 20px;
      }
    }

    &__right {
      width: calc(100% - 376px);
      border-left: 1px solid $border-color-primary;
      padding-left: 16px;
      padding-top: 16px;

      .timeline-content {
        margin-top: 24px;

        h4 {
          font-size: $text-size-small;
          color: rgba(0, 0, 0, 65%);
          margin-top: 8px;
          margin-bottom: 0 !important;
        }

        p {
          margin-top: 8px;
          margin-bottom: 0 !important;
        }

        .table {
          margin: 8px 0 0 !important;
        }
      }

      .sub-complex {
        .el-timeline-item {
          padding-bottom: 16px;
        }

        .status-dot {
          &--0 {
            background: $color-status-danger;
          }

          &--1 {
            background: $color-status-success;
          }
        }
      }

      ul {
        padding-left: 12px;
      }
    }
  }
}

/* 复杂详情页2 */
.pro-detail2 {
  @include detail();

  .header-extra {
    margin-bottom: 16px;
  }

  .container {
    width: 100%;
    display: flex;

    &__left {
      width: 200px;
      border-right: 1px solid #f0f0f0;
    }

    &__right {
      width: calc(100% - 216px);
      padding-left: 16px;
    }
  }
}
