/* Button */
@mixin Button_disabled($type,$bgColor,$bdColor,$color){
  .el-button--#{$type}.is-plain.is-disabled,.el-button--#{$type}.is-disabled{
    background-color: $bgColor;
    border: 1px solid $bdColor;
    color:  $color;
    &:hover,&:focus,&:active{
      background-color: $bgColor;
      border: 1px solid $bdColor;
      color: $color;
    }
  }
}

.el-button + .el-dropdown {
  margin-left: 8px;
}

.el-button + .el-button {
  margin-left: 8px;
}

.el-button-rect {
  padding: 10px;
}
@include Button_disabled(primary,$bgColor,$bdColor,$color);
@include Button_disabled(danger,$bgColor,$bdColor,$color);
@include Button_disabled(default,#fff, rgba(0,0,0,0.15), rgba(0,0,0,0.30));
.el-button.is-loading:before {
  background: transparent
}
/* Form */
.el-form-item__label {
  padding-right: 25px;
  color: $textGrey;
}

.el-form-item {
  margin-bottom: 25px;
}

.el-form-item__error {
  padding-top: 3px;
}

/* Input */
.el-input__prefix {
  display: flex;
  align-items: center;
}
.el-input-number__increase,.el-input-number__decrease{
  background-color:$inputBgColor ;
}
/* Textarea */
.el-textarea .el-input__count {
  color: $textGrey;
  line-height: 150%;
}

/* Radio */
.el-radio-button__orig-radio:checked + .el-radio-button__inner {
  color: $primary;
  background-color: rgba(250, 131, 52, 8%);
}

/* Checkbox */
.el-checkbox-group + .el-form-item__error {
  padding-top: 0;
}

/* Datepicker */
.el-date-editor .el-range-separator {
  width: 40px;
}

/* Tree */
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background: #f3f3f3;
}

/* Dialog */
.el-dialog__footer {
  margin-top: -30px;
}

.el-dialog__headerbtn .el-dialog__close {
  color: $textGrey;
}

/* Descriptions */
.el-descriptions td {
  padding: 10px 0;
}

/* Table */
.el-table__header-wrapper {
  background-color: #f3f3f3;
}

.el-table .el-table__header tr,
.el-table .el-table__header th {
  background-color: #f3f3f3;
}

.el-table th.el-table-column--selection > .cell {
  padding-left: 14px;
}

/* Alert */
.el-alert--info.is-light {
  border: 1px solid $info;
  background: #edf5ff;
}

/* Pagination */
.el-pagination {
  margin-top: 8px;
  padding-top: 8px;
  // text-align: right;
}

/* Breadcrumb */
.el-breadcrumb__inner.is-link,
.el-breadcrumb__inner a,
.el-breadcrumb__inner {
  color: $textGrey;
  font-weight: normal;

  &:hover {
    color: $textGrey;
  }
}

.el-breadcrumb__inner a:hover {
  color: $primary;
}

.el-breadcrumb__item:last-child {
  .el-breadcrumb__inner,
  .el-breadcrumb__inner:hover {
    color: $textHead;
    font-weight: bold;
  }
}

/* steps */
@mixin Steps($class,$stopBorderColor,$stopColor,$stopsBgColor){
  .el-step__head.#{$class}{
    border-color:$stopBorderColor;
    color: $stopColor;
    .el-step__icon.is-text{
      background-color: $stopsBgColor;
    }
  }
}
@include Steps(is-success,$stopBorderColor,$stopBorderColor,$stopColor);
@include Steps(is-process,$stopBorderColor,$stopColor,$stopBorderColor);
.el-step.is-horizontal .el-step__line{
  left: 30px;
  right: 10px;
}
@mixin Font-size(){
  
}
.el-steps.max.el-steps--horizontal{
  .el-step__line{
    top: 15px;
    left: 38px;
  }
  .el-step__icon.is-text{
    width: 32px;
    height: 32px;
    font-size: 16px;
  }
}

/* select */
.el-input.el-input--suffix{
  width: 300px;
}
.el-tag.el-tag--info {

  background: #F1F1F1;
border-radius: 2px;
  color: rgba(0,0,0,0.65);
}
