/* iconfont */
@mixin iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Button */
/*
  $type:类名;
  $bgColor:背景颜色;
  $bdColor:边框颜色;
  $color:字体颜色;
*/
@mixin button-disabled($type: primary, $bgColor: $bgColor, $bdColor: $bdColor, $color: $color) {
  .ui-button {
    .el-button--#{$type}.is-plain.is-disabled,
    .el-button--#{$type}.is-disabled {
      background-color: $bgColor;
      border: 1px solid $bdColor;
      color: $color;
      &:hover,
      &:focus,
      &:active {
        background-color: $bgColor;
        border: 1px solid $bdColor;
        color: $color;
      }
    }
  }
}

.el-button + .el-dropdown {
  margin-left: 16px;
  margin-right: 16px;
}

.el-button + .el-button {
  margin-left: 8px;
}
.ui-iconbutton {
  .el-button--medium {
    padding: 7px;
  }
}
.el-button--text {
  color: $text;
  &:hover {
    color: $primary;
  }
  &.light:not(.is-disabled) {
    color: $primary;
  }
}

.el-button-rect {
  padding: 10px;
}
.ui-button {
  .sub-special {
    .el-button--danger:hover {
      background-color: #e32948;
    }
    .el-button--danger:active,
    .el-button--danger:focus {
      background-color: #bd0322;
    }
  }
  .el-button--danger.is-plain {
    background: #fff;
    border: 1px solid #ff5050;
    &:hover,
    &:active,
    &:focus {
      background: #ff5050;
    }
  }
  .el-button--medium {
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 0 2px 2px 0;
  }
  .el-button--small {
    padding: 8x 20px;
    border: 1px solid #cccccc;
    border-radius: 2px;
  }
  .el-button.el-button--default:hover {
    background: #ffff;
    border: 1px solid #fa8334;
  }
}
.svg-icon.svg-fill {
  margin-right: 4px;
}

@include button-disabled();
@include button-disabled(danger, $bgColor, $bdColor, $color);
@include button-disabled(default, #fff, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3));
.el-button.is-loading:before {
  background: transparent;
}

.conventional-dropdown,
.combination-dropdown {
  width: 102px;
  text-align: center;
  left: 650px;
  .popper__arrow {
    display: none;
  }
}
// .el-button.el-button--primary.el-button--small {
//   border: none;
// }
.el-button.el-button--primary.el-button--mini {
  padding: 8px 20px;
}
/* Link */
.el-link.el-link--primary:hover {
  color: $primary;
}
/* Form */
.el-form-item__label {
  padding-right: 25px;
  color: $textGrey;
}

.el-form-item {
  margin-bottom: 25px;
}

.el-form-item__error {
  padding-top: 3px;
}

/* Input */

.el-input-group__append,
.el-input-group__prepend {
  width: 80px;
  background: #ffff;
  color: #333333;
  .el-input__inner::placeholder {
    color: #333333;
  }
}
.el-input-group__prepend {
  color: #666666;
}
.el-input {
  font-size: 12px;
}
.el-input__prefix {
  display: flex;
  align-items: center;
}
.el-input-number__increase,
.el-input-number__decrease {
  background-color: $inputBgColor;
}
.ui-input {
  .el-input__inner:hover {
    border: 1px solid #999999;
  }
  .el-input__inner:active {
    border: 1px solid #fa8334;
    box-shadow: 0 0 4px 0 rgba(250, 131, 52, 0.2);
  }
}
.ui-input {
  .el-form-item.is-error .el-input__inner {
    border: 1px solid #f5212d;
    background: rgba(245, 33, 45, 0.08);
  }
  .el-input__inner:hover {
    .el-input__icon.el-icon-close {
      color: red;
    }
  }
}
.el-input-group__prepend {
  .el-input__inne::placeholde {
    color: red;
  }
}
/* Textarea */
.el-textarea .el-input__count {
  color: $textGrey;
  line-height: 150%;
}
.el-textarea {
  font-size: 12px;
  width: 300px;
  .el-textarea__inner {
    padding: 7px 12px;
  }
}

/* Radio */
.el-radio-button__orig-radio:checked + .el-radio-button__inner {
  color: $primary;
  background-color: rgba(250, 131, 52, 8%);
}
.el-radio__inner {
  width: 16px;
  height: 16px;
  &::after {
    width: 8px;
    height: 8px;
    background: #fa8334;
  }
}

.el-radio-group {
  .el-radio-button {
    margin-left: 2px;
    .el-radio-button__inner {
      color: $text;
      font-size: $textSize;
      background-color: #FFEFE3;
      border: 0;
      &:hover {
        background-color: #FFE6D2;
      }
    }
    &.is-active .el-radio-button__inner {
      color: white;
      background-color: $primary;
    }
    &.is-disabled .el-radio-button__inner {
      color: #999;
      background-color: #F8F8F8;
    }
  }
}
.el-checkbox-group {
  .el-checkbox-button {
    margin-right: 8px;
    &:first-child .el-checkbox-button__inner {
      border: 1px solid transparent;
    }
    &.is-focus .el-checkbox-button__inner {
      border: 1px solid transparent;
    }
    &.is-checked .el-checkbox-button__inner {
      color: #333;
      background-color: rgba(250,131,52,0.08);;
      border: 1px solid #FA8334;
      box-shadow: none;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        border: 8px solid transparent;
        border-color: transparent #ff7b03 #ff7b03 transparent;
        transform: rotate(270deg);
      }
      &::after {
        content: "\eac7";
        color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 12px;
        zoom: .75;
        @include iconfont;
      }
    }
    &.is-disabled .el-checkbox-button__inner {
      color: #999;
      background-color: #F8F8F8;
      border-color: #ddd;
      &::before {
        border-color: transparent #ddd #ddd transparent;
      }
      &::after {
        color: #aaa;
      }
    }
  }
  .el-checkbox-button__inner {
    color: $text;
    font-size: $textSize;
    background-color: #FFEFE3;
    border: 1px solid transparent;
    border-radius: 2px;
    &:hover {
      background-color: #FFE6D2;
    }
  }
}

// 选中项
.el-radio__input.is-disabled.is-checked .el-radio__inner::after {
  background: #dddddd;
}
.el-radio__input.is-disabled .el-radio__inner {
  background: #f8f8f8;
}
.el-radio__input.is-checked .el-radio__inner {
  background: #ffffff;
}

/* Checkbox */
.el-checkbox-group + .el-form-item__error {
  padding-top: 0;
}
.el-checkbox__inner {
  width: 16px;
  height: 16px;
  &::after {
    left: 5px;
    top: 2px;
  }
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #fff;
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
  background-color: #fa8334;
  top: 2px;
  width: 10px;
  height: 10px;
  left: 2px;
}
.el-checkbox__input.is-disabled .el-checkbox__inner {
  background: #f8f8f8;
}
.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
  background: #f8f8f8;
}

/* Datepicker */
.el-date-editor .el-range-separator {
  width: 40px;
}

/* Tree */
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background: #f3f3f3;
}

/* Dialog */
.el-dialog__footer {
  margin-top: -30px;
}

.el-dialog__headerbtn .el-dialog__close {
  color: $textGrey;
}

/* Descriptions */
.el-descriptions td {
  padding: 10px 0;
}

/* Table */
.el-tabs__item {
  font-size: 12px;
}
.el-table__header-wrapper {
  background-color: #f3f3f3;
}
.el-table--border .el-table__cell {
  border-right: 0px solid #eee;
}

.el-table--border .el-table__cell:first-child .cell {
  padding-left: 20px;
}

.el-table--border .el-table__cell:last-child .cell {
  padding-right: 20px;
}
.el-table .el-table__header tr,
.el-table .el-table__header th {
  border-right: 1px solid white;
  background-color: #f3f3f3;
  .cell {
    height: 28px;
    line-height: 28px;
  }
}
.el-table .el-table__header th {
  padding-top: 0px;
  padding-bottom: 0px;
}

.el-table th.el-table-column--selection > .cell {
  padding-left: 14px;
}
// .el-table .el-table__fixed {
//   height: 100% !important;
// }
.el-table {
  max-height: 638px;
  overflow-y: scroll;
  margin: 24px 0 11px 0 !important;
}

.el-table .cell {
  font-size: 12px;
  span {
    font-size: 12px;
  }
}
.el-table .caret-wrapper {
  height: 28px;
}
.el-table .el-table__body-wrapper {
}
.el-table .sort-caret.ascending {
  border-bottom-color: #c0c4cc;
  top: 3px;
}
.el-table .sort-caret.descending {
  border-top-color: #c0c4cc;
  bottom: 3px;
}

.el-table--group,
.el-table--border {
  border: 0px;
}
.el-table::before,
.el-table--group::after,
.el-table--border::after {
  content: '';
  position: absolute;
  background-color: transparent;
  z-index: 1;
}
.el-table .el-icon-arrow-down:before {
  content: '\e790';
}

/* Pagination */
.el-pagination {
  margin-top: 8px;
  padding-top: 8px;

  .el-input__inner {
    width: 60px;
    height: 24px;
    font-size: 12px;
  }
  .el-select .el-input {
    width: 60px;
  }
  .el-input--medium .el-input__icon {
    line-height: 24px;
    color: #777777;
  }
  .el-pager {
    li {
      font-size: 12px;
      height: 24px;
      line-height: 24px;
    }
  }
}
.el-pagination.is-background .el-pager li {
  min-width: 20px;
}
.el-pagination__total {
  margin-right: 14px;
}

.el-pagination.is-background .btn-prev,
.el-pagination.is-background .btn-next,
.el-pagination.is-background .el-pager li {
  background-color: $paginationBgColor;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: #333333;
  background: #fef5ee;
}
.el-pagination__jump {
  margin-left: 0px;
  .el-pagination__editor.el-input {
    margin: 0 8px;
  }
}

/* Breadcrumb */
.el-breadcrumb__inner.is-link,
.el-breadcrumb__inner a,
.el-breadcrumb__inner {
  color: $textGrey;
  font-weight: normal;

  &:hover {
    color: $textGrey;
  }
}

.el-breadcrumb__inner a:hover {
  color: $primary;
}

.el-breadcrumb__item:last-child {
  .el-breadcrumb__inner,
  .el-breadcrumb__inner:hover {
    color: $textHead;
    font-weight: bold;
  }
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner {
  color: $text;
}
/* steps */
/* $class:类名;
   $bdColor:边框颜色
   $color:字体颜色
   $BgColor:背景颜色
*/
@mixin steps-page(
  $class: is-success,
  $bdColor: $stepsBorderColor,
  $color: $stepsSuccessColor,
  $BgColor: $stepsColor
) {
  .el-step__head.#{$class} {
    border-color: $bdColor;
    color: $color;
    .el-step__icon.is-text {
      background-color: $BgColor;
    }
  }
}
@include steps-page();
@include steps-page(is-process, $stepsBorderColor, $stepsColor, $stepsBorderColor);
.el-step__title.is-success {
  color: rgba(0, 0, 0, 0.65);
}
.el-step.is-horizontal .el-step__line {
  left: 30px;
  right: 10px;
}
.el-steps.max.el-steps--horizontal {
  .el-step__line {
    top: 15px;
    left: 38px;
  }
  .el-step__icon.is-text {
    width: 32px;
    height: 32px;
    font-size: 16px;
  }
}

/* select */
.ui-select {
  .el-input.el-input--suffix {
    width: 300px;
  }
}
.el-select {
  .el-select__caret.el-input__icon.el-icon-arrow-up {
    transform: rotate(360deg);
    color: #999999;
  }
  .el-icon-arrow-up:before {
    content: '\e790';
  }
}

.el-select .el-input.is-focus .el-input__inner {
  border: 1px solid #dddddd;
}
.el-tag.el-tag--info {
  background: #f1f1f1;
  color: rgba(0, 0, 0, 0.65);
}
.el-tag.el-tag--info .el-tag__close,
.el-tag.el-tag--info .el-tag__close:hover {
  background: transparent;
  color: #969799;
}
.disabled-select {
  .el-select.el-select--medium {
    .el-select__tags-text::after {
      content: 'x';
      color: #ffffff;
      text-align: center;
      line-height: 11px;
      display: inline-block;
      width: 12px;
      height: 12px;
      background: #cccccc;
      font-size: 12px;
      border-radius: 50%;
      margin-left: 10px;
    }
    .el-select__tags-text {
      color: #999999;
      &:hover {
        color: #999999;
      }
    }
  }
}
.el-select-dropdown__empty {
  height: 96px;
  line-height: 80px;
}
/* slider */

.el-slider__marks-text {
  color: rgba(0, 0, 0, 0.65);
}

/* unpload */
.el-upload {
  width: 80px;
  height: 80px;
  background: #f7f8fa;
  .avatar-uploader-icon {
    font-size: 18px;
    color: #8c939d;
    width: 30px;
    height: 30px;
    line-height: 80px;
    align-items: center;
  }
}
.sub-upload {
  .el-upload,
  .upload-demo {
    width: 100%;
    height: 100%;
  }
  .el-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffff;
  }
}
.el-upload-dragger {
  background-color: #f7f8fa;
}
/* Alert */
/*
  $class:类名;
  $bdcolor:边框颜色;
  $iconColor:icon颜色;
  $bgColor:背景颜色;
*/
@mixin global-tips($class: info, $bdcolor: #fcc199, $iconColor: #fa8334, $bgColor: #fef2ea) {
  .sub-all-alert {
    .el-alert--#{$class}.is-light {
      border: 1px solid $bdcolor;
      color: rgba(0, 0, 0, 0.65);
      background-color: $bgColor;
      .el-alert__icon {
        color: $iconColor;
      }
    }
  }
}
@include global-tips();
@include global-tips(success, #a8e18c, #52c41a, #edf9e8);
@include global-tips(warning, #fcd68a, #faad15, #fef6e7);
@include global-tips(error, #ffa4a3, #f5212d, #ffecec);
@include global-tips(weak, #ccc, #ccc, #fff);
.sub-all-alert {
  .el-alert__closebtn {
    top: 10px;
  }
  .el-alert__closebtn.is-customed {
    font-size: 12px;
    top: 8px;
  }
}

/* Progress  */
.el-progress.is-success .el-progress-bar__inner {
  background-color: #52c41a;
}
.el-progress.is-success .el-progress__text {
  color: #52c41a;
}

.el-icon-circle-check:before {
  @include iconfont;
  content: '\ea4a';
}
.el-icon-circle-close:before {
  @include iconfont;
  content: '\ea5c';
}
.el-progress-bar__inner,
.el-progress-bar__outer {
  border-radius: 0;
}
/* Tag  */
@mixin global-tag($class: info, $bdcolor: #ddd, $fontColor: #333, $bgColor: #f8f8f8) {
  .el-tag.el-tag--#{$class} {
    border: 1px solid $bdcolor;
    color: $fontColor;
    background-color: $bgColor;
  }
}
@include global-tag();
@include global-tag(success, #a8e18c, #52c41a, #edf9e8);
@include global-tag(warning, #fcc199, #fa9a34, #fef2ea);
@include global-tag(danger, #ffa4a3, #f5212d, #ffecec);

.el-tag {
  background-color: #f3f9ff;
  color: #1890ff;
  border: 1px solid #bddbff;
  border-radius: 2px;
  height: 22px;
  line-height: 20px;
}

/* Tree  */
.el-tree-node__content {
  height: 30px;
  margin-bottom: 6px;
  font-size: 12px;
  &:hover {
    color: #fa8334;
  }
}

/* Toast  */
/*
  $class:类名;
  $iconColor:icon颜色;
  $iconClass:icon类名;
*/
@mixin toast-page($class: success, $iconColor: #52c41a, $iconClass: success) {
  .el-message.el-message--#{$class}.toast-#{$class} {
    min-width: 150px;
    height: 40px;
    background-color: #ffff;
    border: none;
    padding: 8px 12px;
    box-shadow: 0 2px 8px 0 rgba(200, 201, 204, 0.5);
    .el-icon-success {
      color: $iconColor;
    }
    .el-message__content {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.65);
    }
  }
}
@include toast-page();
@include toast-page(warning, #faad15);
@include toast-page(error, #f5212d);

/* notification  */
/*
  $class:类名;
  $iconColor:icon颜色;
  $iconClass:icon类名;
*/
@mixin notification-page($class: error-tips, $iconColor: #f5212d, $iconClass: error) {
  .el-notification.#{$class}.right {
    width: 480px;
    height: 144px;
    .el-icon-#{$iconClass} {
      font-size: 14px;
      color: $iconColor;
      margin-top: 1px;
    }
    .el-notification__title {
      font-size: 12px;
      margin-bottom: 20px;
    }
    .el-notification__content {
      font-size: 12px;
    }
  }
}
@include notification-page(ordinary-tips, #1890ff, info);
@include notification-page(success-tips, #52c41a, success);
@include notification-page();
@include notification-page(warning-tips, #faad15, warning);
.el-notification {
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(200, 201, 204, 0.5);
}
.el-icon-info {
  &:before {
    @include iconfont;
    content: '\eb5f';
  }
}
.el-notification.routine-tips.right {
  width: 480px;
  height: 124px;
  .el-notification__title {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .el-notification__content {
    font-size: 12px;
  }
}

/* drawer  */
.sub-drawer {
  .sub-content {
    .el-form {
      .el-form-item--medium .el-form-item__label {
        line-height: 30px;
        font-weight: 400;
        color: #000;
        font-size: 12px;
      }
    }
  }
}
.el-drawer.rtl.sub-simple {
  .el-drawer__header {
    padding-bottom: 20px;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 0;
    &:first-child {
      color: rgba(0, 0, 0, 0.9);
      font-size: 16px;
      font-weight: bold;
    }
  }
}

/* Dropdown */
.el-dropdown-menu--medium .el-dropdown-menu__item {
  font-size: $textSize;
  &:hover {
    background: #fef5ee;
    color: $primary;
  }
  &:active {
    background: $primary;
    color: #ffffff;
  }
}
/* Transfer */
.el-transfer {
  .el-transfer-panel .el-checkbox__inner {
    border-radius: 2px;
  }
  .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
    top: 5px;
    left: 5px;
    width: 2px;
    height: 2px;
    transform: scale(3);
  }
  .el-transfer__buttons {
    padding: 0px;
  }
  .el-button--medium {
    padding: 6px 6px;
    display: block;
    margin: 4px 8px;
  }
  .el-icon-arrow-right:before {
    content: '\eb44';
    @include iconfont;
  }
  .el-icon-arrow-left:before {
    content: '\eb21';
    @include iconfont;
  }
  .el-transfer-panel__header {
    margin-bottom: 0 !important;
  }
  .is-disabled.el-transfer__button {
    background: #f8f8f8;
    border: 1px solid #dddddd;
    border-radius: 2px;
    color: #ddd;
    &:hover {
      background: #f8f8f8;
      color: #ddd;
    }
  }
  .el-transfer-panel__filter {
    margin: 8px 12px;
    .el-input__inner {
      border-radius: 2px;
    }
  }
  .el-checkbox.el-transfer-panel__item.is-checked {
    background-color: #fef5ee;
  }
  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: #333;
  }
  .el-checkbox {
    margin-right: 0;
  }
  .el-checkbox__label {
    font-size: 12px;
  }
}
.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label {
  font-size: 12px;
}
/* Timeline */
.sub-timeline {
  ul {
    padding-inline-start: 12px;
  }
  .el-timeline-item__wrapper {
    padding-left: 18px;
    top: -4px;
  }
  .el-timeline-item__timestamp.is-top {
    padding-top: 3px;
  }
  .el-timeline-item__node--primary,
  .el-timeline-item__node--normal {
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #ffff;
    border: 2px solid #fa8334;
  }
  .el-timeline-item__timestamp.is-top {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
    font-size: 12px;
  }
}
/* Contentareatips */
/*
  $class:类名;
  $color:字体颜色;
  $iconColor:icon颜色;
*/
@mixin contentareatips-page($class: info, $color: #666, $iconColor: rgba(0, 0, 0, 0.45)) {
  .sub-contentareatips {
    .el-alert--#{$class}.is-light {
      background-color: #ffff;
      color: $color;
      .el-alert__icon {
        color: $iconColor;
      }
    }
  }
}

@include contentareatips-page();
@include contentareatips-page(warning, #fa9a34, #faad15);
@include contentareatips-page(error, #f5212d, #f5212d);
.el-alert__title {
  font-size: 12px;
}
/* tooltip */
.ui-tooltip {
  .el-tooltip__popper.is-dark {
    background: #3b3e4b;
  }
}
/* Tree */
.el-tree-node:focus > .el-tree-node__content {
  background-color: #fa8334;
  color: #fff;
}
.el-tree-node__content:hover {
  color: #989a9c;
}

.tree-node-popover {
  border: 1px solid #ebeef5 !important;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  min-width: 0;
  padding: 0;
  margin: 0.3em 0 0 0 !important;
  .tooltip-content {
    display: flex;
    flex-direction: column;
    .el-button {
      margin: 0;
      padding: 0.8em 1.2em;
      color: rgba(0, 0, 0, 0.65);
      &:hover {
        background: #fef5ee;
      }
    }
  }
}

/* popover */
.el-popover.el-popper.operation-content {
  padding: 20px 24px 20px 16px !important;
  .el-popover__title {
    font-size: $textSize;
  }
}
