/* Iconfont
-------------------------- */
@mixin iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Button
-------------------------- */
/*
  $type:类名;
  $bgColor:背景颜色;
  $bdColor:边框颜色;
  $color:字体颜色;
*/
@mixin button-disabled($type: primary, $bgColor: $disabled-fill, $bdColor: $disabled-border, $color: $disabled-color) {
  .el-button--#{$type}.is-plain.is-disabled,
  .el-button--#{$type}.is-disabled {
    background-color: $bgColor;
    border: 1px solid $bdColor;
    color: $color;
    &:hover,
    &:focus,
    &:active {
      background-color: $bgColor;
      border: 1px solid $bdColor;
      color: $color;
    }
  }
}
@include button-disabled();
@include button-disabled(danger, $disabled-danger-fill, $disabled-danger-border, $disabled-danger-color);
@include button-disabled(default, $disabled-fill, $disabled-border, $disabled-color);
.el-button + .el-dropdown {
  margin-left: 16px;
  margin-right: 16px;
}

.el-button + .el-button {
  margin-left: 8px;
}

.ui-iconbutton {
  .el-button--medium {
    padding: 7px;
  }
}

.el-button--text {
  .svg-icon.svg-fill {
    margin-right: 4px;
  }
  &:hover {
    color: $color-master-1;
  }
  &.light:not(.is-disabled) {
    color: $color-master-1;
  }
}

.el-button-rect {
  padding: 10px;
}

.sub-special {
  .el-button--danger {
    background-color: $color-sp-1;
    border: none;
    &:hover {
      background-color: $color-sp-2;
    }
    &:active {
      background-color: $color-sp-3;
    }
  }
}

.el-button--danger.is-plain {
  background: $color-white;
  border-color: $color-status-danger-1;

  &:hover,
  &:active,
  &:focus {
    color: $color-status-danger-1;
    background: $color-status-danger-2;
  }
}

.el-button--medium {
  padding: 9px $padding-primary;
  font-size: $text-size-primary;
  border-radius: $border-radius;
}

.el-button--small {
  padding: 7px $padding-primary;
  border-radius: $border-radius;
  .svg-icon.svg-fill {
    margin-right: 4px;
  }
}

.el-button.el-button--default:not(.is-disabled):hover {
  background: $color-white;
  border-color: $color-master-1;
}

.el-button.is-loading:before {
  background: transparent;
}

.conventional-dropdown,
.combination-dropdown {
  width: 124px;
  text-align: center;
}

.el-button--primary:hover {
  background-color: $color-master-1;
}

.el-button.el-button--primary.el-button--mini {
  padding: 7px $padding-primary;
}

.el-dropdown {
  .el-button:hover,
  .el-button:focus {
    .svg-icon.svg-fill {
      color: $color-master-1;
    }
  }
  .svg-icon.svg-fill:not(:first-child) {
    margin-left: 13px;
  }
  .svg-icon.svg-fill {
    color: $button-icon-color;
  }
}

/* TextButton
-------------------------- */
.el-button--text {
  padding: 0;
}


/* Link
-------------------------- */
.el-link.el-link--primary:hover {
  color: $color-master-2;
}

/* Link
-------------------------- */
.el-form-item__label {
  padding-right: 25px;
  color: $text-color-light-1;
}

.el-form-item {
  margin-bottom: 25px;
}

.el-form-item__error {
  padding-top: 3px;
}

/* Input
-------------------------- */
.el-input {
  font-size: $text-size-primary;
}

.el-input-group__append,
.el-input-group__prepend {
  .el-select {
    .el-input.el-input--suffix {
      width: 100%;
    }
  }
  width: 80px;
  background: $color-white;
  color: $text-color-primary;
  .el-input__inner::placeholder {
    color: $text-color-primary;
  }
}

.el-input-group__prepend {
  color: $text-color-light-1;
}

.el-input__prefix {
  display: flex;
  align-items: center;
}

.el-input-number__increase,
.el-input-number__decrease {
  background-color: $input-fill;
}

.el-input__inner:hover {
  border-color: $text-color-light-1;
}

.el-input__inner:active {
  border: 1px solid $color-master-1;
  box-shadow: 0 0 4px 0 rgba(250, 131, 52, 0.2);
}

.el-form-item.is-error .el-input__inner {
  border: 1px solid $color-status-danger-1;
  background: rgba(245, 33, 45, 0.08);
}

.el-input__suffix-inner {
  .el-icon-close {
    line-height: 36px;
    padding-right: 15px;

    &:hover {
      color: $color-master-1;
      cursor: pointer;
    }
  }
}

.input-icon {
  .el-input {
    width: 200px;
  }
}

.suffix-forgot,
.icon-money {
  line-height: 36px;
  color: $text-color-light-1;
  margin-right: $text-size-primary;
}

.suffix-forgot::before {
  content: '|';
  color: $border-color-primary;
  margin-right: $text-size-primary;
}

/* Textarea
-------------------------- */
.el-textarea .el-input__count {
  color: $text-color-light-1;
  line-height: 150%;
}

.el-textarea {
  font-size: $text-size-primary;
  width: 300px;

  .el-textarea__inner {
    padding: 7px 12px;
  }
}

/* Radio
-------------------------- */
.el-radio-button__orig-radio:checked + .el-radio-button__inner {
  color: $color-master-1;
  background-color: $color-master-7;
}

.el-radio__inner {
  width: 16px;
  height: 16px;
  &::after {
    width: 8px;
    height: 8px;
    background: $color-master-1;
  }
}

.el-radio-group {
  .el-radio-button {
    margin-left: 2px;
    .el-radio-button__inner {
      color: $text-color-primary;
      font-size: $text-size-primary;
      background-color: $color-master-6;
      border: 0;
      &:hover {
        background-color: $color-master-5;
      }
    }

    &.is-active .el-radio-button__inner {
      color: $color-white;
      background-color: $color-master-1;
    }

    &.is-disabled .el-radio-button__inner {
      color: $text-color-light-1;
      background-color: $disabled-fill;
    }

    &.el-radio-button--medium .el-radio-button__inner {
      padding: 8px 20px;
    }

    &.el-radio-button--small .el-radio-button__inner {
      padding: 6px 9px;
    }
  }
}

.el-radio__input.is-disabled.is-checked .el-radio__inner::after {
  background: $disabled-border;
}

.el-radio__input.is-disabled .el-radio__inner {
  background: $disabled-fill;
}

.el-radio__input.is-checked .el-radio__inner {
  background: $color-white;
}

/* Checkbox
-------------------------- */
.el-checkbox-group {
  .el-checkbox-button {
    margin-right: 8px;
    &:first-child .el-checkbox-button__inner {
      border: 1px solid transparent;
    }

    &.is-focus .el-checkbox-button__inner {
      border: 1px solid transparent;
    }

    &.is-checked .el-checkbox-button__inner {
      color: $text-color-primary;
      background-color: $color-master-7;
      border: 1px solid $color-master-1;
      box-shadow: none;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        border: 8px solid transparent;
        border-color: transparent $color-master-1 $color-master-1 transparent;
        transform: rotate(270deg);
      }
      &::after {
        content: '\eac7';
        color: $color-white;
        position: absolute;
        right: 0;
        top: 0;
        font-size: $text-size-primary;
        zoom: 0.75;
        @include iconfont;
      }
    }
    &.is-disabled .el-checkbox-button__inner {
      color: $disabled-color;
      background-color: $disabled-fill;
      border-color: $disabled-border;

      &::before {
        border-color: transparent $disabled-border $disabled-border transparent;
      }

      &::after {
        color: $color-grey-5;
      }
    }

    &.el-checkbox-button--medium .el-checkbox-button__inner {
      padding: 7px 19px;
    }
  }
  .el-checkbox-button__inner {
    color: $text-color-primary;
    font-size: $text-size-primary;
    background-color: #ffefe3;
    border: 1px solid transparent;
    border-radius: $border-radius;
    &:hover {
      background-color: #ffe6d2;
    }
  }
}

.el-checkbox-group + .el-form-item__error {
  padding-top: 0;
}
.el-checkbox__inner {
  width: 16px;
  height: 16px;
  &::after {
    left: 5px;
    top: 2px;
  }
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: $color-white;
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
  background-color: $color-master-1;
  top: 2px;
  width: 10px;
  height: 10px;
  left: 2px;
}

.el-checkbox__input.is-disabled .el-checkbox__inner,
.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
  background: $disabled-fill;
}

.el-checkbox__label {
  font-size: $text-size-primary;
  color: $text-color-primary;
  font-weight: normal;
}

/* Datepicker
-------------------------- */
.el-date-editor .el-range-separator {
  width: 40px;
}

/* Tree
-------------------------- */
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background: #f3f3f3;
}

.el-tree-node__content {
  height: 30px;
  margin-bottom: 6px;
  font-size: $text-size-primary;
  &:hover {
    color: $color-master-1;
  }
}

.el-tree-node:focus > .el-tree-node__content {
  background-color: $color-master-1;
  color: $color-white;
}

.el-tree-node__content:hover {
  color: #989a9c;
}

.tree-node-popover {
  border: 1px solid $border-color-light-1 !important;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  min-width: 0;
  padding: 0;
  margin: 0.3em 0 0 0 !important;

  .tooltip-content {
    display: flex;
    flex-direction: column;

    .el-button {
      margin: 0;
      padding: 0.8em 1.2em;
      color: $text-color-light-1;
      &:hover {
        background: $color-master-7;
      }
    }
  }
}

/* Dialog
-------------------------- */
.el-dialog__footer {
  margin-top: -30px;
}

.el-dialog__headerbtn .el-dialog__close {
  color: $text-color-light-1;
}

/* Descriptions
-------------------------- */
.el-descriptions td {
  padding: 10px 0;
}

/* Tabs
-------------------------- */
.el-tabs__item {
  font-size: $text-size-primary;
}

.el-tabs.el-tabs--card.el-tabs--top {
  .el-tabs__item {
    height: 28px;
    line-height: 28px;
  }

  .el-tabs__header .el-tabs__item {
    border-left: none;
  }

  .el-tabs__header .el-tabs__nav {
    border: none;
  }

  .el-tabs__item.is-top.is-active {
    border-top: 1px solid $border-color-primary;
    border-left: 1px solid $border-color-primary;
    border-right: 1px solid $border-color-primary;
    box-sizing: content-box;
  }
}

/* Table
-------------------------- */
.el-table__header-wrapper {
  background-color: $table-header-fill;
}

.el-table--border .el-table__cell {
  border-right: 0px solid $border-color-primary;
}

.el-table--border .el-table__cell:first-child .cell {
  padding-left: 20px;
}

.el-table--border .el-table__cell:last-child .cell {
  padding-right: 20px;
}

.el-table .el-table__header tr,
.el-table .el-table__header th {
  border-right: 1px solid $color-white;
  background-color: $table-header-fill;

  .el-table__cell {
    padding: 0px;
  }
}

.el-table--medium .el-table__cell {
  padding: 9px 0;
}

.el-table .el-table__body-wrapper tr,
.el-table .el-table__body-wrapper td {
  .el-table__cell {
    padding: 9px 0px;
  }
}

.el-table--small .el-table__header tr,
.el-table--small .el-table__header th {
  .el-table__cell {
    padding: 5px;
  }
}

.el-table--small .el-table__body-wrapper tr,
.el-table--small .el-table__body-wrapper th {
  .el-table__cell {
    padding: 5px;
  }
}

.el-table .el-table__header tr,
.el-table .el-table__header .el-table th.el-table-column--selection > .cell {
  padding-left: 14px;
}

.el-table {
  max-height: 638px;
  overflow-y: scroll;
  margin: 16px 0 11px 0 !important;
}

.el-table .cell {
  font-size: $text-size-primary;

  span {
    font-size: $text-size-primary;
  }
}

.el-table .caret-wrapper {
  height: 28px;
}

.el-table .sort-caret.ascending {
  border-bottom-color: $table-sort-caret-fill;
  top: 3px;
}

.el-table .sort-caret.descending {
  border-top-color: $table-sort-caret-fill;
  bottom: 3px;
}

.el-table--border {
  border: 0px;
}

.el-table::before,
.el-table--group::after,
.el-table--border::after {
  content: '';
  position: absolute;
  background-color: transparent;
  z-index: 1;
}

.el-table .el-icon-arrow-down:before {
  content: '\e790';
}

.el-table--group {
  border-left: 1px solid $border-color-primary;
  border-top: 1px solid $border-color-primary;
  border-right: 1px solid $border-color-primary;
  border-bottom-color: $border-color-primary;
  .el-table__body {
    td {
      border-right: 1px solid $border-color-primary;
    }
  }
}

.el-table thead.is-group th.el-table__cell {
  border-color: $border-color-primary;
  background: #fafafa;
}

.el-table thead.is-group td.el-table__cell {
  border-color: $border-color-primary;
}

/* Pagination
-------------------------- */
.el-pagination {
  margin-top: 8px;
  padding-top: 8px;

  .el-select .el-input.el-input--suffix {
    width: 60px;
  }

  .pageination-total {
    color: $text-color-primary;
    font-size: $text-size-primary !important;
    font-weight: normal;
    margin: 0 19px 0 20px;
  }

  .el-input__inner {
    width: 60px;
    height: 24px;
    font-size: $text-size-primary;
  }

  .el-select .el-input {
    width: 60px;
  }

  .el-input--medium .el-input__icon {
    line-height: 24px;
    color: $icon-color;
  }

  .el-pager {
    li {
      font-size: $text-size-primary;
      height: 24px;
      line-height: 24px;
    }

    .el-icon-d-arrow-right::before,
    .el-icon-d-arrow-left::before {
      line-height: 0;
    }
  }
}

.el-pagination.is-background .el-pager li {
  min-width: 20px;
}

.el-pagination__total {
  margin-right: 14px;
}

.el-pagination.is-background .btn-prev,
.el-pagination.is-background .btn-next,
.el-pagination.is-background .el-pager li {
  background-color: $pagination-fill;
  font-weight: 400;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: $text-color-primary;
  background: $color-master-7;
}

.el-pagination__jump {
  margin-left: 0px;

  .el-pagination__editor.el-input {
    margin: 0 8px;
  }
}

/* Breadcrumb
-------------------------- */
.el-breadcrumb {
  font-size: $text-size-primary;
  .el-breadcrumb__inner:hover {
    color: $color-master-1;
    cursor: pointer;
  }
}

.el-breadcrumb__inner.is-link,
.el-breadcrumb__inner a,
.el-breadcrumb__inner {
  color: $text-color-light-1;
  font-weight: normal;

  &:hover {
    color: $text-color-light-1;
  }
}

.el-breadcrumb__inner a:hover {
  color: $color-master-1;
}

.el-breadcrumb__item:last-child {
  .el-breadcrumb__inner,
  .el-breadcrumb__inner:hover {
    color: $text-color-primary;
    font-weight: bold;
    cursor: pointer;
  }
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner {
  font-weight: 500;
  color: $text-color-primary;
}

/* Steps
-------------------------- */
/* $class:类名;
   $bdColor:边框颜色
   $color:字体颜色
   $bgColor:背景颜色
*/
@mixin steps-page(
  $class: is-success,
  $bdColor: $color-master-1,
  $color: $color-master-1,
  $bgColor: $color-white
) {
  .el-step__head.#{$class} {
    border-color: $bdColor;
    color: $color;
    .el-step__icon.is-text {
      background-color: $bgColor;
    }
  }
}
@include steps-page();
@include steps-page(is-process, $color-master-1, $color-master-1, $color-white);
.el-step__title.is-success {
  color: $text-color-light-1;
}

.el-step.is-horizontal .el-step__line {
  left: 30px;
  right: 10px;
}

.el-steps.max.el-steps--horizontal {
  .el-step__line {
    top: 15px;
    left: 38px;
  }

  .el-step__icon.is-text {
    width: 32px;
    height: 32px;
    font-size: 16px;
  }
}

/* Select
-------------------------- */
.el-select {
  .el-input.el-input--suffix {
    width: 300px;
  }
  .el-select__caret.el-input__icon.el-icon-arrow-up {
    transform: rotate(360deg);
    color: $text-color-light-2;
  }
  .el-icon-arrow-up:before {
    content: '\e790';
  }
}

.el-select.el-select--medium {
  .el-tag.el-tag--info.el-tag--small.el-tag--light {
    background: $disabled-fill;
    border: 1px solid $border-color-primary;
    border-radius: $border-radius;
  }

  .el-select__tags-text:hover {
    color: $color-master-1;
    cursor: pointer;
  }

  .el-tag__close.el-icon-close {
    background: $text-color-light-2;
    color: $color-white;

    &:hover {
      background: $color-master-1;
      color: $color-white;
    }
  }
}

.auxiliary-message::after {
  content: '辅助信息';
  margin-left: 10px;
  color: $text-color-light-1;
}

.select-radio {
  .el-select-dropdown__item {
    font-size: $text-size-primary;
  }
  .el-select-dropdown__item.selected {
    background: $color-master-1;
    color: $color-white;
  }
  .el-select-dropdown__empty {
    width: 300px;
    height: 96px;
  }
}

.el-select .el-input.is-focus .el-input__inner {
  border: 1px solid $border-color-primary;
}

.el-tag.el-tag--info {
  background: $color-grey-7;
  color: $text-color-light-1;
}

.el-tag.el-tag--info .el-tag__close,
.el-tag.el-tag--info .el-tag__close:hover {
  background: transparent;
  color: $text-color-light-2;
}

.disabled-select {
  .el-select.el-select--medium {
    .el-select__tags-text::after {
      content: 'x';
      color: $color-white;
      text-align: center;
      line-height: 11px;
      display: inline-block;
      width: 12px;
      height: 12px;
      background: $disabled-border;
      font-size: $text-size-primary;
      border-radius: 50%;
      margin-left: 10px;
    }

    .el-select__tags-text {
      color: $text-color-light-1;

      &:hover {
        color: $text-color-light-1;
      }
    }
  }
}
.el-select-dropdown__empty {
  height: 96px;
  line-height: 80px;
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover {
  background-color: $color-master-7;
}

.el-select-dropdown__item:hover {
  background-color: $color-master-7;
  color: $color-master-1;
}

.el-select-dropdown__item.hover {
  background-color: $color-master-7;
}

/* Slider
-------------------------- */
.el-slider__marks-text {
  color: $text-color-light-1;
}

.el-slider__button {
  width: 10px;
  height: 10px;
}

.el-slider__marks-text {
  font-size: $text-size-primary;
}

.el-slider__runway,
.el-slider__runway.show-input {
  width: 616px;
}

/* Upload
-------------------------- */
.el-upload {
  width: 80px;
  height: 80px;
  background: $upload-fill;

  .avatar-uploader-icon {
    font-size: 18px;
    color: $text-color-light-1;
    width: 30px;
    height: 30px;
    line-height: 80px;
    align-items: center;
  }
}

.sub-upload {
  .el-upload,
  .upload-demo {
    width: 100%;
    height: 100%;
  }
  .el-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-white;
  }
}

.el-upload-dragger {
  background-color: $upload-fill;
}

/* Switch
-------------------------- */
.el-switch + .el-switch {
  margin-left: 30px;
}
.small-switch {
  margin-left: 32px;

  .el-switch__core {
    width: 28px !important;
    height: 16px;
  }

  .el-switch__core::after {
    width: 12px;
    height: 12px;
    margin-top: 0px;
  }

  .el-switch.is-checked .el-switch__core::after {
    margin-left: -13px;
  }
}

/* Alert
-------------------------- */
/*
  $class:类名;
  $bdcolor:边框颜色;
  $iconColor:icon颜色;
  $bgColor:背景颜色;
*/
// TODO 颜色对应不上
@mixin global-tips($class: info, $bdcolor: #fcc199, $iconColor: $color-master-1, $bgColor: #fef2ea) {
  .sub-all-alert {
    .el-alert--#{$class}.is-light {
      border: 1px solid $bdcolor;
      color: $text-color-primary;
      background-color: $bgColor;

      .el-alert__icon {
        color: $iconColor;
      }
    }
  }
}
@include global-tips();
@include global-tips(success, $color-tag-success-1, $color-status-success, $color-tag-success-2);
@include global-tips(warning, $color-tag-warning-1, $color-status-warning, $color-tag-warning-2);
@include global-tips(error, $color-tag-danger-1, $color-status-danger, $color-tag-danger-2);
@include global-tips(weak, $disabled-border, $disabled-color, $color-white);

.sub-all-alert {
  .el-alert__closebtn {
    top: 10px;
  }

  .el-alert__closebtn.is-customed {
    font-size: $text-size-primary;
    top: 8px;
  }
}

.el-alert {
  padding: 0;
}

.el-alert + .el-alert {
  margin-left: 49px;
}

/* Progress
-------------------------- */
.el-progress.is-success .el-progress-bar__inner {
  background-color: $color-status-success;
}

.el-progress.is-success .el-progress__text {
  color: $color-status-success;
}

.el-icon-circle-check:before {
  @include iconfont;
  content: '\ea4a';
}

.el-icon-circle-close:before {
  @include iconfont;
  content: '\ea5c';
}

.el-progress-bar__inner,
.el-progress-bar__outer {
  border-radius: 0;
}

.el-progress__text {
  font-size: $text-size-primary !important;
}

/* Tag
-------------------------- */
@mixin global-tag($class: info, $bdcolor: $disabled-border, $fontColor: $text-color-primary, $bgColor: $disabled-fill) {
  .el-tag.el-tag--#{$class} {
    border: 1px solid $bdcolor;
    color: $fontColor;
    background-color: $bgColor;
  }
}
@include global-tag();
@include global-tag(success, $color-tag-success-1, $color-status-success, $color-tag-success-2);
@include global-tag(warning, $color-tag-warning-1, $color-status-warning, $color-tag-warning-2);
@include global-tag(danger, $color-tag-danger-1, $color-status-danger, $color-tag-danger-2);
@include global-tag(newtag, $color-master-1, $color-master-1, $color-master-7);
.el-tag--newtag {
  &:hover {
    background: $color-master-7;
    cursor: pointer;
  }
}

.el-tag {
  background-color: $color-tag-info-2;
  color: $color-status-info;
  border: 1px solid $color-tag-info-1;
  border-radius: $border-radius;
  height: 22px;
  line-height: 20px;
}

.el-tag.el-tag--info .el-tag__close,
.el-tag.el-tag--info .el-tag__close:hover {
  color: $text-color-light-1;
}

/* Toast
-------------------------- */
/*
  $class:类名;
  $iconColor:icon颜色;
  $iconClass:icon类名;
*/
@mixin toast-page($class: success, $iconColor: $color-status-success, $iconClass: success) {
  .el-message.el-message--#{$class}.toast-#{$class} {
    min-width: 150px;
    height: 40px;
    background-color: $color-white;
    border: none;
    padding: $margin-small 12px;
    box-shadow: 0 2px 8px 0 rgba(200, 201, 204, 0.5);

    .el-icon-success {
      color: $iconColor;
    }

    .el-message__content {
      font-size: $text-size-primary;
      color: $text-color-light-1;
    }
  }
}
@include toast-page();
@include toast-page(warning, $color-status-warning);
@include toast-page(error, $color-status-danger);

/* Notification
-------------------------- */
/*
  $class:类名;
  $iconColor:icon颜色;
  $iconClass:icon类名;
*/
@mixin notification-page($class: error-tips, $iconColor: $color-status-danger, $iconClass: error) {
  .el-notification.#{$class}.right {
    width: 480px;
    height: 144px;

    .el-icon-#{$iconClass} {
      font-size: $text-size-medium;
      color: $iconColor;
      margin-top: 1px;
    }

    .el-notification__title {
      font-size: $text-size-primary;
      margin-bottom: 20px;
    }

    .el-notification__content {
      font-size: $text-size-primary;
    }
  }
}
@include notification-page(ordinary-tips, $color-status-info, info);
@include notification-page(success-tips, $color-status-success, success);
@include notification-page();
@include notification-page(warning-tips, $color-status-warning, warning);

.el-notification {
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(200, 201, 204, 0.5);
}

.el-icon-info {
  &:before {
    @include iconfont;
    content: '\eb5f';
  }
}

.el-notification.routine-tips.right {
  width: 480px;
  height: 124px;

  .el-notification__title {
    font-size: $text-size-primary;
    margin-bottom: 20px;
  }

  .el-notification__content {
    font-size: $text-size-primary;
  }
}

/* Drawer
-------------------------- */
.sub-drawer {
  .sub-content {
    .el-form {
      .el-form-item--medium .el-form-item__label {
        line-height: 30px;
        font-weight: 400;
        color: $text-color-primary;
        font-size: $text-size-primary;
      }
    }
  }
}

.el-drawer.rtl.sub-simple {
  .el-drawer__header {
    padding-bottom: 20px;
    border-bottom: 1px solid $border-color-light-1;
    margin-bottom: 0;

    &:first-child {
      color: $text-color-primary;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

/* Dropdown
-------------------------- */
.el-dropdown-menu--medium .el-dropdown-menu__item {
  font-size: $text-size-primary;

  &:hover {
    background: $color-master-7;
    color: $color-master-1;
  }

  &:active {
    background: $color-master-1;
    color: $color-white;
  }
}

/* Transfer
-------------------------- */
.el-transfer {
  .el-transfer-panel .el-transfer-panel__header {
    background: $color-white;
  }

  .el-transfer-panel .el-checkbox__inner {
    border-radius: $border-radius;
  }

  .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
    top: 5px;
    left: 5px;
    width: 2px;
    height: 2px;
    transform: scale(3);
  }

  .el-transfer__buttons {
    padding: 0px;
  }

  .el-button--medium {
    padding: 6px 6px;
    display: block;
    margin: 4px 8px;
  }

  .el-icon-arrow-right:before {
    content: '\eb44';
    @include iconfont;
  }

  .el-icon-arrow-left:before {
    content: '\eb21';
    @include iconfont;
  }

  .el-transfer-panel__header {
    margin-bottom: 0 !important;
  }

  .is-disabled.el-transfer__button {
    background: $disabled-fill;
    border: 1px solid $border-color-primary;
    border-radius: $border-radius;
    color: $disabled-color;

    &:hover {
      background: $disabled-fill;
      color: $disabled-color;
    }
  }

  .el-transfer-panel__filter {
    margin: 8px 12px;

    .el-input__inner {
      border-radius: $border-radius;
    }
  }

  .el-checkbox.el-transfer-panel__item.is-checked {
    background-color: $color-master-7;
  }

  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: $text-color-primary;
  }

  .el-checkbox {
    margin-right: 0;
  }

  .el-checkbox__label {
    font-size: $text-size-primary;
  }
}

.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label {
  font-size: $text-size-primary;
}

/* Collapse
-------------------------- */
.el-collapse {
  border: none;
  .el-collapse-item.is-disabled .el-collapse-item__header {
    font-family: PingFangSC-Medium;
    font-size: 12px;
    color: $disabled-color;
  }

  .el-collapse-item__header {
    height: 36px;
    background: $collapse-header-fill;
    border: 1px solid $border-color-primary;
    color: $text-color-primary;
    font-weight: bold;
    font-size: 12px;
    margin-top: 24px;
    padding-left: 36px;
    position: relative;

    .el-collapse-item__arrow {
      position: absolute;
      left: 16px;
      color: $text-color-light-1;
    }
  }

  .el-collapse-item__wrap {
    border-bottom: none;
  }

  .el-collapse-item__content {
    font-size: 12px;
    color: $text-color-light-1;
    line-height: 20px;
    padding: 10px;
    background: $color-white;
    border: 1px solid $border-color-primary;
    border-top: none;
  }
}

/* Timeline
-------------------------- */
.sub-timeline {
  ul {
    padding-inline-start: 12px;
  }

  .el-timeline-item__wrapper {
    padding-left: 18px;
    top: -4px;
  }

  .el-timeline-item__timestamp.is-top {
    padding-top: 3px;
  }

  .el-timeline-item__node--primary,
  .el-timeline-item__node--normal {
    left: 0;
    width: 10px;
    height: 10px;
    background-color: $color-white;
    border: 2px solid $color-master-1;
  }

  .el-timeline-item__timestamp.is-top {
    font-weight: bold;
    color: $text-color-primary;
    font-size: $text-size-primary;
  }
}

/* Content Area Tips
-------------------------- */
/*
  $class:类名;
  $color:字体颜色;
  $iconColor:icon颜色;
*/
@mixin contentareatips-page($class: info, $color: $text-color-light-1, $iconColor: $icon-color) {
  .sub-contentareatips {
    .el-alert--#{$class}.is-light {
      background-color: $color-white;
      color: $color;
      .el-alert__icon {
        color: $iconColor;
      }
    }
  }
}

@include contentareatips-page();
@include contentareatips-page(warning, #fa9a34, $color-status-warning);
@include contentareatips-page(error, $color-status-danger, $color-status-danger);
.el-alert__title {
  font-size: $text-size-primary;
}

/* Tooltip
-------------------------- */
.ui-tooltip {
  .el-tooltip__popper.is-dark {
    background: $tooltip-fill;
  }
}

/* Popover
-------------------------- */
.el-popover.el-popper.operation-content {
  padding: 20px 24px 20px 16px !important;
}

.el-popover__reference-wrapper {
  .el-button--medium {
    padding: 0;
  }
}
