/* Variables */

/* Base color */
$primary: #fa8334;
$success: #52c41a;
$warning: #fa8334;
$danger: #f5212d;
$info: #1890ff;

/* Text */
$text: rgba(0, 0, 0, 65%);
$textGrey: rgba(0, 0, 0, 45%);
$textLightGrey: rgba(0, 0, 0, 35%);
$textYellow: #aa4a0b;

/* Body */
$bodyBg: #f2f2f2;

/* Header */
$headerHeight: 50px;
$headerBg: #424550;

/* Border */
$border: #ddd;
$borderGrey: #eee;

/* Sidebar */
$sideBarWidth: 230px;
$sideBarBg: #fff;
$menuBg:#fff;
$menuText: $text;
$menuActiveText:#000;
$subMenuBg:#fff;
$subMenuHover:#f2f2f2;
$subMenuActiveText:#000;

/* The :export directive is the magic sauce for webpack
 * https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
  */
:export {
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
}
