/* Element Variables */

/* Override Element UI variables */
$--color-primary: #fa8334;
$--color-success: #52c41a;
$--color-warning: #ff9d3b;
$--color-danger: #f5212d;
$--color-info: #4a89dc;
$--button-font-weight: 400;
$--color-text-regular: $text;
$--border-color-light: $border;
$--border-color-lighter: $borderGrey;
$--table-border: 1px solid $borderGrey;
$--input-border: 1px solid $border;
$--border-radius-base: 2px;
$--input-disabled-fill: #f8f8f8;
$--rate-icon-color: #fa8334;
$--tree-node-hover-background-color: #fef5ee;
$--font-size-base: 12px;

/* $--color-text-primary:#ffff; */
/* Icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

/* Apply overrided variables in Element UI */
@import '~element-ui/packages/theme-chalk/src/index';
