@import './layout.scss';
@import './transition.scss';
@import './svgicon.scss';
@import './element-override.scss';
@import './margin.scss';
@import './form.scss';
@import './table.scss';
@import './animation.scss';

/* Global scss */
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Microsoft YaHei', 'PingFang SC', 'Helvetica Neue', Helvetica, arial, STHeiTi, sans-serif;
  font-size: 12px;
  background: $bodyBg;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  outline: none;
  text-decoration: none;
}

a {
  color: $primary;
}

a:focus,
a:hover {
  color: #fb9c5d;
}

div:focus {
  outline: none;
}

hr {
  border: none;
  border-top: 1px solid $border;
}

::-webkit-scrollbar-track-piece {
  border-radius: 0;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

// ::-webkit-scrollbar-thumb {
//   height: 50px;
//   background-color: #ddd;
//   border-radius: 6px;
//   outline-offset: -2px;
//   filter: alpha(opacity = 50);
//   -moz-opacity: 0.5;
//   -khtml-opacity: 0.5;
//   opacity: 0.5;
// }

// ::-webkit-scrollbar-thumb:hover {
//   height: 50px;
//   background-color: #ddd;
//   border-radius: 6px;
// }
