@import './layout.scss';
@import './ctcloud.scss';
@import './transition.scss';
@import './svgicon.scss';
@import './element-override.scss';
@import './margin.scss';
@import './animation.scss';

/* Global scss */
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Microsoft YaHei', 'PingFang SC', 'Helvetica Neue', Helvetica, arial, STHeiTi, sans-serif;
  font-size: 14px;
  background: $bodyBg;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  outline: none;
  text-decoration: none;
}

a {
  color: $primary;
}

a:focus,
a:hover {
  color: #fb9c5d;
}

div:focus {
  outline: none;
}
