.combination-button {
  .el-button+.el-button {
    margin-left: -1px;
    z-index: 1;
  }

  .el-button+.el-dropdown {
    margin: 0;
  }

  .el-dropdown+.el-button {
    margin: 0;
  }

  .el-button--medium {
    border-radius: 0;

    &:hover {
      position: relative;
      border-color: $color-master-1 !important;
    }
  }

  .el-button--medium:first-child {
    border-radius: 2px 0 0 2px;
  }

  .el-button--medium:last-child {
    border-radius: 0 2px 2px 0;
  }

  .el-button+.el-dropdown {
    margin-left: -1px;

    .el-button--medium {
      border-radius: 0;
      border-right: 0;

      &:hover {
        position: relative;
        border-color: $color-master-1 !important;
      }
    }
  }
}