.cute-sliders {
  display: flex;

  .el-slider__stop {
    border: 1px solid $color-bg-2;
    width: 1px;
    height: $cute-slider-marks-height;
    border-radius: 0;
  }

  .el-slider__stop:last-child {
    display: none;
  }

  .el-slider {
    margin-right: $margin-5x;

    //常规
    .el-slider__runway {
      width: var(--width-slider);
      background: $color-master-bg-light;
      height: $cute-slider-marks-height;

      .el-slider__button {
        border: 1px solid $color-master;
        border-radius: $cute-slider-btn-radius;
        background: $cute-slider-btn-bg;
        // line-height: $cute-slider-btn-height - 1px * 2;
        color: $color-master;
        // letter-spacing: 1px;
      }
    }
    //禁用
    .el-slider__runway.disabled {
      .el-slider__bar {
        background-color: $color-master-bg;
      }

      .el-slider__button {
        border: 1px solid $disabled-border;
        background: $disabled-bg;
        color: $disabled-color;
      }
    }

    .el-slider__bar {
      height: $cute-slider-bar-height;
      top: calc(-1 * ($cute-slider-bar-height - $cute-slider-marks-height) / 2);
      border-radius: $border-radius;
    }

    .el-slider__marks {
      height: $cute-slider-marks-height;
      // background: $color-master-5;
    }

    .el-slider__marks-text {
      text-align: left;
      margin-top: $margin-5x;
    }
  }

  .sliders-input {
    display: flex;
    align-items: center;
  }

  .slider-unit {
    margin-left: $margin-3x;
    font-size: $text-size;
    color: $text-color;
    font-weight: $text-weight;
  }

  .sliders-range {
    display: flex;
    align-items: center;

    .range-input {
      display: flex;
      align-items: center;
      color: $text-color;

      .range-line {
        margin: 0 $margin-3x;
      }
    }
  }

  .el-slider__bar {
    z-index: $zindex-normal;
  }

  .el-input {
    width: $cute-slider-input-width;
  }

  .disabled {
    background: $disabled-border;
    .cute-slider-user-button {
      span {
        background-color: $color-master-4;
      }
    }
  }

  .cute-slider-user-button {
    display: inline-flex;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    height: 100%;
    // height: 20px;
    // width: 15px;

    span {
      display: block;
      background-color: $color-master;
      width: 1px;
      height: 8px;

      &:first-child {
        margin-left: 0;
      }

      &:nth-child(2) {
        height: 10px;
        margin: 0 2px;
      }
    }
  }
}
