.special-radio {
  .el-radio-button {
    &:last-child .el-radio-button__inner {
      border-radius: $cute-special-radio-size;
    }
  }

  .el-radio-group .el-radio-button .el-radio-button__inner {
    padding: $radio-padding-large;
  }

  .el-radio-group .el-radio-button--large .el-radio-button__inner {
    padding: $radio-padding-large;
  }

  .el-radio-group .el-radio-button--medium .el-radio-button__inner {
    padding: $radio-padding-medium;
  }

  .el-radio-group .el-radio-button--small .el-radio-button__inner {
    padding: $radio-padding-small;
  }

  .el-radio-group .el-radio-button--mini .el-radio-button__inner {
    padding: $radio-padding-small;
  }

  .el-radio-group .el-radio-button {
    margin-left: $cute-special-radio-size;
    &:first-child{
      margin-left: 0;
    }
    .el-radio-button__inner {
      border: 1px solid $color-neutral-5;
    }
  }

  .el-radio-group .el-radio-button:not(.is-active):not(.is-disabled) .el-radio-button__inner {
    background: unset;
    color: $color-grey-1;
    border-radius: $cute-special-radio-size;

    &:hover {
      background: unset;
      color: $color-grey-1;
      margin: 0;
    }
  }

  .el-radio-group .el-radio-button.is-active 
    &:not(.is-disabled):hover {
      .el-radio-button__inner:hover {
        background:  $radio-group-bg;
        border: 1px solid   $radio-group-bg;
        border-radius: $cute-special-radio-size;
        color: $radio-group-color;
      }
    }  

  .el-radio-button__orig-radio:checked+.el-radio-button__inner {
    box-shadow: none;
      border-radius: $cute-special-radio-size;
      border: 1px solid   $radio-group-bg;
  }
}