.cute-area-column {
  float: left;

  .cute-area-wrap {
    margin-bottom: 40px;
    text-align: center;

    &:last-child {
      margin-bottom: 12px;
    }

    .cute-area-head {
      margin: 12px 2px 0;
      color: $color-grey-2;
      font-size: $text-size-small;
      line-height: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .cute-area-body {
      padding: 0 2px;

      .cute-area-city {
        position: relative;
        margin-top: 10px;
        height: 30px;
        line-height: 30px;
        color: $color-grey-1;
        font-size: $text-size-small;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
        cursor: pointer;
      }

      .cute-area-city:hover {
        background-color: $color-master-7;
        color: $color-master-1;
      }

      .cute-area-city.selected,
      .cute-area-city.selected.hover {
        background: $color-master-1;
        color: $color-white;
      }
    }
  }
}

.cute-area-recent {
  padding-bottom: 12px;
  border-bottom: 1px dashed $color-grey-6;

  .cute-area-recent-head {
    padding: 0 2px;
    color: $color-grey-1;
    font-size: $text-size-small;
    line-height: 20px;
    font-weight: 400;
  }

  .cute-area-recent-body {
    &:after {
      content: '';
      display: table;
      clear: both;
    }

    .cute-area-recent-option {
      float: left;
      padding: 0 2px;
      margin-top: 12px;
      text-align: center;

      .cute-area-recent-item {
        position: relative;
        height: 30px;
        line-height: 30px;
        color: $color-grey-2;
        font-size: $text-size-small;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
        cursor: pointer;
        background-color: $color-master-7;
      }

      .cute-area-recent-item:hover {
        background-color: $color-master-7;
        color: $color-master-1;
      }
    }
  }
}