.special-radio {
  .el-radio-group .el-radio-button--medium .el-radio-button__inner {
    padding: 8px 20px;
  }

  .el-radio-group .el-radio-button--small .el-radio-button__inner {
    padding: 6px 9px;
  }

  .el-radio-group .el-radio-button {
    margin-left: 2px;

    .el-radio-button__inner {
      border: none;
    }
  }

  .el-radio-group .el-radio-button:not(.is-active):not(.is-disabled) .el-radio-button__inner {
    background: $color-master-6;
    color: $color-grey-1;

    &:hover {
      background: $color-master-5;
      color: $color-grey-1;
    }
  }

  .el-radio-group .el-radio-button.is-active .el-radio-button__inner,
  .el-radio-group .el-radio-button.is-active .el-radio-button__inner :hover {
    background: $color-master-1;
    border-radius: 2px 0 0 2px;
    color: $color-white !important;
  }

  .el-radio-button__orig-radio:checked+.el-radio-button__inner {
    box-shadow: none;
  }
}