$cute-area-head-line-height: 20px;
$cute-area-padding: 2px;
$cute-area-item-height: 30px;
$cute-area-wrap-margin: $margin-10x;

.cute-area-column {
  float: left;

  .cute-area-wrap {
    margin-bottom: $cute-area-wrap-margin;
    text-align: center;

    &:last-child {
      margin-bottom: $margin-3x;
    }

    .cute-area-head {
      margin: $margin-3x $cute-area-padding 0;
      color: $cute-area-head-color;
      font-size: $text-size-sm;
      line-height: $cute-area-head-line-height;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .cute-area-body {
      padding: 0 $cute-area-padding;

      .cute-area-city {
        position: relative;
        margin-top: $margin-10;
        height: $cute-area-item-height;
        line-height: $cute-area-item-height;
        color: $cute-area-item-color;
        font-size: $text-size-sm;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
        cursor: pointer;
      }

      .cute-area-city:hover {
        background-color: $cute-area-item-hover-background-color;
        font-weight: normal;
        color: $cute-area-item-hover-color;
      }

      .cute-area-city.selected,
      .cute-area-city.selected.hover {
        background: $cute-area-item-seleted-background-color;
        color: $color-white;
      }
    }
  }
}

.cute-area-recent {
  padding-bottom: $padding-3x;
  border-bottom: 1px dashed $cute-area-recent-border-color;

  .cute-area-recent-head {
    padding: 0 $cute-area-padding;
    color: $cute-area-recent-head-color;
    font-size: $text-size-sm;
    line-height: $cute-area-head-line-height;
    font-weight: $text-title-weight;
  }

  .cute-area-recent-body {
    &:after {
      content: '';
      display: table;
      clear: both;
    }

    .cute-area-recent-option {
      float: left;
      padding: 0 $cute-area-padding;
      margin-top: $margin-3x;
      text-align: center;

      .cute-area-recent-item {
        position: relative;
        height: $cute-area-item-height;
        line-height: $cute-area-item-height;
        color: $cute-area-recent-item-color;
        font-size: $text-size-sm;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
        cursor: pointer;
        background-color: $cute-area-recent-item-background-color;
      }

      .cute-area-recent-item:hover {
        background-color: $cute-area-item-hover-background-color;
        color: $cute-area-item-hover-color;
      }
    }
  }
}
