.cute-card {
  .el-card__header {
    padding: 0 $padding-6x;
  }

  .el-card__body {
    padding: 0;
  }

  &__header {
    clear: both;
    display: flex;
    align-items: center;
    height: 52px;

    &__title {
      font-size: $text-size-md;
      color: $text-color;
      font-weight: $text-title-weight;
    }

    &__extra {
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__content {
    padding: $padding-4x $padding-6x $padding-5x;
    box-sizing: border-box;
  }
}