/* 状态页 */
@mixin status {
  height: 100%;
  background-color: $color-content-bg;
}

.cute-status-page {
  @include status();

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .box-new {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .box-image {
      margin-right: $margin-6x;
    }

    .box-text {
      margin-left: $margin-6x;
      line-height: $line-height;
      font-family: $font-family;

      .box-text-title {
        font-size: $text-size-xl + 2px;
        color: $text-color;
        font-weight: $text-title-weight;
      }

      .box-text-tips {
        font-size: $text-size-md;
        color: $text-color-light;
        font-weight: $text-weight;
        padding-top: $padding-2x;
      }

      .box-button {
        margin-top: $margin-6x;
      }
    }
  }
}
