.table-column-settings {
  &__btns {
    display: flex;
    justify-content: right;
  }

  &__btn--active {
    color: $color-master-active;
    border-color: $color-master-active;
  }

  &__page {
    display: flex;
    justify-content: flex-end;
  }
}

// TODO 讨论：自定义全局样式
.table-column-settings__popover {
  min-width: 190px;
  padding: 0;

  &__divider {
    margin: 0;
  }

  &__label-group {
    max-height: 300px;
    overflow: auto;
  }

  label.el-checkbox {
    display: block;
    margin: $margin 0;
    height: $table-filter-item-height;
    line-height: $table-filter-item-height;

    .el-checkbox__inner {
      margin-left: $margin-3x;
    }

    &.is-checked {
      .el-checkbox__label {
        font-weight: $text-title-weight;
      }
    }

    &:hover:not(.is-disabled) {
      background-color: $color-neutral-1;
    }
  }
}

.cute-table-filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: -$margin-2x; // 抵消子元素的margin-bottom

  > * {
    margin-right: $margin-3x;
    margin-bottom: $margin-2x;
  }
}

.el-popover.cute-table-filter__popover {
  margin-top: $margin-2x;
  padding: 0;
  min-width: 340px;

  .popover__content {
    padding: $padding-4x;
    max-height: 300px;
    overflow: auto;

    .el-form-item {
      margin-bottom: $margin-4x;

      &:last-child {
        margin-bottom: 0;
      }

      &__label {
        padding-right: $padding-3x;
      }

      &__content {
        font-size: $text-size;
        color: $text-color;
      }
    }
  }

  .popover__footer {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 50px;
    padding: 0 $padding-4x;
    background: $color-neutral-1;

    .el-button + .el-button {
      margin-left: $margin-4x;
    }
  }
}
