.block {
  margin-bottom: 24px;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    &__text {
      color: $text-color-primary;
      font-weight: 500;
      line-height: 20px;
      display: flex;
      align-items: center;
      font-size: 14px;

      &:before {
        width: 4px;
        height: 14px;
        background-color: $color-master-1;
        margin-right: 12px;
        content: ' ';
        display: inline-block;
      }
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}