.cute-color-dropdown {
  .hue-slider {
    float: right;
  }

  .el-color-predefine.predefine-simple {
    width: 232px;
    margin: 0;

    .el-color-predefine__color-selector {
      margin: $margin 0 $margin $margin-2x;
    }
  }
}

.el-color-picker__panel.el-color-dropdown-simple {
  padding: $padding 0;
  width: auto;
}

.cute-color-predefine {
  .el-color-predefine__color-selector.selected {
    box-shadow: $shadow-2;
  }
}
