.el-tabs__item.el-tabs__add.with-input {
  width: $tabs-add-item-width;
}

/* $size:大小;
   $height: 高度;
*/
@mixin tabs-size($size: medium, $height: $tabs-md-height) {
  /* stylelint-disable-next-line */
  .el-tabs.el-tabs--#{$size} {
    .el-tabs__item,
    .el-tabs__nav-prev,
    .el-tabs__nav-next {
      font-size: $text-size;
      height: $height;
      line-height: calc(#{$height} - 2px); // 去掉border
    }

    &:not(.el-tabs--button) .el-tabs__item.el-tabs__add > .el-tabs__add__input {
      line-height: calc(#{$height} - 2px); // 去掉border居中
      > .el-input__inner {
        max-height: calc(
          #{$height} - 2px - #{$common-space}
        ); // 小尺寸下el-input最小高度也会撑开，给一个max-height限制
      }
    }

    &.el-tabs--button .el-tabs__item.el-tabs__add {
      > .el-tabs__add__input {
        // transform: translateY(-1px); // 边框偏移
        width: 100%;
        line-height: calc(#{$height} - 2px); // 去掉border居中
        > .el-input__inner {
          height: $text-size;
        }
      }
    }
    // button风格字体均为12px，间距为sm -> 16px, md/lg -> 24px
    &.el-tabs--button > .el-tabs__header .el-tabs__item {
      &,
      &.is-top.is-active {
        font-size: $text-size;
        @if $size == small {
          padding: 0 $padding-4x;
        } @else {
          padding: 0 $padding-6x;
        }
      }
    }

    // 其他风格字体为sm -> 12px md/lg -> 14px，间距为sm -> 16px, md/lg -> 20px
    &:not(.el-tabs--button) > .el-tabs__header .el-tabs__item {
      &,
      &.is-top.is-active {
        @if $size == small {
          font-size: $text-size;
          padding: 0 $padding-4x;
        } @else {
          font-size: $text-size-md;
          padding: 0 $padding-5x;
        }
      }
    }
  }
}
@include tabs-size(medium, $tabs-md-height);
@include tabs-size(large, $tabs-lg-height);
@include tabs-size(small, $tabs-sm-height);

/*
  button风格
*/
.el-tabs.el-tabs--button {
  .el-tabs__nav-wrap:after {
    display: none;
  }

  .el-tabs__item.el-tabs__add {
    color: $color-master;

    > .el-tabs__add__input {
      > .el-input__inner {
        background-color: $color-master-bg;
        border: none;
        border-radius: 0px;
        font-size: $text-size;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  .el-tabs__item {
    border: 1px solid $border-color;
    box-sizing: border-box;
    background-color: $color-bg-2;
    text-align: center;

    &:not(.is-disabled):not(.is-active):hover {
      border-color: $tabs-master;
      color: $tabs-master;
    }

    &.is-active {
      background-color: $tabs-master;
      border-color: $tabs-master;
      color: $color-white;
      .el-icon-close {
        color: $color-white;
        &:hover {
          color: $color-neutral-3;
        }
      }
    }

    &.is-top,
    &.is-bottom {
      &:first-child {
        border-radius: $tabs-button-radius 0 0 $tabs-button-radius;
      }

      &:last-child {
        border-radius: 0 $tabs-button-radius $tabs-button-radius 0;
      }

      & + .el-tabs__item {
        border-left: none;
      }

      & + .el-tabs__item:not(.is-disabled):not(.is-active):hover {
        box-shadow: -1px 0 0 0 $tabs-master;
      }

      & + .el-tabs__item.is-active {
        box-shadow: -1px 0 0 0 $tabs-master;
      }
    }

    &.is-left,
    &.is-right {
      &:first-child {
        border-radius: $tabs-button-radius $tabs-button-radius 0 0;
      }

      &:last-child {
        border-radius: 0 0 $tabs-button-radius $tabs-button-radius;
      }

      & + .el-tabs__item {
        border-top: none;
      }

      & + .el-tabs__item:not(.is-disabled):not(.is-active):hover {
        box-shadow: 0 -1px 0 0 $tabs-master;
      }

      & + .el-tabs__item.is-active {
        box-shadow: 0 -1px 0 0 $tabs-master;
      }
    }
  }
}
