@import './layout.scss';
@import './transition.scss';
@import './element-override/index.scss';
@import './margin.scss';
@import './animation.scss';
@import './page/form.scss';
@import './page/table.scss';
@import './page/detail.scss';
@import './page/dialog.scss';
@import './page/card.scss';
@import './page/status.scss';
@import './page/preview.scss';
@import './page/user.scss';
@import './page/menu.scss';
@import './page/login.scss';
@import './page/order.scss';
@import './vxetable/styles/index.scss';


html {
  scrollbar-color: $color-grey-6 transparent;
  scrollbar-width: thin;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Microsoft YaHei', 'PingFang SC', 'Helvetica Neue', Helvetica, arial, STHeiTi, sans-serif;
  font-size: 12px;
  background: $body-fill;
  padding: 0;
  margin: 0;
  scrollbar-color: $color-grey-6;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  outline: none;
  text-decoration: none;
}

a {
  color: $color-master-1;
}

a:focus,
a:hover {
  color: $color-master-3;
}

a:hover {
  text-decoration: underline;
}

div:focus {
  outline: none;
}

hr {
  border: none;
  border-top: 1px solid $border-color-light-1;
}

p {
  color: $color-grey-1;
}

h2 {
  color: $color-grey-1;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $color-grey-6;
}

*::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-resizer {
  background-image: url('../images/pull.png');
  background-size: 9px 9px;
  background-repeat: no-repeat;
  background-position: 3px 3px;
  background-position: 6px 6px;
}
