.header {
  .el-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 9.1vw;
  }
}

.chart-select-item {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  ::v-deep .el-select {
    width: 90px;
  }
}
.chart-img {
  position: absolute;
  > img:nth-child(1) {
    position: relative;
    top: -193px;
    left: 122px;
    width: 23px;
    height: 23px;
  }
  > img:nth-child(2) {
    position: relative;
    top: -74px;
    left: 99px;
    width: 23px;
    height: 23px;
  }
}
.chart-inner {
  display: flex;
  justify-content: space-between;
}
.text-ellipsis {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sub-spot {
  display: inline-block;
  margin-right: 10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;

  &--1 {
    background: $color-status-success;
  }

  &--2 {
    background: $color-status-warning;
  }

  &--3 {
    background: $color-status-danger;
  }

  &--4 {
    background: $color-status-info;
  }

  &--5 {
    background: $disabled-color;
  }
}
.chart-card-tabs {
}
.chart-items .el-table {
  margin: 0 !important;
}
.chart-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // height: 60px;
}
::v-deep .el-range-editor {
  width: 243px;
  height: 32px;
}
::v-deep .el-card {
  border-radius: 14px;
}
.chart-table-box {
  ::v-deep .el-col {
    margin-top: 22px;
  }

  .el-col-18 .el-card {
    height: 32.1vw;

    & ::v-deep > .el-card__body {
      height: calc(100% - 70px);

      .chart-box {
        height: 95%;
      }
    }
    // &__body {
    //   height: 92%;

    //   .chart-box {
    //     height: 100%;
    //   }
    // }
  }
}

// .chart-table-box .el-card {

// }

.simple-table {
  padding: 0 10px !important;

  .chart-title {
    padding: 0 2px 14px;
  }
}

.chart-cont .el-card {
  padding: 10px;
  background: none;

  h2 {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    font-family: PingFangSC-Medium;
  }

  & ::v-deep > .el-card__body {
    padding: 0;

    .el-card {
      background: $color-white;

      .el-card__body {
        padding: 10px;
      }
    }
  }
}

.annular {
  ::v-deep .el-card__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

.process {
  padding: 10px 0 !important;

  ::v-deep .el-card__header {
    height: 61px;
  }

  ::v-deep .el-card__body {
    padding: 10px 0 0 0 !important;
    height: calc(100% - 50px) !important;

    .chart-box {
      height: 100%;
    }
  }
}

.map {
  ::v-deep .el-card__body {
    height: calc(100% - 45px) !important;

    .chart-box {
      height: 100% !important;
    }
  }
}

.message {
  height: 26vw;

  ::v-deep .el-card__body {
    .chart-cont {
      height: 21vw !important;
    }
  }
}

.table {
  height: 26vw;

  ::v-deep .el-card__body {
    height: calc(100% - 40px);

    .chart-box {
      height: calc(100% + 6px);

      .sub-table {
        height: calc(100% - 40px);
      }
    }

    .el-tabs__header {
      margin: 0 !important;
    }
    .el-table {
      margin: 10px 0 10px 0 !important;
      border-bottom: 1px solid $disabled-color;
    }
  }
}

.chart-card-box {
  ::v-deep .el-card__header {
    padding: 9px 20px 18px;
  }

  .chart-card-header {
    display: flex;
    clear: both;
    align-items: center;
    justify-content: space-between;
    .header-time-line {
      display: flex;
      align-items: center;
      margin-left: 200px;
    }
    // height: 52px;
    .visits {
      margin: 0;
      margin-top: -30px;
      color: #333333;
      letter-spacing: 0;
      font-weight: 400;
      font-size: 26px;
      font-family: Helvetica;
    }
    .access-rate {
      position: relative;
      top: 20px;
      right: 58px;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  .chart-box-container {
    position: relative;

    img {
      position: absolute;
      top: 41%;
      left: 37%;
    }
  }
}
