@font-face {
  font-family: 'cute-icons'; /* Project id 3310364 */
  src: url('iconfont.woff2?t=1670227460747') format('woff2'),
    url('iconfont.woff?t=1670227460747') format('woff'),
    url('iconfont.ttf?t=1670227460747') format('truetype');
}
[class*=' cute-icon-'],
[class^='cute-icon-'] {
  font-family: 'cute-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cute-icons {
  font-family: 'cute-icons' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cute-icon-close:before {
  content: "\ea3c";
}

.cute-icon-attachment:before {
  content: "\ea3e";
}

.cute-icon-close-circle:before {
  content: "\ea4f";
}

.cute-icon-check-circle:before {
  content: "\ea64";
}

.cute-icon-delete:before {
  content: "\ea71";
}

.cute-icon-down:before {
  content: "\ea80";
}

.cute-icon-check:before {
  content: "\eac7";
}

.cute-icon-setting:before {
  content: "\eae7";
}

.cute-icon-left:before {
  content: "\eb21";
}

.cute-icon-warning-circle:before {
  content: "\eb32";
}

.cute-icon-right:before {
  content: "\eb44";
}

.cute-icon-info-circle:before {
  content: "\eb5b";
}

.cute-icon-up:before {
  content: "\eb5c";
}

.cute-icon-caret-down:before {
  content: "\ea2b";
}

.cute-icon-check-circle-fill:before {
  content: "\ea4a";
}

.cute-icon-close-circle-fill:before {
  content: "\ea5c";
}

.cute-icon-caret-right:before {
  content: "\ea6e";
}

.cute-icon-edit:before {
  content: "\ea6f";
}

.cute-icon-star-fill:before {
  content: "\eb2b";
}

.cute-icon-warning-circle-fill:before {
  content: "\eb39";
}

.cute-icon-plus:before {
  content: "\eb3d";
}

.cute-icon-info-circle-fill:before {
  content: "\eb5f";
}

.cute-icon-like-fill:before {
  content: "\eaf8";
}

.cute-icon-not-selected:before {
  content: "\eba4";
}

.cute-icon-selected:before {
  content: "\eba5";
}

.cute-icon-font-colors:before {
  content: "\edd1";
}

.cute-icon-fill:before {
  content: "\eb9f";
}

.cute-icon-remarks:before {
  content: "\eba0";
}

.cute-icon-bold:before {
  content: "\eba1";
}

.cute-icon-italic:before {
  content: "\eba2";
}

.cute-icon-clear:before {
  content: "\eba3";
}