$color-master: $master-base !default;
$color-master-hover: $master-5 !default;
$color-master-active: $master-7 !default;
$color-master-disabled: $master-3 !default;
$color-master-bg: $master-3 !default;
$color-master-bg-light: $master-2 !default;
$color-master-bg-light-2: $master-1 !default;
