.page-card-list.card1-page,
.page-card-list.card-small {
  .el-tabs__header {
    margin-bottom: $margin-4x;
  }

  .card-tools__right {
    margin-left: auto;
    .el-form--inline .el-form-item { margin: 0 0 $margin-4x; }
    .card1-input { width: $page-card-input-width; }
  }

  .card-tools {
    display: flex;
    justify-content: space-between;

    .el-button + .el-button,
    .card-tolls__btn {
      margin-left: $button-margin;
    }
  }

  .el-col {
    margin-bottom: $margin-5x;
  }

  .el-card {
    border-color: $border-color;

    .el-card__body {
      padding: $padding-4x;
      background-color: $color-bg-2;
    }
  }

  .card-box {
    .card-box--title svg {
      color: $color-success;
    }

    .card-box--title {
      display: flex;
      align-items: center;
      margin-bottom: $margin-4x;

      &-text {
        max-width: $page-card-title-text-max-width;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      svg {
        color: $disabled-color;
        margin-right: $margin-2x;
      }
    }

    .card-box--bar {
      display: flex;
    }

    .card-box--info {
      line-height: $page-card-box-info-line-height;
      margin-top: $margin;
      word-break: break-all;
      text-overflow: ellipsis;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      min-height: $page-card-box-info-min-height;
    }

    .card-box--btns {
      display: flex;
      justify-content: space-between;
      padding: $padding-3x 0;
      background-color: $color-neutral-1;
      margin: -$margin-4x;
      margin-top: $margin-4x;
      border-top: 1px solid $border-color;

      & > div {
        flex: 1;
        text-align: center;
        border-right: 1px solid $border-color;

        &:last-child {
          border: none;
        }
      }

      svg {
        cursor: pointer;
        font-size: $text-size-lg;
        color: $text-color-feature;
        &:hover { color: $color-master; }
      }
    }

    .card-box--bar--text {
      width: 40%;
      color: $text-color-light-1;

      span {
        font-size: $text-size-lg;
        margin-left: $margin-3x;
        font-weight: $page-card-font-weight-bold;
        color: $text-color-primary;
      }
    }

    &.active {
      .card-box--title svg {
        color: $color-status-success;
        font-weight: $page-card-font-weight-bold;
      }
    }
  }
}

/* 大卡片 -- Card3 */

.page-card-list.card-big {
  .el-card {
    border: 1px solid $border-color;
  }

  .el-card.is-hover-shadow:hover {
    box-shadow: $shadow-card;
  }

  .card-btn {
    margin-bottom: $margin-4x;
  }

  .card-box {
    .el-col {
      margin-bottom: $margin-5x;

      .el-card.is-hover-shadow:hover {
        box-shadow: $shadow-card;
      }
    }

    &__info {
      padding: $padding;
      height: $page-card3-box-info-height;

      &__header {
        display: flex;
        font-family: PingFangSC-Regular;
      }

      &__avatar {
        display: inline-block;
        vertical-align: middle;
        width: $page-card-title-icon-size;
        height: $page-card-title-icon-size;
        color: $text-color-feature;
      }

      &__name {
        display: inline-block;
        vertical-align: middle;
        font-size: $text-size-lg;
        color: $color-grey-1;
        font-weight: $page-card-font-weight-bold;
        margin-left: $margin-3x;
      }

      &__version {
        display: inline-block;
        vertical-align: middle;
        margin-left: $margin-4x;
        font-size: $text-size;
        color: $color-grey-2;
        line-height: $page-card-box-text-line-height;
        font-weight: $text-weight;

        &__num {
          color: $color-master-1;
          padding-left: $padding;
        }
      }

      &__handle {
        margin-left: auto;
        font-size: $text-size-xl;
        color: $text-color-light;
        cursor: pointer;

        & > *:not(:first-of-type){
          margin-left: $margin-5x;
        }
      }

      &__con {
        margin-top: $margin-4x;
        display: flex;
      }

      &__text {
        font-size: $text-size;
        color: $color-grey-1;
        line-height: $page-card-box-text-line-height;
        font-weight: $page-card-font-weight-bold;
        display: inline-block;
        margin-right: $margin-3x;
        white-space: nowrap;
      }

      &__tag {
        display: flex;
        flex-flow: wrap;
        margin-bottom: -$margin;

        & > * {
          margin-bottom: $margin;
          border-radius: $page-card-tag-border-radius;
          margin-right: $margin-2x;
          white-space: nowrap;
          cursor: pointer;
        }
      }

      &__describe {
        // width: calc(100% - 40px);
        display: inline-block;
        overflow: hidden;

        &__text {
          display: inline-block;
          overflow-y: scroll;
          height: 100%;
          line-height: $page-card-box-text-line-height;
        }
      }
    }

    &.active {
      .card-box__info__avatar svg {
        color: $color-status-success;
        font-weight: $page-card-font-weight-bold;
      }
    }
  }
}

/* 小卡片 */
.page-card-list.card-small {
  .card-box-less {
    .el-card__body {
      padding: 0;
    }

    .card-box {
      display: flex;

      .card-box--info {
        // display: flex;
        // line-height: $page-card-box-info-line-height;
        // margin-top: $margin;

        .card-box--input {
          flex: 1;
        }

        .input-box {
          width: 100%;
          margin-left: auto;
        }

        .card-box--input-text {
          width: $page-card-input-text-max-width;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      .card-cont {
        width: 100%;
        padding: $padding-4x $padding-4x $padding-3x;

        .card-box--bar--text {
          width: 50%;
        }

        .card-box--title {
          line-height: $page-card-box-title-line-height;
          font-weight: $page-card-font-weight-bold;

          .card-box--title-icon {
            width: $page-card-title-icon-size;
            height: $page-card-title-icon-size;
            background-color: $color-tag-success-1;
            padding: $padding;
            margin-right: $margin-4x;

            .svg-icon {
              display: block;
              &:hover { color: $color-master; }
            }
          }
        }
      }

      .card-box--btns-less {
        width: $page-card2-btns-width;
        border-left: 1px solid $border-color;
        justify-content: space-between;
        margin-left: auto;
        display: flex;
        flex-direction: column;

        & > div {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          border-bottom: 1px solid $border-color;
          background-color: $color-neutral-1;

          &:last-child {
            border: none;
          }
        }

        & > div:hover {
          cursor: pointer;
          opacity: 0.9;
        }

        svg {
          font-size: $text-size-lg;
          color: $text-color-feature;
          &:hover { color: $color-master; }
        }
      }
    }
  }
}

.page-card-list {
  .card-box .card-box--title--icon {
    width: $page-card-title-icon-size;
    height: $page-card-title-icon-size;
  }

  .card-box__info__handle {
    svg {
      color: $text-color-feature;
      &:hover { color: $color-master; }
    }
  }
  .card-disabled svg { color: $disabled-border !important; }
  .card-disabled svg:hover { cursor: not-allowed !important; }
  .card-big .card-box__info__describe__text { width: 100%; overflow-y: auto; }
  .card-big .card-box__info__describe__text .card-box--input { height: 100%; }
}
