/* 特殊弹窗 */
@mixin special-dialog {
  display: flex;
  align-items: center;

  .el-dialog {
    width: 480px;
    margin: 0 auto !important;
    background-color: $color-bg-2;
    border-radius: $border-radius;

    /* 弹窗Header */
    .el-dialog__header {
      padding: $padding-8x 0 0 $padding-8x;
      background-color: $color-bg-2;

      .el-dialog__title {
        color: $text-color;
        font-size: $text-size-lg;
        font-weight: 500;
      }

      button {
        display: none;
      }
    }

    /* 弹窗Body */
    .el-dialog__body {
      padding: $padding-4x $padding-8x $padding-8x;
    }
  }

  &--content {
    display: flex;

    .svg-icon {
      /* 图标 */
      flex: none;
      font-size: 20px;
      margin-right: $margin-3x;
    }

    > div {
      /* 内容 */
      line-height: $line-height;
      color: $text-color;
    }
  }

  &--btns {
    text-align: center;
    margin-top: $margin-6x;

    .el-button + .el-button {
      margin-left: $margin-4x;
    }
  }
}

/* 基础弹窗 */
@mixin base-dialog {
  display: flex;
  align-items: center;

  .el-dialog {
    width: 480px;
    margin: 0 auto !important;
    background-color: $color-bg-2;
    border-radius: $border-radius;

    /* 弹窗Header */
    .el-dialog__header {
      padding: $margin-4x $margin-6x;
      border-bottom: 1px solid $border-color-light;
      background-color: $color-bg-1;

      .el-dialog__title {
        color: $text-color;
        font-size: $text-size-lg;
        font-weight: $text-title-weight;
      }
    }

    /* 弹窗Body */
    .el-dialog__body {
      // padding: 0;
      font-size: $text-size;
      color: $color-neutral-10;
    }
  }

  &--content {
    display: flex;
    // margin: $margin-6x;
  }

  &--footer {
    $negative-margin-8x: -$margin-8x;
    $negative-margin-6x: -$margin-6x;

    text-align: right;
    padding: $dialog-footer-padding;
    background-color: $dialog-footer-bg;
    margin: $margin-6x $negative-margin-8x $negative-margin-6x $negative-margin-8x;

    .el-button + .el-button {
      margin-left: $margin-4x;
    }
  }
}

/* 小弹窗 */
.small-dialog {
  @include base-dialog();
}

/* 中弹窗 */
.medium-dialog {
  @include base-dialog();

  .el-dialog {
    width: 560px;
    max-height: 570px;
    display: flex;
    flex-direction: column;

    .el-dialog__header {
      height: auto;
    }
  }

  &--scroll {
    background-color: $color-bg-2;
  }

  &--content {
    display: block;
    clear: both;
    margin-bottom: 0;

    .warn-tip {
      display: block !important;
      margin-bottom: $margin-6x;
    }

    .el-form-item--medium {
      display: flex;
      align-items: center;

      .el-form-item__label {
        line-height: 20px;
      }

      .el-form-item__content {
        margin-left: 0 !important;
        width: 100%;
      }
    }
  }

  &--footer {
    position: absolute;
    width: 100%;
  }
}

/* 中弹窗2 */
.medium-dialog2 {
  @include base-dialog();

  .el-dialog {
    width: 560px;
    max-height: 570px;
    display: flex;
    flex-direction: column;

    .el-dialog__header {
      height: auto;
    }
  }

  &--content {
    display: block;
    clear: both;
    max-height: 461px;
    margin-bottom: 0;

    .el-form-item--medium {
      display: flex;
      align-items: center;

      .el-form-item__label {
        line-height: 20px;
      }

      .el-form-item__content {
        margin-left: 0 !important;
        width: 100%;
      }

      .el-select {
        width: 100%;
      }
    }
  }

  &__explain {
    border-top: 1px solid $color-neutral-4;
    padding-top: $padding-4x;

    .el-form-item__content {
      font-size: $text-size-sm;
      line-height: 20px;
      color: $color-neutral-9;
      font-weight: 400;
      display: flex;
    }

    &__text {
      display: inline-block;
      width: 354px;
      margin-left: $margin-10;
    }
  }
}

/* 全屏弹窗 */
.fullscreen-dialog {
  @include base-dialog();

  .el-dialog {
    margin: $margin-6x !important;
    width: 100%;
    height: calc(100% - 48px);
    display: flex;
    flex-flow: column nowrap;

    &__body {
      flex: 1;
      display: flex;
      flex-flow: column nowrap;
    }
  }

  &--content {
    flex: 1;
    display: block;
  }
}

/* 成功弹窗 */
.success-dialog {
  @include special-dialog();

  .svg-icon {
    color: $color-status-success;
  }
}

/* 警告弹窗 */
.warn-dialog {
  @include special-dialog();

  .svg-icon {
    color: $color-status-warning;
  }
}

/* 警告弹窗 --有二次输入确认 */
.warn-dialog2 {
  @include special-dialog();

  .svg-icon {
    color: $color-status-warning;
  }

  .warn-dialog--content {
    display: inline-block;

    .warn-dialog--content_describe {
      display: flex;
      align-items: center;
    }

    .el-form {
      margin-top: $margin-6x;

      .el-form-item {
        display: flex;

        .el-input {
          width: 304px;
        }
      }
    }
  }
}

/* 复杂中弹窗 */
.log-dialog {
  @include base-dialog();

  .el-button + .el-button {
    margin-left: 14px;
  }

  .last-button {
    margin-right: $margin-10;
  }

  .el-dialog {
    width: 560px;
  }

  &--content {
    display: block;
    background-color: $color-neutral-1;
    color: $color-neutral-10;
    font-size: $text-size;
  }

  &--pre {
    width: 100%;
    margin: 0;
    line-height: 20px;
  }
}

/* 复杂小弹窗 */
.info-dialog {
  @include base-dialog();

  &--content {
    display: block;
    background-color: $color-neutral-1;
  }

  &--pre {
    width: 100%;
    margin: 0;
    margin: -20px 0;
    line-height: 32px;
  }
}

/* 大弹窗 */
.large-dialog {
  @include base-dialog();

  .el-dialog {
    width: 1000px;
    margin: 0 auto !important;
  }
}
