@mixin form {
  .el-input,
  .el-select,
  .el-textarea {
    width: 50%;
    max-width: 745px;

    /* 1920页面宽度下，右侧面板50%的像素值 */
    min-width: 468px;

    /* 1366页面宽度下，右侧面板50%的像素值 */
  }

  .el-select .el-input.el-input--suffix {
    width: 100%;
  }

  .el-input-number .el-input {
    width: auto;
    min-width: 0;
  }

  .form-item--short {
    .el-input,
    .el-select,
    .el-textarea,
    .el-input-number {
      width: 150px;
      min-width: 0;
    }
  }

  .form-item__tip {
    color: $text-color-light;
    font-size: $text-size;
    line-height: $line-height;
    margin-top: $margin-2x;

    &:before {
      font-family: cute-icons;
      content: '\eb5b';
      color: $icon-color;
      font-size: $text-size-md;
      vertical-align: top;
      margin-right: $margin;
    }
  }

  .el-form-item.is-error .form-item__tip {
    position: relative;
    top: auto;
  }

  .form-item__info {
    margin-left: $margin-2x;
  }

  .el-button + .el-button {
    margin-left: $margin-4x;
  }

  .pro-form-table-cell-selector{
    width:100%;
  }

  .pro-form-table-cell-inline-form{
    display: flex;
    align-items: center;
    .el-form-item{
      flex:1;
    }
    .pro-form-table-cell-selector{
      padding-right: $padding-2x;
    }
  }
  
  .el-table__append-row{
    height: 50px;
    .el-button{
      height: 100%;
      width: 100%;
    }
  }
}

// @mixin formTitle {
//   .block__title {
//     line-height: 1;
//     font-family: PingFangSC-Medium;
//     font-size: $text-size-md;
//     color: $color-neutral-10;
//     margin: 0 0 $margin-6x $margin-10x;
//     font-weight: $text-title-weight;
//   }
// }

.pro-form-footer-content {
  float: right;
  
  .el-button + .el-button {
    margin-left: $margin-4x;
  }
}

/* 简单表单 */
.simple-form {
  @include form();
}

/* 复杂表单1 */
.pro-form1 {
  // @include formTitle();

  .el-form {
    margin-top: $margin-10;
  }

  .el-card__body {
    padding: $padding-5x $padding-5x 0;
  }

  .block__content {
    box-sizing: border-box;
    margin-left: -$margin-10;
  }

  padding-bottom: $padding-8x;

  .el-divider--horizontal {
    width: 95%;
    margin: $margin-6x 0 $margin-6x $margin-10x;
  }

  .el-form-item .el-table {
    margin: 0;
  }

  @include form();

  .el-input,
  .el-select,
  .el-textarea {
    min-width: 0;
  }


}

/* 复杂表单2 */
.pro-form2 {
  // @include formTitle();

  .el-form {
    margin-top: $margin-10;
  }

  .el-table {
    margin: 0 !important;
  }

  .el-card__body {
    padding: $padding-5x $padding-5x 0;
  }

  // .block {
  //   margin-bottom: 0 !important;

  //   &__title {
  //     margin: 0 0 $margin-6x $margin-10x !important;
  //   }
  // }

  .el-form-item__label {
    line-height: 24px;
    padding: 0 0 $padding-2x;
  }

  padding-bottom: $margin-8x;

  .el-divider--horizontal {
    width: 96%;
    margin: 0 $margin-6x $margin-6x $margin-10x;
  }

  .form-items {
    // margin: 0 $margin-5x 0 $margin-10x;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > div {
      width: calc((100% - #{$margin-5x} * 2) / 3);
      .el-select {
        width: 100%;
      }

      .el-input {
        width: 100%;
      }
    }

    .sub-tags {
      .el-input {
        width: 70px;
      }
    }
  }

  @include form();

  .el-input,
  .el-select {
    min-width: 0;
  }
}

/* 分步表单 */
.step-form {
  @include form();

  padding: $padding-6x;

  .steps {
    margin: 0 10%;
  }

  .form-content {
    margin-top: $margin-5x;
    margin: $margin-5x auto;
    max-width: 800px;
  }

  .cute-tag-add {
    .el-input {
      min-width: 70px;
    }
  }
}
