@mixin table {

  /* 分页 */
  .el-pagination {
    text-align: right;
  }

  .el-table {

    /* 操作按钮 */
    .actions.el-table__cell {
      .el-button--text + .el-button--text {
        margin-left: $button-margin;
      }
    }
  }
}

/* 筛选表单 1 */
@mixin tableToolsConditionForm1 {

  .el-form {
    display: flex;
  }

  .el-form-item {
    flex: 1;
    margin-bottom: 0;

    &:last-child {
      flex: none;
      margin-right: 0;
    }

    .el-form-item__content {
      width: 100%;
    }
  }
}

/* 筛选表单 2 */
@mixin tableToolsConditionForm2 {

  &__row {
    display: flex;

    &:not(:last-child) {
      margin-bottom: $margin-4x;
    }

    .el-form-item {
      flex: 1;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }

      .el-form-item__content {
        width: 100%;
      }
    }
  }

  &__buttons .el-form-item__content {
    text-align: right;
  }
}

/* 按钮组 */
@mixin tableToolsButtons {
  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $padding-4x;
    border-top: 1px solid $color-neutral-4;

    .table-tools__left {
      display: flex;
      // 操作已选项
      .selected-input {
        margin-right: $margin-5x;
      }
    }
  }
}

/* 简单表格 */
.simple-table {

  /* 表格工具栏 */
  .table-tools {
    display: flex;
    justify-content: space-between;

    /* 筛选表单 */
    &__conditions {
      flex: 1;
      max-width: 60%;

      @include tableToolsConditionForm1();
    }
  }

  @include table();
}

/* 简单表格 2 */
.simple-table2 {

  /* 表格工具栏 */
  .table-tools {

    /* 筛选表单 */
    &__conditions {
      @include tableToolsConditionForm1();
    }
  }

  @include table();
}

/* 复杂表格 1 */
.pro-table-1 {

  /* 表格工具栏 */
  .table-tools {
    display: flex;
    justify-content: space-between;
    margin-bottom: $margin-4x;

    /* 筛选表单 */
    &__conditions {
      flex: 1;
      max-width: 60%;

      @include tableToolsConditionForm1();
    }
  }

  @include table();

  /*  过滤条件 */
  .table-filter {
    display: flex;
    align-items: center;

    .table-filter_text {
      color: $text-color;
      margin-right: $margin-3x;
    }
  }
}

/* 复杂表格 2 */
/* 复杂表格 3 */
.pro-table-2,
.pro-table-3 {

  /* 表格工具栏 */
  .table-tools {

    /* 筛选表单 */
    &__conditions {
      margin-bottom: $margin-4x;

      @include tableToolsConditionForm2();
    }

    /* 按钮组 */
    @include tableToolsButtons();
  }

  @include table();
}

/* 复杂表格 4 */
.pro-table-4 {
  .el-card__body {
    display: flex;
  }

  .table4-left {
    width: 200px;
    border-right: 1px solid $border-color-light;
    margin-right: $margin-4x;
  }

  .table4-right {
    flex: 1;
  }

  /* 树 */
  .tree-wrap {
    .tree-title {
      margin-top: 0;
    }

    .el-tree {
      margin-left: -$common-space-10;
    }

    .el-tree-node__expand-icon.is-leaf {
      padding: 6px;
    }

    .node-content {
      display: flex;
      align-items: center;
      color: $text-color;
    }

    .node-icon {
      color: $color-neutral-6;

      .svg-icon {
        display: none;
        margin-right: $margin-2x;

        &:first-child {
          display: inline;
        }
      }
    }

    .el-tree-node.is-expanded > .el-tree-node__content {
      .node-icon {
        .svg-icon {
          display: none;

          &:last-child {
            display: inline;
          }
        }
      }
    }

    .el-tree-node__content {
      position: relative;

      .handler-menu {
        position: absolute;
        right: $common-space-3x;
        display: none;

        .el-button:not(.pop-tooltip .el-button) {
          margin-left: $margin;
          color: $icon-color;
        }
      }

      &:hover {
        .handler-menu {
          display: flex;
        }
      }
    }

    .hover-wrapper {
      &:hover {
        .pop-tooltip {
          display: block;
        }
      }
    }

    .pop-tooltip {
      display: none;
      position: absolute;
      top: $common-space-6x;
      right: 0;
      z-index: $zindex-tooltip;
      background: $color-white;
    }
  }

  /* 表格 */
  .table-wrap {

    /* 表格工具栏 */
    .table-tools {
      display: flex;
      justify-content: space-between;

      /* 筛选表单 */
      &__conditions {
        flex: 1;
        max-width: 60%;

        @include tableToolsConditionForm1();
      }
    }

    @include table();
  }
}

/* 复杂表格 5 */
.pro-table-5 {

  /* 表格工具栏 */
  .table-tools {

    /* 筛选表单 */
    &__conditions {
      margin-bottom: $margin-4x;

      @include tableToolsConditionForm1();
    }

    /* 按钮组 */
    @include tableToolsButtons();
  }

  @include table();
}

/* 复杂表格 6 */
.pro-table-6 {

}

/* 复杂表格 7 */
.pro-table-7 {

}

/* 暂无数据 */
.el-table__empty-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $text-size;
  line-height: $line-height;

  &:before {
    display: block;
    content: url('../images/table/not-have.svg');
    margin-top: $margin-6;
    margin-right: $margin-2x;
  }
}

/* 下拉展开旋转小三角 */
.top-fill {
  transform: rotate(180deg);
}

// TODO 这是ProForm页面样式
.el-table__append-row {
  border-bottom: 1px solid $border-color;
}
