@mixin table {
  /* 分页 */
  .el-pagination {
    text-align: right;
  }

  .el-table {
    /* 操作按钮 */
    .actions.el-table__cell {
      .el-button--text + .el-button--text {
        margin-left: $button-margin;
      }

      .el-button + .el-dropdown {
        margin-left: $button-margin;
        margin-right: 0;
      }
    }
  }
}

/* 筛选表单 1 */
@mixin tableToolsConditionForm1 {
  .el-form {
    display: flex;
  }

  .el-form-item {
    flex: 1;
    margin-bottom: 0;

    &:last-child {
      flex: none;
      margin-right: 0;
    }

    .el-form-item__content {
      width: 100%;
    }
  }
}

/* 筛选表单 2 */
@mixin tableToolsConditionForm2 {
  &__row {
    display: flex;

    &:not(:last-child) {
      margin-bottom: $margin-4x;
    }

    .el-form-item {
      flex: 1;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }

      .el-form-item__content {
        width: 100%;
      }
    }
  }

  &__buttons .el-form-item__content {
    text-align: right;
  }
}

/* 按钮组 */
@mixin tableToolsButtons {
  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $padding-4x;
    border-top: 1px solid $color-neutral-3;

    .table-tools__left {
      display: flex;

      // 操作已选项
      .cute-selected-input {
        margin-right: $margin-3x;
      }
    }
  }
}

/* 简单表格 */
.simple-table {
  /* 表格工具栏 */
  .table-tools {
    display: flex;
    justify-content: space-between;

    /* 筛选表单 */
    &__conditions {
      flex: 1;

      @include tableToolsConditionForm1();

      .el-form {
        justify-content: right;
      }

      .el-form-item {
        max-width: 25%;
      }
    }
  }

  @include table();
}

/* 简单表格 2 */
.simple-table2 {
  /* 表格工具栏 */
  .table-tools {
    /* 筛选表单 */
    &__conditions {
      @include tableToolsConditionForm1();
    }
  }

  @include table();
}

/* 复杂表格 1 */
.pro-table-1 {
  /* 表格工具栏 */
  .table-tools {
    display: flex;
    justify-content: space-between;
    margin-bottom: $margin-4x;

    /* 筛选表单 */
    &__conditions {
      flex: 1;

      @include tableToolsConditionForm1();

      .el-form {
        justify-content: right;
      }

      .el-form-item {
        max-width: 25%;
      }
    }
  }

  @include table();

  /*  过滤条件 */
  .table-filter {
    display: flex;

    .table-filter__text {
      flex-shrink: 0;
      line-height: $common-space-7x; // same as tag
      color: $text-color;
      margin-right: $margin-3x;
    }
  }
}

/* 复杂表格 2 */

/* 复杂表格 3 */
.pro-table-2,
.pro-table-3 {
  /* 表格工具栏 */
  .table-tools {
    /* 筛选表单 */
    &__conditions {
      margin-bottom: $margin-4x;

      @include tableToolsConditionForm2();
    }

    /* 按钮组 */
    @include tableToolsButtons();
  }

  @include table();
}

/* 复杂表格 4 */
.pro-table-4 {
  .el-card__body {
    display: flex;
  }

  .table4-left {
    width: 220px;
    border-right: 1px solid $color-neutral-3;
    margin-right: $margin-4x;
  }

  .table4-right {
    flex: 1;
    overflow-x: hidden; // 解决el-table在flex下不会缩小
  }

  /* 树 */
  .tree-wrap {
    // 标题
    .tree-title {
      font-size: $text-size-md;
      font-weight: $text-title-weight;
      line-height: $line-height;
    }

    // 自定义节点内容
    .custom-tree-node {
      display: flex;
      align-items: center;
    }

    // 自定义节点内容-图标
    .custom-tree-node__icon {
      color: $color-neutral-9;

      .svg-icon {
        display: none;
        margin-right: $margin;

        &:first-child {
          display: inline;
        }
      }
    }

    .el-tree-node.is-expanded > .el-tree-node__content .custom-tree-node__icon {
      .svg-icon {
        display: none;

        &:last-child {
          display: inline;
        }
      }
    }

    // 自定义节点内容-操作
    .el-tree-node__content {
      position: relative;

      .custom-tree-node__operations {
        display: none;
        position: absolute;
        right: $common-space-3x;
      }

      &:hover {
        .custom-tree-node__operations {
          display: flex;
          align-items: center;
        }
      }
    }

    // 操作-下拉菜单
    .custom-tree-node__operations .operation-dropdown {
      position: relative;

      .dropdown-link {
        height: $common-space-8x;
      }

      .dropdown-menu {
        display: none;
        position: absolute;
        top: $common-space-7x;
        right: 0;
        z-index: $zindex-dropdown;
        background: $color-bg-1;
        box-shadow: $shadow-2;
        border-radius: $border-radius;

        &__item {
          font-size: $text-size;
          font-weight: $text-weight;
          line-height: $line-height;
          padding: $padding-2x $padding-4x;
          color: $text-color;

          &:first-child {
            margin-top: $margin;
          }

          &:last-child {
            margin-bottom: $margin;
          }

          &:hover {
            background-color: $color-neutral-1;
          }
        }
      }

      &:hover {
        .dropdown-link {
          color: $color-master;
        }

        .dropdown-menu {
          display: block;
        }
      }
    }

    .el-tree-node > .el-tree-node__children {
      overflow: unset; // 覆盖hidden，为了dropdown正常显示
    }

    // 自定义节点内容--状态：选中
    .el-tree-node.is-current > .el-tree-node__content .custom-tree-node {
      color: $color-master;
      font-weight: $text-title-weight;

      .custom-tree-node__icon {
        color: $color-master;
      }
    }

    // 覆盖组件错误样式
    .el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
      background-color: unset;

      &:hover {
        background-color: $color-neutral-1
      }
    }
  }

  /* 表格 */
  .table-wrap {
    /* 表格工具栏 */
    .table-tools {
      display: flex;
      justify-content: space-between;

      /* 筛选表单 */
      &__conditions {
        flex: 1;

        @include tableToolsConditionForm1();

        .el-form {
          justify-content: right;
        }

        .el-form-item {
          max-width: 25%;
        }
      }
    }

    @include table();
  }
}

/* 复杂表格 5 */
.pro-table-5 {
  /* 表格工具栏 */
  .table-tools {
    /* 筛选表单 */
    &__conditions {
      margin-bottom: $margin-4x;

      @include tableToolsConditionForm1();
    }

    /* 按钮组 */
    @include tableToolsButtons();
  }

  @include table();
}

/* 复杂表格 6 */
.pro-table-6 {
}

/* 复杂表格 7 */
.pro-table-7 {
  .table7-title {
    font-size: $text-size-lg;
    font-weight: $text-title-weight;
    color: $text-color;
    line-height: $line-height;
    margin-bottom: $margin-2x;
  }

  @include table()
}

/* 暂无数据 */
.el-table__empty-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $text-size;
  line-height: $line-height;

  &:before {
    display: block;
    content: url('#{$images-path}/table/not-have.svg');
    margin-top: $margin-6;
    margin-right: $margin-2x;
  }
}

/* 下拉展开旋转小三角 */
.el-table .el-button .top-fill {
  transform: rotate(180deg);
}

// TODO 这是ProForm页面样式
.el-table__append-row {
  border-bottom: 1px solid $border-color;
}
