/* 简单表格 */
.simple-user {

  /* 表格工具栏 */
  .table-tools {
    display: flex;
    justify-content: space-between;

    /* 筛选表单 */
    &__conditions {
      .el-form-item {
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
        }
      }

      .el-input,
      .el-select {
        width: 268px;
      }

      &__buttons {
        margin-right: 0;
      }
    }
  }

  .el-button+.el-button {
    margin-left: $button-margin;
  }

  .el-button+.el-dropdown {
    margin-right: 0;
  }

  .medium-dialog .el-dialog {
    // width: 780px;

    .el-checkbox-group {
      border: 1px solid $border-color;
      padding: $padding $padding-2x;

      .el-checkbox {
        margin-right: $margin-4x;
      }
    }
  }

  /* 分页 */
  .el-pagination {
    text-align: right;
  }
}
