/* 基础色盘
-------------------------- */

/* 蓝(主题色) */
$blue-base: #3d73f5;
$blue-1: #f0f7ff;
$blue-2: #e3efff;
$blue-3: #bad6ff;
$blue-4: #91baff;
$blue-5: #699bff;
$blue-6: $blue-base;
$blue-7: #2955cf;
$blue-8: #193ba8;
$blue-9: #0d2482;
$blue-10: #08165c;

/* 橙 */
$orange-base: #ff8f34;
$orange-1: #fff9f0;
$orange-2: #ffeed6;
$orange-3: #ffdaad;
$orange-4: #ffc485;
$orange-5: #ffab5c;
$orange-6: $orange-base;
$orange-7: #d96d21;
$orange-8: #b34f12;
$orange-9: #8c3607;
$orange-10: #662304;

/* 天翼红 */
$red-base: #df0428;
$red-1: #ffe6e6;
$red-2: #ffabae;
$red-3: #ff828a;
$red-4: #f75767;
$red-5: #eb2d46;
$red-6: $red-base;
$red-7: #b80025;
$red-8: #910022;
$red-9: #6b001d;
$red-10: #450015;

/* 宝石红 */
$ruby-base: #ff4545;
$ruby-1: #fff2f0;
$ruby-2: #ffebe8;
$ruby-3: #ffc6bf;
$ruby-4: #ff9d96;
$ruby-5: #ff736e;
$ruby-6: $ruby-base;
$ruby-7: #d93035;
$ruby-8: #b31e28;
$ruby-9: #8c111d;
$ruby-10: #660b17;

/* 绿 */
$green-base: #27d68f;
$green-1: #f0fff6;
$green-2: #d1ffe7;
$green-3: #a7fcd2;
$green-4: #78f0b8;
$green-5: #4de3a2;
$green-6: $green-base;
$green-7: #17b078;
$green-8: #0b8a5f;
$green-9: #036347;
$green-10: #013d2d;

/* 中性色盘
-------------------------- */

/* 黑色 */
$black: #000;

/* 白色 */
$white: #fff;

/* 灰色 */
$neutral-1: #f7f8fa;
$neutral-2: #eff1f4;
$neutral-3: #e2e5ed;
$neutral-4: #e5e6e8;
$neutral-5: #d9d9d9;
$neutral-6: #999;
$neutral-7: #7c818c;
$neutral-8: #353f58;
$neutral-9: #666;
$neutral-10: #333;
