:root {
  --images-path: "~@cutedesign/ui/images";
  --color-master: #3d73f5;
  --color-master-hover: #699bff;
  --color-master-active: #2955cf;
  --color-master-disabled: #bad6ff;
  --color-master-bg: #bad6ff;
  --color-master-bg-light: #e3efff;
  --color-master-bg-light-2: #f0f7ff;
  --color-ct: #df0629;
  --color-ct-hover: #eb2d46;
  --color-ct-active: #b80025;
  --color-ct-disabled: #ff828a;
  --color-ct-bg: #ffe6e6;
  --color-info: #999;
  --color-info-hover: #d9d9d9;
  --color-info-active: #828282;
  --color-info-disabled: #adadad;
  --color-info-bg: #f7f8fa;
  --color-success: #1ac45d;
  --color-success-hover: #3dd173;
  --color-success-active: #0d9e4c;
  --color-success-disabled: #8febab;
  --color-success-bg: #edfff1;
  --color-warning: #ff8f34;
  --color-warning-hover: #ffab5c;
  --color-warning-active: #d96d21;
  --color-warning-disabled: #ffdaad;
  --color-warning-bg: #fff9f0;
  --color-danger: #ff4545;
  --color-danger-hover: #ff736e;
  --color-danger-active: #d93035;
  --color-danger-disabled: #ffc6bf;
  --color-danger-bg: #fff2f0;
  --color-fatal: #8c111d;
  --color-fatal-hover: #b31e28;
  --color-fatal-active: #660b17;
  --color-fatal-disabled: #ff736e;
  --color-fatal-bg: #ffc6bf;
  --color-neutral-1: #f7f8fa;
  --color-neutral-2: #eff1f4;
  --color-neutral-3: #e2e5ed;
  --color-neutral-4: #e5e6e8;
  --color-neutral-5: #d9d9d9;
  --color-neutral-6: #999;
  --color-neutral-7: #7c818c;
  --color-neutral-8: #353f58;
  --color-neutral-9: #666;
  --color-neutral-10: #333;
  --color-neutral-11: #333;
  --color-white: #fff;
  --color-white-hover: #e2e5ed;
  --color-black: #000;
  --color-bg-1: #fff;
  --color-bg-2: #fff;
  --color-bg-3: #f7f8fa;
  --color-form-component-bg: #fff;
  --color-content-bg: #fff;
  --color-body-bg: #f7f8fa;
  --disabled-bg: #f7f8fa;
  --disabled-border: #d9d9d9;
  --disabled-color: #999;
  --font-family: "Microsoft YaHei","PingFang SC","Helvetica Neue",Helvetica,Arial,STHeiTi,sans-serif,"-apple-system","BlinkMacSystemFont","Segoe UI","Hiragino Sans GB";
  --font-family-cute-icons: "cute-icons";
  --text-size: 12px;
  --text-size-sm: 12px;
  --text-size-md: 14px;
  --text-size-lg: 16px;
  --text-size-xl: 18px;
  --text-color: #333;
  --text-color-light: #666;
  --text-color-light-2: #999;
  --text-color-disabled: #999;
  --text-color-feature: #7c818c;
  --text-color-placeholder: #7c818c;
  --text-weight: normal;
  --text-title-weight: bold;
  --line-height: 1.5;
  --border-color: #d9d9d9;
  --border-color-hover: #666;
  --border-color-light: #f7f8fa;
  --border-color-dark: #999;
  --border-radius: 3px;
  --border-radius-md: 5px;
  --common-space: 4px;
  --common-space-2x: 8px;
  --common-space-3x: 12px;
  --common-space-4x: 16px;
  --common-space-5x: 20px;
  --common-space-6x: 24px;
  --common-space-7x: 28px;
  --common-space-8x: 32px;
  --common-space-9x: 36px;
  --common-space-10x: 40px;
  --common-space-6: 6px;
  --common-space-10: 10px;
  --padding: 4px;
  --padding-2x: 8px;
  --padding-3x: 12px;
  --padding-4x: 16px;
  --padding-5x: 20px;
  --padding-6x: 24px;
  --padding-7x: 28px;
  --padding-8x: 32px;
  --padding-9x: 36px;
  --padding-10x: 40px;
  --padding-6: 6px;
  --padding-10: 10px;
  --margin: 4px;
  --margin-2x: 8px;
  --margin-3x: 12px;
  --margin-4x: 16px;
  --margin-5x: 20px;
  --margin-6x: 24px;
  --margin-7x: 28px;
  --margin-8x: 32px;
  --margin-9x: 36px;
  --margin-10x: 40px;
  --margin-6: 6px;
  --margin-10: 10px;
  --shadow-1: 0px 0px 8px rgba(100,110,144,.1);
  --shadow-2: 0px 0px 16px rgba(100,110,144,.2);
  --shadow-3: 0px 0px 40px rgba(0,0,0,.1);
  --shadow-form-item: 0px 2px 2px rgba(0,0,0,.1);
  --cute-layout-header-height: 50px;
  --cute-layout-header-logo-height: 22px;
  --cute-layout-header-sub-logo-height: 15px;
  --cute-layout-header-text-color: #fff;
  --cute-layout-header-bg: #272b39;
  --cute-layout-header-border: #585b62;
  --cute-layout-sidebar-width: 190px;
  --cute-layout-sidebar-bg: #fff;
  --cute-layout-sidebar-border: #e2e5ed;
  --cute-layout-sidebar-item-bg-hover: #f7f8fa;
  --cute-layout-sidebar-color-master: #3d73f5;
  --cute-layout-sidebar-text-color: #333;
  --cute-layout-sidebar-arrow-color: #666;
  --header-input-bg: #353f58;
  --header-search-text-color: #999;
  --tag-master: #f0f7ff;
  --tag-master-border: #3d73f5;
  --tag-info: #f7f8fa;
  --tag-info-dark: #999;
  --tag-info-border: #e2e5ed;
  --tag-info-text: #333;
  --tag-success: #edfff1;
  --tag-success-border: #1ac45d;
  --tag-warning: #fff9f0;
  --tag-warning-border: #ff8f34;
  --tag-danger: #fff2f0;
  --tag-danger-border: #ff4545;
  --tag-fatal: #ffc6bf;
  --tag-fatal-border: #8c111d;
  --tag-weak: #f7f8fa;
  --tag-weak-border: #999;
  --tag-ct: #ffe6e6;
  --tag-ct-border: #df0629;
  --button-default-text-color: #333;
  --button-default-text-color-disabled: #999;
  --button-default-color-bg: #fff;
  --button-default-color-bg-disabled: #f7f8fa;
  --button-default-color-border: #d9d9d9;
  --button-default-color-border-disabled: #d9d9d9;
  --button-icon-color: #999;
  --button-group-border: rgba(255,255,255,.5);
  --button-margin: 12px;
  --radio-checked-bg: #fff;
  --radio-group-color: #fff;
  --radio-group-bg: #3d73f5;
  --radio-group-disabled-bg: #f7f8fa;
  --radio-group-border-color: #d9d9d9;
  --radio-group-border-disabled-color: #d9d9d9;
  --radio-group-border-disabled-bg: #bad6ff;
  --radio-width: 12px;
  --radio-label-width: 6px;
  --input-lg-padding: 0 24px;
  --input-md-padding: 0 16px;
  --input-sm-padding: 0 12px;
  --input-xs-padding: 0 12px;
  --cute-special-radio-size: 3px;
  --form-item-label-line-height: 32px;
  --form-item-content-line-height: 30px;
  --form-item-error-padding-top: 6px;
  --form-item-margin-bottom: 24px;
  --input-bg: #fff;
  --input-disabled-bg: #f7f8fa;
  --input-hover-border: #666;
  --input-active-border: #3d73f5;
  --input-xs-height: 24px;
  --input-sm-height: 24px;
  --input-md-height: 32px;
  --input-lg-height: 40px;
  --input-height: 32px;
  --input-prefix-padding: 36px;
  --input-suffix-padding: 36px;
  --select-border-color-hover: #666;
  --select-disabled-border: #d9d9d9;
  --select-color: #3d73f5;
  --select-color-disabled: #999;
  --select-dropdown-bg: #fff;
  --select-tag-color: #999;
  --select-tag-color-hover: #d9d9d9;
  --select-xs-height: 24px;
  --select-sm-height: 24px;
  --select-md-height: 32px;
  --select-lg-height: 40px;
  --range-editor-disabled-bg: #f0f7ff;
  --range-editor-multiple-bg: #f0f7ff;
  --range-editor-height: 24px;
  --range-editor-tags-size: 16px;
  --checkbox-label-size: 14px;
  --checkbox-bg: #fff;
  --checkbox-border: #3d73f5;
  --checkbox-button: #f0f7ff;
  --checkbox-button-disabled: #f7f8fa;
  --checkbox-button-hover: #e3efff;
  --checkbox-button-disabled-select: #bad6ff;
  --table-header-bg: #f7f8fa;
  --table-cell-bg: #353f58;
  --table-cell-padding-xs: 6px;
  --table-cell-padding-sm: 6px;
  --table-cell-padding-md: 10px;
  --table-cell-padding-lg: 12px;
  --table-cell-selection-line-height: 20px;
  --table-border-color: #e2e5ed;
  --table-sort-caret-bg: #999;
  --table-fixed-box-shadow: 0px 2px 8px rgba(100,110,144,.2);
  --table-row-hover-background-color: #eff1f4;
  --table-filter-item-height: 32px;
  --pagination-bg: #f7f8fa;
  --pagination-button-color: #666;
  --pagination-hover-color: #3d73f5;
  --pagination-hover-bg: #f7f8fa;
  --pagination-active-color: #fff;
  --pagination-active-bg: #3d73f5;
  --pagination-active-bg-disabled: #bad6ff;
  --pagination-font-size: 12px;
  --pagination-font-size-sm: 12px;
  --pagination-height: 24px;
  --pagination-height-sm: 24px;
  --pagination-button-width: 20px;
  --pagination-button-width-sm: 20px;
  --transfer-header-bg: #f7f8fa;
  --transfer-item-active-bg: #f7f8fa;
  --transfer-item-hover-bg: #f7f8fa;
  --transfer-footert-bg: #fff;
  --transfer-item-height: 32px;
  --transfer-header-height: 40px;
  --transfer-footer-height: 40px;
  --transfer-filter-input-height: 24px;
  --transfer-filter-input-margin: 10px;
  --transfer-filter-height: 34px;
  --tabs-master: #3d73f5;
  --tabs-default-line-color: #e2e5ed;
  --switch-core-bg: #999;
  --switch-core-bg-disabled: #d9d9d9;
  --switch-core-color: #fff;
  --switch-small-height: 16px;
  --switch-small-core-size: 12px;
  --tooltip-bg: #353f58;
  --tooltop-text-color: #f7f8fa;
  --tooltip-light-bg: #fff;
  --tooltop-light-text-color: #666;
  --notification-border-color: #f7f8fa;
  --upload-progress-bar-height: 2px;
  --upload-color: #3d73f5;
  --upload-border-color: #d9d9d9;
  --upload-bg: #fff;
  --upload-bg-hover: #f7f8fa;
  --upload-font-size: 12px;
  --upload-tips-font-color: #7c818c;
  --upload-font-active-color: #333;
  --upload-picture-card-size: 100px;
  --upload-picture-card-progress-circle-size: 72px;
  --upload-file-uploader-width: 320px;
  --upload-dragger-border-radius: 3px;
  --upload-dragger-text-color: #333;
  --card-bg: #fff;
  --card-shadow: 0px 0px 8px rgba(100,110,144,.1);
  --badge-content-padding: 5px;
  --date-panel-btn-size: 28px;
  --cascader-tag-bg: #f7f8fa;
  --cascader-tag-border: #d9d9d9;
  --cascader-tag-close-color: #fff;
  --cascader-tag-close-bg: #999;
  --cascader-node-hover: #f7f8fa;
  --cascader-panel-bg: #fff;
  --collapse-border-color: #e2e5ed;
  --collapse-content-background-color: #fff;
  --collapse-header-bg: #f7f8fa;
  --collapse-header-arrow-color: #999;
  --collapse-seperate-header-bg: #eff1f4;
  --collapse-header-height: 36px;
  --steps-bg-color: #fff;
  --steps-icon-bg: #3d73f5;
  --dialog-header-border: #e2e5ed;
  --dialog-footer-bg: #f7f8fa;
  --icon-color: #999;
  --loading-default-color: #f7f8fa;
  --loading-default-border: #d9d9d9;
  --alert-text-color: #7c818c;
  --alert-info-bg: #f0f7ff;
  --alert-success-bg: #edfff1;
  --alert-warning-bg: #fff9f0;
  --alert-danger-bg: #fff2f0;
  --alert-weak-bg: #f7f8fa;
  --slider-stop-color: #e2e5ed;
  --slider-stop-border-color: #fff;
  --slider-height: 4px;
  --cute-slider-size: 14px;
  --cute-slider-text-color: #333;
  --cute-slider-bg: #eff1f4;
  --cute-slider-line-color: #3d73f5;
  --cute-slider-disabled-border: #d9d9d9;
  --cute-slider-btn-bg: linear-gradient(to bottom, #fff, #e3efff);
  --cute-slider-btn-width: 17px;
  --cute-slider-btn-height: 22px;
  --cute-slider-btn-color: #699bff;
  --cute-slider-bg-disabled: #d9d9d9;
  --cute-slider-btn-color-disabled: #bad6ff;
  --transition-time: 200ms;
  --zindex-badge: auto;
  --zindex-normal: 1;
  --zindex-table-fixed: 2;
  --zindex-affix: 10;
  --zindex-layout-sidebar: 10;
  --zindex-modal: 1000;
  --zindex-modal-mask: 1000;
  --zindex-message: 1010;
  --zindex-notification: 1010;
  --zindex-popover: 1030;
  --zindex-dropdown: 1050;
  --zindex-picker: 1050;
  --zindex-popoconfirm: 1060;
  --zindex-tooltip: 1070;
  --zindex-image: 1080;
  --zindex-layout-header: 1999;
  --zindex-loading-mask: 2000;
  --screen-lg: 1280px;
  --chart-color-1: #91c6f5;
  --chart-color-2: #8cd4ca;
  --chart-color-3: #e8d065;
  --chart-color-4: #fdac6f;
  --chart-color-5: #a39df7;
  --chart-color-6: #8ed8f3;
  --chart-color-7: #ffab9a;
  --chart-color-8: #78a1da;
  --chart-color-9: #fa7175;
  --chart-color-10: #93c2bb;
  --chart-color-11: #81dbe3;
  --chart-color-12: #f48fb4;
  --chart-color-h-1: #9fd9ff;
  --chart-color-h-2: #9ae9de;
  --chart-color-h-3: #ffe46f;
  --chart-color-h-4: #ffbd7a;
  --chart-color-h-5: #b3acff;
  --chart-color-h-6: #9cedff;
  --chart-color-h-7: #ffbca9;
  --chart-color-h-8: #84b1ef;
  --chart-color-h-9: #ff7c80;
  --chart-color-h-10: #a1d5cd;
  --chart-color-h-11: #8df0f9;
  --chart-color-h-12: #ff9dc6;
}