/* stylelint-disable property-case */

:export {
  colorMaster: $color-master;
  colorMasterHover: $color-master-hover;
  colorMasterActive: $color-master-active;
  colorMasterDisabled: $color-master-disabled;
  colorMasterBg: $color-master-bg;
  colorMasterBgLight: $color-master-bg-light;
  colorMasterBgLight2: $color-master-bg-light-2;
  colorMaster1: $color-master-1;
  colorMaster2: $color-master-2;
  colorMaster3: $color-master-3;
  colorMaster4: $color-master-4;
  colorMaster5: $color-master-5;
  colorMaster6: $color-master-6;
  colorMaster7: $color-master-7;
  colorCt: $color-ct;
  colorCtHover: $color-ct-hover;
  colorCtActive: $color-ct-active;
  colorCtDisabled: $color-ct-disabled;
  colorSp1: $color-sp-1;
  colorSp2: $color-sp-2;
  colorSp3: $color-sp-3;
  colorInfo: $color-info;
  colorInfoHover: $color-info-hover;
  colorInfoActive: $color-info-active;
  colorInfoDisabled: $color-info-disabled;
  colorInfoBg: $color-info-bg;
  colorSuccess: $color-success;
  colorSuccessHover: $color-success-hover;
  colorSuccessActive: $color-success-active;
  colorSuccessDisabled: $color-success-disabled;
  colorSuccessBg: $color-success-bg;
  colorWarning: $color-warning;
  colorWarningHover: $color-warning-hover;
  colorWarningActive: $color-warning-active;
  colorWarningDisabled: $color-warning-disabled;
  colorWarningBg: $color-warning-bg;
  colorDanger: $color-danger;
  colorDangerHover: $color-danger-hover;
  colorDangerActive: $color-danger-active;
  colorDangerDisabled: $color-danger-disabled;
  colorDangerBg: $color-danger-bg;
  colorFatal: $color-fatal;
  colorFatalHover: $color-fatal-hover;
  colorFatalActive: $color-fatal-active;
  colorFatalDisabled: $color-fatal-disabled;
  colorFatalBg: $color-fatal-bg;
  colorStatusMaster: $color-status-master;
  colorStatusMaster1: $color-status-master-1;
  colorStatusDanger: $color-status-danger;
  colorStatusDanger1: $color-status-danger-1;
  colorStatusDanger2: $color-status-danger-2;
  colorStatusDanger3: $color-status-danger-3;
  colorStatusInfo: $color-status-info;
  colorStatusInfo1: $color-status-info-1;
  colorStatusSuccess: $color-status-success;
  colorStatusSuccess1: $color-status-success-1;
  colorStatusWarning: $color-status-warning;
  colorStatusWarning1: $color-status-warning-1;
  colorNeutral1: $color-neutral-1;
  colorNeutral2: $color-neutral-2;
  colorNeutral3: $color-neutral-3;
  colorNeutral4: $color-neutral-4;
  colorNeutral5: $color-neutral-5;
  colorNeutral6: $color-neutral-6;
  colorNeutral7: $color-neutral-7;
  colorNeutral8: $color-neutral-8;
  colorNeutral9: $color-neutral-9;
  colorNeutral10: $color-neutral-10;
  colorNeutral11: $color-neutral-11;
  colorWhite: $color-white;
  colorBlack: $color-black;
  colorGrey0: $color-grey-0;
  colorGrey1: $color-grey-1;
  colorGrey2: $color-grey-2;
  colorGrey3: $color-grey-3;
  colorGrey4: $color-grey-4;
  colorGrey5: $color-grey-5;
  colorGrey6: $color-grey-6;
  colorGrey7: $color-grey-7;
  colorGrey8: $color-grey-8;
  colorGrey9: $color-grey-9;
  colorGrey10: $color-grey-10;
  colorGrey11: $color-grey-11;
  colorOther1: $color-other-1;
  colorBg1: $color-bg-1;
  colorBg2: $color-bg-2;
  colorBg3: $color-bg-3;
  colorFormComponentBg: $color-form-component-bg;
  colorContentBg: $color-content-bg;
  colorBodyBg: $color-body-bg;
  bodyFill: $body-fill;
  disabledBg: $disabled-bg;
  disabledBorder: $disabled-border;
  disabledColor: $disabled-color;
  disabledDangerBg: $disabled-danger-bg;
  disabledDangerColor: $disabled-danger-color;
  disabledDangerBorder: $disabled-danger-border;
  disabledFill: $disabled-fill;
  disabledDangerFill: $disabled-danger-fill;
  disabledIconColor: $disabled-icon-color;
  fontFamily: $font-family;
  fontFamilyCuteIcons: $font-family-cute-icons;
  textSize: $text-size;
  textSizeSm: $text-size-sm;
  textSizeMd: $text-size-md;
  textSizeLg: $text-size-lg;
  textSizeXl: $text-size-xl;
  textColor: $text-color;
  textColorLight: $text-color-light;
  textColorLight2: $text-color-light-2;
  textColorFeature: $text-color-feature;
  textWeight: $text-weight;
  textTitleWeight: $text-title-weight;
  textSizePrimary: $text-size-primary;
  textSizeSmall: $text-size-small;
  textSizeMedium: $text-size-medium;
  textSizeLarge: $text-size-large;
  textSizeXLarge: $text-size-x-large;
  textColorPrimary: $text-color-primary;
  textColorLight1: $text-color-light-1;
  lineHeight: $line-height;
  borderColor: $border-color;
  borderColorHover: $border-color-hover;
  borderColorLight: $border-color-light;
  borderColorDark: $border-color-dark;
  borderRadius: $border-radius;
  borderRadiusMedium: $border-radius-medium;
  borderColorPrimary: $border-color-primary;
  borderColorLight1: $border-color-light-1;
  borderColorDark1: $border-color-dark-1;
  commonSpace: $common-space;
  commonSpace2x: $common-space-2x;
  commonSpace3x: $common-space-3x;
  commonSpace4x: $common-space-4x;
  commonSpace5x: $common-space-5x;
  commonSpace6x: $common-space-6x;
  commonSpace7x: $common-space-7x;
  commonSpace8x: $common-space-8x;
  commonSpace9x: $common-space-9x;
  commonSpace10x: $common-space-10x;
  commonSpace6: $common-space-6;
  commonSpace10: $common-space-10;
  padding: $padding;
  padding2x: $padding-2x;
  padding3x: $padding-3x;
  padding4x: $padding-4x;
  padding5x: $padding-5x;
  padding6x: $padding-6x;
  padding7x: $padding-7x;
  padding8x: $padding-8x;
  padding9x: $padding-9x;
  padding10x: $padding-10x;
  padding6: $padding-6;
  padding10: $padding-10;
  margin: $margin;
  margin2x: $margin-2x;
  margin3x: $margin-3x;
  margin4x: $margin-4x;
  margin5x: $margin-5x;
  margin6x: $margin-6x;
  margin7x: $margin-7x;
  margin8x: $margin-8x;
  margin9x: $margin-9x;
  margin10x: $margin-10x;
  margin6: $margin-6;
  margin10: $margin-10;
  paddingPrimary: $padding-primary;
  paddingMedium: $padding-medium;
  paddingSmall: $padding-small;
  paddingTiny: $padding-tiny;
  marginLarge: $margin-large;
  marginMedium: $margin-medium;
  marginSmall: $margin-small;
  marginTiny: $margin-tiny;
  marginPrimary: $margin-primary;
  shadow1: $shadow-1;
  shadow2: $shadow-2;
  shadow3: $shadow-3;
  shadowFormItem: $shadow-form-item;
  shadowInput: $shadow-input;
  shadowCard: $shadow-card;
  shadowDialog: $shadow-dialog;
  shadowTableCard: $shadow-table-card;
  tagMaster: $tag-master;
  tagMasterBorder: $tag-master-border;
  tagInfo: $tag-info;
  tagInfoBorder: $tag-info-border;
  tagSuccess: $tag-success;
  tagSuccessBorder: $tag-success-border;
  tagWarning: $tag-warning;
  tagWarningBorder: $tag-warning-border;
  tagDanger: $tag-danger;
  tagDangerBorder: $tag-danger-border;
  tagFatal: $tag-fatal;
  tagFatalBorder: $tag-fatal-border;
  tagWeak: $tag-weak;
  tagWeakBorder: $tag-weak-border;
  tagCt: $tag-ct;
  tagCtBorder: $tag-ct-border;
  colorTagMaster1: $color-tag-master-1;
  colorTagMaster2: $color-tag-master-2;
  colorTagInfo1: $color-tag-info-1;
  colorTagInfo2: $color-tag-info-2;
  colorTagSuccess1: $color-tag-success-1;
  colorTagSuccess2: $color-tag-success-2;
  colorTagWarning1: $color-tag-warning-1;
  colorTagWarning2: $color-tag-warning-2;
  colorTagDanger1: $color-tag-danger-1;
  colorTagDanger2: $color-tag-danger-2;
  buttonIconColor: $button-icon-color;
  buttonMargin: $button-margin;
  buttonPaddingMini: $button-padding-mini;
  buttonPaddingSmall: $button-padding-small;
  buttonPaddingMedium: $button-padding-medium;
  buttonPaddingLarge: $button-padding-large;
  formItemLabelLineHeight: $form-item-label-line-height;
  formItemErrorPaddingTop: $form-item-error-padding-top;
  inputBg: $input-bg;
  inputDisabledBg: $input-disabled-bg;
  inputHoverBorder: $input-hover-border;
  inputActiveBorder: $input-active-border;
  inputXsHeight: $input-xs-height;
  inputSmHeight: $input-sm-height;
  inputMdHeight: $input-md-height;
  inputLgHeight: $input-lg-height;
  inputHeight: $input-height;
  inputPrefixPadding: $input-prefix-padding;
  inputSuffixPadding: $input-suffix-padding;
  inputFill: $input-fill;
  selectBorderColorHover: $select-border-color-hover;
  selectDisabledBorder: $select-disabled-border;
  checkboxBg: $checkbox-bg;
  checkboxBorder: $checkbox-border;
  checkboxButton: $checkbox-button;
  checkboxButtonHover: $checkbox-button-hover;
  tableHeaderBg: $table-header-bg;
  tableCellBg: $table-cell-bg;
  tableSortCaretBg: $table-sort-caret-bg;
  tableCellPaddingSm: $table-cell-padding-sm;
  tableCellPaddingMd: $table-cell-padding-md;
  tableCellPaddingLg: $table-cell-padding-lg;
  tableBorderColor: $table-border-color;
  tableHeaderFill: $table-header-fill;
  tableCellFill: $table-cell-fill;
  tableSortCaretFill: $table-sort-caret-fill;
  paginationBg: $pagination-bg;
  paginationFill: $pagination-fill;
  tooltipBg: $tooltip-bg;
  tooltipFill: $tooltip-fill;
  uploadBg: $upload-bg;
  uploadFill: $upload-fill;
  cardBg: $card-bg;
  cardShadow: $card-shadow;
  cascaderTagBg: $cascader-tag-bg;
  cascaderTagBorder: $cascader-tag-border;
  cascaderTagCloseColor: $cascader-tag-close-color;
  cascaderTagCloseBg: $cascader-tag-close-bg;
  cascaderNodeHover: $cascader-node-hover;
  cascaderPanelBg: $cascader-panel-bg;
  cascaderPanelShadow: $cascader-panel-shadow;
  collapseItemHeaderHeight: $collapse-item-header-height;
  collapseHeaderFill: $collapse-header-fill;
  datepickerShadow: $datepicker-shadow;
  descriptionsLabelWidth: $descriptions-label-width;
  descriptionsItemHeight: $descriptions-item-height;
  descriptionsItemContentWidth: $descriptions-item-content-width;
  descriptionsItemContentLineHeight: $descriptions-item-content-line-height;
  dialogFooterMarginTop: $dialog-footer-margin-top;
  iconColor: $icon-color;
  loadingPrimaryColor: $loading-primary-color;
  loadingPrimaryBorder: $loading-primary-border;
  loadingDefaultColor: $loading-default-color;
  loadingDefaultBorder: $loading-default-border;
  headerHeight: $header-height;
  headerFill1: $header-fill-1;
  headerFill2: $header-fill-2;
  headerBorder: $header-border;
  headerTextColor: $header-text-color;
  headerSearchTextColor: $header-search-text-color;
  sidebarWidth: $sidebar-width;
  sidebarFill: $sidebar-fill;
  sidebarSubFill: $sidebar-sub-fill;
  sidebarSubHover: $sidebar-sub-hover;
  transitionTime: $transition-time;
  zindexBadge: $zindex-badge;
  zindexTableFixed: $zindex-table-fixed;
  zindexAffix: $zindex-affix;
  zindexBackTop: $zindex-back-top;
  zindexPickerPanel: $zindex-picker-panel;
  zindexPopupClose: $zindex-popup-close;
  zindexModal: $zindex-modal;
  zindexModalMask: $zindex-modal-mask;
  zindexMessage: $zindex-message;
  zindexNotification: $zindex-notification;
  zindexPopover: $zindex-popover;
  zindexDropdown: $zindex-dropdown;
  zindexPicker: $zindex-picker;
  zindexPopoconfirm: $zindex-popoconfirm;
  zindexTooltip: $zindex-tooltip;
  zindexImage: $zindex-image;
  screenLg: $screen-lg;
  chartColor1: $chartColor1;
  chartColor2: $chartColor2;
  chartColor3: $chartColor3;
  chartColor4: $chartColor4;
  chartColor5: $chartColor5;
  chartColor6: $chartColor6;
  chartColor7: $chartColor7;
  chartColor8: $chartColor8;
  chartColor9: $chartColor9;
  chartColor10: $chartColor10;
  chartColor11: $chartColor11;
  chartColor12: $chartColor12;
  chartColorH1: $chartColorH1;
  chartColorH2: $chartColorH2;
  chartColorH3: $chartColorH3;
  chartColorH4: $chartColorH4;
  chartColorH5: $chartColorH5;
  chartColorH6: $chartColorH6;
  chartColorH7: $chartColorH7;
  chartColorH8: $chartColorH8;
  chartColorH9: $chartColorH9;
  chartColorH10: $chartColorH10;
  chartColorH11: $chartColorH11;
  chartColorH12: $chartColorH12;
  chartColorL1: $chartColorL1;
  chartColorL2: $chartColorL2;
  chartColorL3: $chartColorL3;
  chartColorL4: $chartColorL4;
  chartColorL5: $chartColorL5;
  chartColorL6: $chartColorL6;
  chartColorL7: $chartColorL7;
  chartColorL8: $chartColorL8;
  chartColorL9: $chartColorL9;
  chartColorL10: $chartColorL10;
  chartColorL11: $chartColorL11;
  chartColorL12: $chartColorL12;
  alertTextColor: $alert-text-color;
  alertInfoBg: $alert-info-bg;
  alertSuccessBg: $alert-success-bg;
  alertWarningBg: $alert-warning-bg;
  alertDangerBg: $alert-danger-bg;
  alertWeakBg: $alert-weak-bg;
  transferHeaderHeight: $transfer-header-height;
  transferHeaderBg: $transfer-header-bg;
  transferButtonHegiht: $transfer-button-hegiht;
  transferButtonWidth: $transfer-button-width;
  transferButtonRadius: $transfer-button-radius;
  transferItemActiveBg: $transfer-item-active-bg;
  transferItemHoverBg: $transfer-item-hover-bg;
  transferItemHeight: $transfer-item-height;
  transferFilterHeigh: $transfer-filter-height;
  cuteSliderMarksHeight: $cute-slider-marks-height;
  cuteSliderBarHeight: $cute-slider-bar-height;
  cuteSliderInputWidth: $cute-slider-input-width;
  cuteSliderBtnBg: $cute-slider-btn-bg;
  cuteSliderBtnRadius: $cute-slider-btn-radius;
  cuteSliderBtnWidth: $cute-slider-btn-width;
  cuteSliderBtnHeight: $cute-slider-btn-height;
  collapseBorderColor: $collapse-border-color;
  collapseContentBackgroundColor: $collapse-content-background-color;
  collapseHeaderBg: $collapse-header-bg;
  collapseHeaderArrowColor: $collapse-header-arrow-color;
  collapseHeaderHeight: $collapse-header-height;
  collapseSeperateHeaderHeight: $collapse-seperate-header-height;
  collapseSeperateHeaderBg: $collapse-seperate-header-bg;
  stepsIconHeightMd: $steps-icon-height-md;
  stepsIconHeightSm: $steps-icon-height-sm;
  stepsTitleSizeMd: $steps-title-size-md;
  stepsTitleSizeSm: $steps-title-size-sm;
  stepsIconInnerStatusSizeMd: $steps-icon-inner-status-size-md;
  stepsIconInnerStatusSizeSm: $steps-icon-inner-status-size-sm;
  stepsIconInnerTextSizeMd: $steps-icon-inner-text-size-md;
  stepsIconInnerTextSizeSm: $steps-icon-inner-text-size-sm;
  stepsLineSize: $steps-line-size;
  tabsMaster: $tabs-master;
  tabsSmHeight: $tabs-sm-height;
  tabsMdHeight: $tabs-md-height;
  tabsLgHeight: $tabs-lg-height;
  tabsButtonRadius: $tabs-button-radius;
}
