/* stylelint-disable property-case */

/* Color
-------------------------- */

/* 主题色 */
$color-master-1: #fa8334;
$color-master-2: #ff934c;
$color-master-3: #ed7c31;
$color-master-4: #ffe1c6;
$color-master-5: #ffe6d2;
$color-master-6: #ffefe3;
$color-master-7: #fef5ee;

/* 特殊色 */
$color-sp-1: #df0428;
$color-sp-2: #e32948;
$color-sp-3: #bd0322;

/* 状态色 */
$color-status-master-1: $color-master-1;
$color-status-master: $color-status-master-1;
$color-status-danger-1: #f5212d;
$color-status-danger-2: #ffeeef;
$color-status-danger-3: #ae050f;
$color-status-danger: $color-status-danger-1;
$color-status-info-1: #1890ff;
$color-status-info: $color-status-info-1;
$color-status-success-1: #52c41a;
$color-status-success: $color-status-success-1;
$color-status-warning-1: #faad15;
$color-status-warning: #faad15;

/* 标签色 */
$color-tag-master-1: #fcc199;
$color-tag-master-2: #fef2ea;
$color-tag-danger-1: #ffa4a3;
$color-tag-danger-2: #ffecec;
$color-tag-info-1: #bddbff;
$color-tag-info-2: #f3f9ff;
$color-tag-success-1: #a8e18c;
$color-tag-success-2: #edf9e8;
$color-tag-warning-1: #fcd68a;
$color-tag-warning-2: #fef6e7;

/* 灰色 */
$color-grey-0: #000;
$color-grey-1: #333;
$color-grey-2: #666;
$color-grey-3: #777;
$color-grey-4: #999;
$color-grey-5: #aaa;
$color-grey-6: #ddd;
$color-grey-7: #f2f2f2;
$color-grey-8: #f3f3f3;
$color-grey-9: #f5f5f5;
$color-grey-10: #f8f8f8;
$color-grey-11: #fafafa;

/* 白色 */
$color-white: #fff;

/* 其他 */
$color-other-1: #3b3e4b;

/* 背景 */
$color-bg-1: #fff;
$color-bg-2: #fff;
$color-bg-3: #f2f2f2;
$color-form-component-bg: $color-bg-1;
$color-content-bg: $color-bg-2;
$color-body-bg: $color-bg-3;

// 图表颜色
$chartColor1: #8bb2f9;
$chartColor2: #aad85f;
$chartColor3: #f8d34c;
$chartColor4: #f19e4b;
$chartColor5: #9c8ae2;
$chartColor6: #7ac4fa;
$chartColor7: #b570e4;
$chartColor8: #ed732e;
$chartColor9: #9ca7f9;
$chartColor10: #7ad3b7;
$chartColor11: #ed6c68;
$chartColor12: #f7cc8b;

// 图表高亮颜色
$chartColorH1: #7fa8f4;
$chartColorH2: #9fcd54;
$chartColorH3: #edc73d;
$chartColorH4: #ec9035;
$chartColorH5: #8f7cd7;
$chartColorH6: #69b7f1;
$chartColorH7: #a358d6;
$chartColorH8: #e0641e;
$chartColorH9: #909bf3;
$chartColorH10: #6bc9ab;
$chartColorH11: #e35854;
$chartColorH12: #f2c179;

// 图表light颜色
$chartColorL1: #f2f7ff;
$chartColorL2: #f6fbef;
$chartColorL3: #fefaed;
$chartColorL4: #fdf5ed;
$chartColorL5: #f5f3fc;
$chartColorL6: #f1f9fe;
$chartColorL7: #f7f0fc;
$chartColorL8: #fdf1ea;
$chartColorL9: #f5f6fe;
$chartColorL10: #effaf7;
$chartColorL11: #fdf0ef;
$chartColorL12: #fef9f3;

/* Background
-------------------------- */
$body-fill: $color-bg-3;

/* Disable
-------------------------- */
$disabled-fill: $color-grey-10;
$disabled-color: $color-grey-4;
$disabled-border: $color-grey-6;
$disabled-icon-color: $color-grey-5;
$disabled-danger-fill: $color-white;
/* stylelint-disable-next-line function-no-unknown */
$disabled-danger-color: mix($color-white, $color-status-danger-1, 50%);
$disabled-danger-border: $disabled-danger-color;

/* LoadingButton
-------------------------- */
$loading-primary-color: mix($color-white, $color-master-1, 50%);
$loading-primary-border: $loading-primary-color;
$loading-default-color: $color-grey-10;
$loading-default-border: $color-grey-6;

/* Typography
-------------------------- */
$text-size-small: 12px;
$text-size-medium: 14px;
$text-size-large: 16px;
$text-size-x-large: 18px;
$text-size-primary: $text-size-small;

$text-color-primary: $color-grey-1;
/* 正文颜色 */
$text-color-light-1: $color-grey-2;
/* 提示文字 */
$text-color-light-2: $color-grey-4;
/* 次要文本、表单占位文本 */

/* Border
-------------------------- */
$border-color-primary: $color-grey-6;
$border-color-light-1: $color-grey-7;
$border-color-dark-1: $color-grey-4;
/* 悬浮状态 */
$border-radius: 2px;

/* Padding & Margin
-------------------------- */
$padding-primary: 20px;
$padding-medium: 16px;
$padding-small: 8px;
$padding-tiny: 4px;
$margin-medium: 16px;
$margin-small: 8px;
$margin-tiny: 4px;
$margin-primary: $margin-small;

/* Shadow
-------------------------- */
$shadow-input: 0 0 4px 0 rgba(250, 131, 52, 20%);
$shadow-card: 0 2px 8px 0 rgba(200, 201, 204, 50%);
$shadow-dialog: 0 6px 16px -8px rgba(0, 0, 0, 8%), 0 9px 28px 0 rgba(0, 0, 0, 5%),
  0 12px 48px 16px rgba(0, 0, 0, 3%);
$shadow-table-card: rgba(200, 201, 204, 50%);

/* Button
-------------------------- */
$button-icon-color: $color-grey-3;
$button-margin: 12px;

/* Input
-------------------------- */
$input-fill: $color-white;

/* Table
-------------------------- */
$table-header-fill: $color-grey-8;
$table-cell-fill: $color-grey-8;
$table-sort-caret-fill: $color-grey-4;

/* Table
-------------------------- */
$pagination-fill: $color-white;

/* Tooltip
-------------------------- */
$tooltip-fill: $color-other-1;

/* Upload
-------------------------- */
$upload-fill: $color-grey-11;

/* Collapse
-------------------------- */
$collapse-header-fill: $color-grey-11;

/* Icon
-------------------------- */
$icon-color: $color-grey-3;

/* Layout
-------------------------- */

/* Header */
$header-height: 50px;
$header-fill-1: #272b39;
$header-fill-2: #3a3e4c;
$header-border: #585b62;
$header-text-color: #c2c2c2;
$header-search-text-color: #999;

/* Sidebar */
$sidebar-width: 190px;
$sidebar-fill: $color-white;
$sidebar-sub-fill: $color-white;
$sidebar-sub-hover: $color-master-7;

/* Animation
-------------------------- */
$transition-time: 200ms;

:export {
  colorMaster: $color-master-1;
  colorSuccess: $color-status-success;
  colorWarning: $color-status-warning;
  colorDanger: $color-status-danger;
  colorDanger2: $color-status-danger-2;
  colorDanger3: $color-status-danger-3;
  colorInfo: $color-status-info;
  colorDisabled: $disabled-fill;

  colorMaster1: $color-master-1;
  colorMaster2: $color-master-2;
  colorMaster3: $color-master-3;
  colorMaster4: $color-master-4;
  colorMaster5: $color-master-5;
  colorMaster6: $color-master-6;
  colorMaster7: $color-master-7;

  colorSp1: $color-sp-1;
  colorSp2: $color-sp-2;
  colorSp3: $color-sp-3;

  colorStatusMaster1: $color-status-master-1;
  colorStatusMaster: $color-status-master-1;
  colorStatusDanger1: $color-status-danger-1;
  colorStatusDanger2: $color-status-danger-2;
  colorStatusDanger3: $color-status-danger-3;
  colorStatusDanger: $color-status-danger-1;
  colorStatusInfo1: $color-status-info-1;
  colorStatusInfo: $color-status-info-1;
  colorStatusSuccess1: $color-status-success-1;
  colorStatusSuccess: $color-status-success-1;
  colorStatusWarning1: $color-status-warning-1;
  colorStatusWarning: $color-status-warning-1;

  colorTagMaster1: $color-tag-master-1;
  colorTagMaster2: $color-tag-master-2;
  colorTagDanger1: $color-tag-danger-1;
  colorTagDanger2: $color-tag-danger-2;
  colorTagInfo1: $color-tag-info-1;
  colorTagInfo2: $color-tag-info-2;
  colorTagSuccess1: $color-tag-success-1;
  colorTagSuccess2: $color-tag-success-2;
  colorTagWarning1: $color-tag-warning-1;
  colorTagWarning2: $color-tag-warning-2;

  colorGrey0: $color-grey-0;
  colorGrey1: $color-grey-1;
  colorGrey2: $color-grey-2;
  colorGrey3: $color-grey-3;
  colorGrey4: $color-grey-4;
  colorGrey5: $color-grey-5;
  colorGrey6: $color-grey-6;
  colorGrey7: $color-grey-7;
  colorGrey8: $color-grey-8;
  colorGrey9: $color-grey-9;
  colorGrey10: $color-grey-10;
  colorGrey11: $color-grey-11;

  colorWhite: $color-white;

  colorOther1: $color-other-1;

  colorBg1: $color-bg-1;
  colorBg2: $color-bg-2;
  colorBg3: $color-bg-3;
  colorFormComponentBg: $color-bg-1;
  colorContentBg: $color-bg-2;
  colorBodyBg: $color-bg-3;

  // 图表颜色
  chartColor1: $chartColor1;
  chartColor2: $chartColor2;
  chartColor3: $chartColor3;
  chartColor4: $chartColor4;
  chartColor5: $chartColor5;
  chartColor6: $chartColor6;
  chartColor7: $chartColor7;
  chartColor8: $chartColor8;
  chartColor9: $chartColor9;
  chartColor10: $chartColor10;
  chartColor11: $chartColor11;
  chartColor12: $chartColor12;

  chartColorH1: $chartColorH1;
  chartColorH2: $chartColorH2;
  chartColorH3: $chartColorH3;
  chartColorH4: $chartColorH4;
  chartColorH5: $chartColorH5;
  chartColorH6: $chartColorH6;
  chartColorH7: $chartColorH7;
  chartColorH8: $chartColorH8;
  chartColorH9: $chartColorH9;
  chartColorH10: $chartColorH10;
  chartColorH11: $chartColorH11;
  chartColorH12: $chartColorH12;

  chartColorL1: $chartColorL1;
  chartColorL2: $chartColorL2;
  chartColorL3: $chartColorL3;
  chartColorL4: $chartColorL4;
  chartColorL5: $chartColorL5;
  chartColorL6: $chartColorL6;
  chartColorL7: $chartColorL7;
  chartColorL8: $chartColorL8;
  chartColorL9: $chartColorL9;
  chartColorL10: $chartColorL10;
  chartColorL11: $chartColorL11;
  chartColorL12: $chartColorL12;

  /* Background
  -------------------------- */
  bodyFill: $color-grey-7;
  /* Disable
  -------------------------- */
  disabledFill: $color-grey-10;
  disabledColor: $color-grey-4;
  disabledBorder: $color-grey-6;
  disabledIconColor: $color-grey-5;
  disabledDangerFill: $color-white;
  /* stylelint-disable-next-line function-no-unknown */
  disabledDangerColor: mix($color-white, $color-status-danger-1, 50%);
  disabledDangerBorder: $disabled-danger-color;

  /* LoadingButton
  -------------------------- */
  loadingPrimaryColor: mix($color-white, $color-master-1, 50%);
  loadingPrimaryBorder: $loading-primary-color;
  loadingDefaultColor: $color-grey-10;
  loadingDefaultBorder: $color-grey-6;

  /* Typography
  -------------------------- */
  textSizePrimary: $text-size-small;

  textColorPrimary: $color-grey-1;
  /* 正文颜色 */
  textColorLight1: $color-grey-2;
  /* 提示文字 */
  textColorLight2: $color-grey-4;
  /* 次要文本、表单占位文本 */

  /* Border
  -------------------------- */
  borderColorPrimary: $color-grey-6;
  borderColorLight1: $color-grey-7;
  borderColorDark1: $color-grey-4;

  /* Padding & Margin
  -------------------------- */
  marginPrimary: $margin-small;


  /* Button
  -------------------------- */
  buttonIconColor: $color-grey-3;

  /* Input
  -------------------------- */
  inputFill: $color-white;

  /* Table
  -------------------------- */
  tableHeaderFill: $color-grey-8;
  tableCellFill: $color-grey-8;
  tableSortCaretFill: $color-grey-4;

  /* Table
  -------------------------- */
  paginationFill: $color-white;

  /* Tooltip
  -------------------------- */
  tooltipFill: $color-other-1;

  /* Upload
  -------------------------- */
  uploadFill: $color-grey-11;

  /* Collapse
  -------------------------- */
  collapseHeaderFill: $color-grey-11;

  /* Icon
  -------------------------- */
  iconColor: $color-grey-3;

  /* Sidebar */
  sidebarFill: $color-white;
  sidebarSubFill: $color-white;
  sidebarSubHover: $color-master-7;

}
