/**
* deprecated(弃用)
* 新样式见：packages/ui/style/components/cute-layout.scss
*/

.app-wrapper {
  @include clearfix;

  position: relative;
  width: 100%;
}

.layout-wrap {
  display: flex;
  margin-top: $cute-layout-header-height;
  height: calc(100vh - #{$cute-layout-header-height});
}

/* 主容器样式 */
.layout-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  padding: 0 $padding-5x $padding-5x;
  min-width: 0;
  min-height: 100%;
  transition: margin-left 0.28s;
  overflow: auto;

  .navbar {
    margin-left: -19px;
    margin-right: -16px;
    padding: $padding-4x;
    margin-bottom: $padding-5x;
    display: flex;
    align-items: center;
  }

  .app-main-wrap {
    flex: 1;

    &.fixed-navbar {
      overflow: auto;
      padding-right: 19px;
      margin-right: -19px;
    }

    .app-main {
      /* 最小分辨率 - 侧边栏宽度 - 边距 - 边距 */
      min-width: calc(#{$screen-lg} - #{$cute-layout-sidebar-width} - #{$padding-5x} - #{$padding-5x});
    }
  }

  /* 兼容老项目，无.app-main-wrap */
  >.app-main {
    flex: 1;
    overflow: auto;
  }

  .app-main > .el-card.is-always-shadow {
    border-radius: $border-radius;
    border: none;
    color: inherit;
  }

  /* 组件规范页需要支持滚动 */
  >.el-card {
    max-height: 100%;
    overflow: auto;
  }
}

.layout-containers {
  @extend .layout-container;

  padding: 0;
}

.component__container {
  padding-bottom: $padding-4x;

  &:last-child {
    margin-bottom: 0;
  }

  h2 {
    padding-top: $padding-4x;
  }
}
