@import './variables-cute.scss';

/* The :export directive is the magic sauce for webpack
 * https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
  */
/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:export {
  colorMaster: $color-master-1;
  colorSuccess: $color-status-success;
  colorWarning: $color-status-warning;
  colorDanger: $color-status-danger;
  colorDanger2: $color-status-danger-2;
  colorDanger3: $color-status-danger-3;
  colorInfo: $color-status-info;
  colorDisabled: $disabled-fill;
  colorWhite: $color-white;
  colorGrey0: $color-grey-0;
  colorGrey1: $color-grey-1;
  colorGrey2: $color-grey-2;
  colorGrey3: $color-grey-3;
  colorGrey4: $color-grey-4;
  colorGrey6: $color-grey-6;
  colorOther3: $color-other-3;
  // 图表颜色
  chartColor1: $chartColor1;
  chartColor2: $chartColor2;
  chartColor3: $chartColor3;
  chartColor4: $chartColor4;
  chartColor5: $chartColor5;
  chartColor6: $chartColor6;
  chartColor7: $chartColor7;
  chartColor8: $chartColor8;
  chartColor9: $chartColor9;
  chartColor10: $chartColor10;
  chartColor11: $chartColor11;
  chartColor12: $chartColor12;

  chartColorH1: $chartColorH1;
  chartColorH2: $chartColorH2;
  chartColorH3: $chartColorH3;
  chartColorH4: $chartColorH4;
  chartColorH5: $chartColorH5;
  chartColorH6: $chartColorH6;
  chartColorH7: $chartColorH7;
  chartColorH8: $chartColorH8;
  chartColorH9: $chartColorH9;
  chartColorH10: $chartColorH10;
  chartColorH11: $chartColorH11;
  chartColorH12: $chartColorH12;

  chartColorOther1: $chartColorOther1;
  chartColorOther2: $chartColorOther2;
  chartColorOther3: $chartColorOther3;
}
