@import './variables-cute.scss';

/* The :export directive is the magic sauce for webpack
 * https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
  */
/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:export {
  colorMaster: $color-master-1;
  colorSuccess: $color-status-success;
  colorWarning: $color-status-warning;
  colorDanger: $color-status-danger;
  colorDanger2: $color-status-danger-2;
  colorDanger3: $color-status-danger-3;
  colorInfo: $color-status-info;
  colorDisabled: $disabled-fill;
  colorWhite: $color-white;
  colorGrey0: $color-grey-0;
  colorGrey1: $color-grey-1;
  colorGrey2: $color-grey-2;
  colorGrey6: $color-grey-6;
  // 图表颜色
  chartColor1: $chartColor1;
  chartColor2: $chartColor2;
  chartColor3: $chartColor3;
  chartColor4: $chartColor4;
  chartColor5: $chartColor5;
  chartColor6: $chartColor6;
  chartColor7: $chartColor7;
  chartColor8: $chartColor8;
  chartColor9: $chartColor9;
  chartColor10: $color-other-3;
  chartColor11: $color-grey-1;
  chartColor12: $chartColor12;
  chartColor13: $color-grey-0;
  chartColor14: $color-grey-4;
}