/* 重置 Element UI 变量
-------------------------- */

/* 主题色
-------------------------- */
$--color-primary: $color-master;
$--color-success: $color-success;
$--color-warning: $color-warning;
$--color-danger: $color-danger;
$--color-info: $color-info;
$--color-white: $color-white;

$--color-text-primary: $text-color;
$--color-text-regular: $text-color;
$--color-text-secondary: $text-color-light;
$--color-text-placeholder: $text-color-placeholder;
$--border-color-base: $border-color;
$--border-color-light: $border-color-light;
$--border-color-lighter: $border-color-light;
$--border-color-extra-light: $border-color-light;
$--background-color-base: $color-bg-3;

/* Border-radius
-------------------------- */
$--border-radius-base: $border-radius;
$--border-radius-small: $border-radius;

/* Box-shadow
-------------------------- */
$--box-shadow-base: $shadow-2;
$--box-shadow-dark: $shadow-3;
$--box-shadow-light: $shadow-1;

/* Disable base
-------------------------- */
$--disabled-fill-base: $disabled-bg;
$--disabled-color-base: $disabled-color;
$--disabled-border-base: $disabled-border;

/* Link
-------------------------- */
$--link-color: $color-master;
$--link-hover-color: $color-master-hover;

/* Typography
-------------------------- */
$--font-size-base: $text-size;
$--font-size-small: $text-size;
$--size-base: $text-size;
$--font-color-disabled-base: $disabled-color;

/* Border
-------------------------- */
$--border-radius-base: $border-radius;
$--border-color-hover: $border-color-hover;

/* Button
-------------------------- */
$--button-font-weight: 400;

/* Input
-------------------------- */
$--input-background-color: $input-bg;
$--input-border: 1px solid $border-color;
$--input-hover-border: $input-hover-border;
$--input-focus-border: $input-active-border;
$--input-disabled-fill: $input-disabled-bg;
$--input-icon-color: $text-color-light;

/* Select
-------------------------- */
$--select-border-color-hover: $select-border-color-hover;
$--select-disabled-border: $select-disabled-border;

/* Checkbox
-------------------------- */
$--checkbox-disabled-icon-color: $disabled-color;
$--checkbox-disabled-checked-icon-color: $disabled-color;

/* Radiobox
-------------------------- */
$--radio-icon-color: $text-color-light;
$--radio-checked-icon-color: $text-color-light;
$--radio-disabled-icon-color: $disabled-color;
$--radio-disabled-checked-icon-color: $disabled-color;

/* Datepicker
-------------------------- */
$--datepicker-icon-color: $text-color-light;

/* Table
-------------------------- */
$--table-border-color: $table-border-color;
$--table-border: 1px solid $table-border-color;
// $--table-font-color: $--color-text-regular;
// $--table-header-font-color: $--color-text-secondary;
$--table-row-hover-background-color: $table-row-hover-background-color;
// $--table-current-row-background-color: $--color-primary-light-9;
$--table-header-background-color: $color-neutral-1;
$--table-fixed-box-shadow: $table-fixed-box-shadow;

/* Tree
-------------------------- */
$--tree-node-hover-background-color: $color-master-bg-light-2;
$--tree-expand-icon-color: $text-color-light;

/* Rate
-------------------------- */
$--rate-icon-color: $text-color-light;

/* Transfer
-------------------------- */
$--transfer-border-color: $border-color;
$--transfer-border-radius: $border-radius;
$--transfer-panel-header-height: $transfer-header-height;
$--transfer-panel-header-background-color: $transfer-header-bg;
$--transfer-item-height: $transfer-item-height;
$--transfer-filter-height: $transfer-filter-height;
$--transfer-panel-footer-height: $transfer-footer-height;

/* Collapse
-------------------------- */

$--collapse-header-height: $collapse-header-height;
$--collapse-header-background-color: $collapse-header-bg;
$--collapse-header-font-color: $--color-text-primary;
$--collapse-header-font-size: $text-size;
$--collapse-content-background-color: $collapse-content-background-color;
$--collapse-content-font-size: $text-size;
$--collapse-content-font-color: $text-color-light;

/* MessageBox
-------------------------- */
$--msgbox-border-radius: $border-radius;
$--messagebox-font-size: $text-size-lg;
$--msgbox-padding-primary: $padding-8x;

/* Message
-------------------------- */
$--message-close-icon-color: $text-color-light;

/* Notification
-------------------------- */
$--notification-title-font-size: $text-size;
$--notification-icon-size: $text-size-md;
$--notification-shadow: $shadow-3;
$--notification-width: 480px;
$--notification-radius: $border-radius;
$--notification-success-icon-color: $color-success;
$--notification-danger-icon-color: $color-danger;
$--notification-info-icon-color: $color-master;
$--notification-warning-icon-color: $color-warning;

/* Dialog
-------------------------- */
$--dialog-background-color: $color-bg-1;
$--dialog-box-shadow: $shadow-3;
$--dialog-title-font-size: $text-size-lg;
$--dialog-font-line-height: $line-height;
$--dialog-content-font-size: $text-size;

/* Timeline
-------------------------- */
$--timeline-node-color: $color-neutral-3;

/* Pagination
-------------------------- */
$--pagination-font-size: $pagination-font-size;
$--pagination-button-height: $pagination-height;
$--pagination-button-width: $pagination-button-width;
$--pagination-button-color: $pagination-button-color;

/* Icon
-------------------------- */
$--icon-color: $text-color-light;
$--icon-color-base: $text-color-light;

/* Icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

/* Apply overrided variables in Element UI */
@import '~element-ui/packages/theme-chalk/src/index';
