/* 重置 Element UI 变量
-------------------------- */

/* 主题色
-------------------------- */
$--color-primary: $color-master;
$--color-success: $color-success;
$--color-warning: $color-warning;
$--color-danger: $color-danger;
$--color-info: $color-info;

$--color-text-primary: $text-color;
$--color-text-regular: $text-color;
$--color-text-secondary: $text-color-light;
$--color-text-placeholder: $text-color-light-2;
$--border-color-base: $border-color;
$--border-color-light: $border-color-light;
$--border-color-lighter: $border-color-light;
$--border-color-extra-light: $border-color-light;
$--background-color-base: $color-bg-3;

/* Box-shadow
-------------------------- */
$--box-shadow-base: $shadow-2;
$--box-shadow-dark: $shadow-3;
$--box-shadow-light: $shadow-1;

/* Link
-------------------------- */
$--link-color: $color-master;
$--link-hover-color: $color-master-hover;

/* Typography
-------------------------- */
$--font-size-base: $text-size;
$--font-size-small: $text-size;
$--size-base: $text-size;
$--font-color-disabled-base: $disabled-color;

/* Border
-------------------------- */
$--border-radius-base: $border-radius;

/* Button
-------------------------- */
$--button-font-weight: 400;

/* Input
-------------------------- */
$--input-background-color: $input-bg;
$--input-border: 1px solid $border-color;
$--input-hover-border: $input-hover-border;
$--input-focus-border: $input-active-border;
$--input-disabled-fill: $input-disabled-bg;
$--input-icon-color: $text-color-light;

/* Select
-------------------------- */
$--select-border-color-hover: $select-border-color-hover;
$--select-disabled-border: $select-disabled-border;

/* Checkbox
-------------------------- */
$--checkbox-disabled-icon-color: $disabled-color;
$--checkbox-disabled-checked-icon-color: $disabled-color;

/* Radiobox
-------------------------- */
$--radio-icon-color: $text-color-light;
$--radio-checked-icon-color: $text-color-light;
$--radio-disabled-icon-color: $disabled-color;
$--radio-disabled-checked-icon-color: $disabled-color;

/* Datepicker
-------------------------- */
$--datepicker-icon-color: $text-color-light;

/* Table
-------------------------- */
$--table-border-color: $--border-color-lighter;
$--table-border: 1px solid $border-color;
// $--table-font-color: $--color-text-regular;
// $--table-header-font-color: $--color-text-secondary;
// $--table-row-hover-background-color: $--background-color-base;
// $--table-current-row-background-color: $--color-primary-light-9;
$--table-header-background-color: $color-neutral-1;
$--table-fixed-box-shadow: $shadow-1;

/* Tree
-------------------------- */
$--tree-node-hover-background-color: $color-master-bg-light-2;
$--tree-expand-icon-color: $text-color-light;

/* Rate
-------------------------- */
$--rate-icon-color: $text-color-light;

/* MessageBox
-------------------------- */
$--msgbox-border-radius: $border-radius;

/* Message
-------------------------- */
$--message-close-icon-color: $text-color-light;

/* Notification
-------------------------- */
$--notification-title-font-size: $text-size;
$--notification-icon-size: $text-size-md;
$--notification-shadow: $shadow-3;
$--notification-width: 480px;
$--notification-radius: $border-radius;
$--notification-success-icon-color: $color-success;
$--notification-danger-icon-color: $color-danger;
$--notification-info-icon-color: $color-master;
$--notification-warning-icon-color: $color-warning;

/* Timeline
-------------------------- */
$--timeline-node-color: $color-neutral-3;

/* Icon
-------------------------- */
$--icon-color: $text-color-light;
$--icon-color-base: $text-color-light;

/* Icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

/* Apply overrided variables in Element UI */
@import '~element-ui/packages/theme-chalk/src/index';
