/* Form
-------------------------- */
.el-form-item__label {
  padding-right: $padding-medium;
  color: $text-color-primary;
}

.el-form-item {
  margin-bottom: 24px;
}

.el-form-item__error {
  padding-top: 6px;
}

.el-form-item--medium {
  .el-form-item__label {
    line-height: 32px;
  }
}

.el-form--inline .el-form-item {
  margin-right: $margin-large;
}

.el-form-item--medium .el-form-item__content {
  line-height: 32px;
}

.el-form-item__error {
  display: flex;
  align-items: center;

  &::before {
    font-family: 'cute-icons';
    content: '\ea5c';
    color: $color-status-danger-1;
    font-size: 14px;
    vertical-align: top;
    margin-right: $margin-tiny;
  }
}

.el-form-item.is-error .el-input__inner {
  border: 1px solid $color-status-danger-1;
  background: $color-status-danger-2;
}
