/* Slider
-------------------------- */
.el-slider__marks-text {
  color: $text-color-light;
  min-width: 30px; //TODO
  text-align: center;
}

.el-slider__button {
  width: $common-sapce-10;
  height: $common-sapce-10;
}

.el-slider__marks-text {
  font-size: $text-size;
}

.el-slider__runway,
.el-slider__runway.show-input {
  width: 616px; //TODO
}

.el-slider__stop {
  border: 2px solid $color-white; //TODO
}
