/* Steps
-------------------------- */
/* $class:类名;
   $bdColor:边框颜色
   $color:字体颜色
   $bgColor:背景颜色
*/
@mixin steps-page($class: is-success,
  $bdColor: $color-master,
  $color: $color-master,
  $bgColor: $color-bg-2) {
  .el-step__head.#{$class} {
    border-color: $bdColor;
    color: $color;

    .el-step__icon.is-text {
      background-color: $bgColor;
    }
  }
}

@include steps-page();
@include steps-page(is-process, $color-master, $color-master, $color-white);

.el-step__icon-inner.is-status {
  transform: translateY(0px);
  font-size: $text-size-lg;
}

.el-step.is-horizontal .el-step__line {
  height: 0.5px; //TODO
}

.el-step__icon-inner {
  font-weight: normal;
}

.el-step__line {
  background-color: $color-grey-6; //rgba(0, 0, 0, 0.15);
}

.el-step__icon.is-text {
  border: 1px solid;
}

.el-step__title.is-process {
  font-weight: 400;
  color: $color-grey-1; //rgba(51, 51, 51, 0.85)
}

.el-step__title.is-success {
  color: $color-grey-2; //rgba(0, 0, 0, 0.65);
}

.el-step__head.is-process {
  border-color: $color-master;
}

.el-step__head.is-process .el-step__icon.is-text {
  color: $color-white;
  border-color: $color-master;
  background-color: $color-master;
}

.el-step__title.is-wait {
  color: $color-grey-4;
}

.el-step__title.is-success {
  color: $text-color-light;
}

.el-step.is-horizontal .el-step__line {
  left: 30px;//TODO
  right: $common-sapce-10;
}

.el-step.is-horizontal:last-child {
  flex-basis: auto !important;
}

.el-steps.max.el-steps--horizontal {
  .el-step__line {
    top: 15px;//TODO
    left: 38px;//TODO
  }

  .el-step__icon.is-text {
    width: $common-sapce-8x;
    height: $common-sapce-8x;
    font-size: $text-size-lg;
  }
}

.is-success .el-step__line-inner {
  display: block;
  border-width: 1px; //TODO
  border-style: solid;
  border-color: inherit;
  transition: 0.15s ease-out; //TODO
  box-sizing: border-box;
  width: 0;
  height: 0;
  background-color: $color-master;
}

.is-error .el-step__line-inner {
  display: block;
  border-width: 1px;//TODO
  border-style: solid;
  border-color: inherit;
  transition: 0.15s ease-out;
  box-sizing: border-box;
  width: 0;
  height: 0;
  background-color: $color-danger;
}

.stepSuc :hover {
  cursor: pointer;
}

.stepErr :hover {
  cursor: not-allowed;
}

.el-steps {
  .el-step__head.is-success > .el-step__line > .el-step__line-inner {
    width: 100% !important; //TODO
    border-width: 1px !important; //TODO
    border-bottom: 0px !important; //TODO
  }
}
