/* Switch
-------------------------- */
.el-switch + .el-switch {
  margin-left: 30px; //TODO
}

.small-switch {
  margin-left: $margin-8x;

  .el-switch__core {
    // width: 28px !important;
    height: $common-sapce-4x;
  }

  .el-switch__core::after {
    width: $common-sapce-3x;
    height: $common-sapce-3x;
    margin-top: 0px;
  }

  .el-switch.is-checked .el-switch__core::after {
    margin-left: -13px; //TODO
  }
}
