/* Tabs
-------------------------- */
.el-tabs__item {
  font-size: $text-size;
}

.el-tab-pane {
  color: $color-grey-1;
}

.el-tabs.el-tabs--card.el-tabs--top {
  .el-tabs__item {
    padding: 0px $padding-3x;
    height: $common-space-7x;
    line-height: $common-space-7x;
  }

  .el-tabs__item .el-icon-close {
    margin-left: $margin-2x;
  }

  .el-tabs__item.is-top:not(.is-closable).is-active {
    padding-left: $padding-3x;
  }

  .el-tabs__header .el-tabs__item {
    border-left: none;
  }

  .el-tabs__header .el-tabs__nav {
    border: none;
  }

  .el-tabs__item.is-top.is-active {
    border-top: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    transform: translateY(1px); //TODO
    border-bottom-color: $color-bg-2;
  }
}

.el-tabs__nav-wrap::after {
  height: 1px;
  background-color: $border-color;
}

.el-tabs--card > .el-tabs__header {
  border-bottom: 1px solid $border-color;

  .el-tabs__item.is-active.is-closable {
    padding: 0 $padding-10 0 $padding-3x;
  }
}
