/* 基础色盘
-------------------------- */

/* 橙 */
$orange-base: #fa8334;
$orange-1: #fef2ea;
$orange-2: #ffefe3;
$orange-3: #ffe1c6;
$orange-4: #fcc199;
$orange-5: #ff934c;
$orange-6: $orange-base;
$orange-7: #d46322;
$orange-8: #ad4713;
$orange-9: #872e08;
$orange-10: #611d05;

/* 天翼红 */
$red-base: #df0428;
$red-1: #ffe6e6;
$red-2: #ffa8ab;
$red-3: #ff8088;
$red-4: #f75464;
$red-5: #e32948;
$red-6: $red-base;
$red-7: #bd0322;
$red-8: #910022;
$red-9: #6b001d;
$red-10: #450015;

/* 宝石红 */
$ruby-base: #f5212d;
$ruby-1: #ffecec;
$ruby-2: #ffc9c4;
$ruby-3: #ffa4a3;
$ruby-4: #ff7573;
$ruby-5: #ff4a4d;
$ruby-6: $ruby-base;
$ruby-7: #cf1120;
$ruby-8: #ae050f;
$ruby-9: #820014;
$ruby-10: #5c0011;

/* 绿 */
$green-base: #52c41a;
$green-1: #edf9e8;
$green-2: #d9f7be;
$green-3: #a8e18c;
$green-4: #95de64;
$green-5: #73d13d;
$green-6: $green-base;
$green-7: #389e0d;
$green-8: #237804;
$green-9: #135200;
$green-10: #092b00;

/* 蓝 */
$blue-base: #1890ff;
$blue-1: #f3f9ff;
$blue-2: #badfff;
$blue-3: #91caff;
$blue-4: #69b8fe;
$blue-5: #40a3ff;
$blue-6: $blue-base;
$blue-7: #096dd9;
$blue-8: #0050b3;
$blue-9: #003a8c;
$blue-10: #002766;

/* 金 */
$gold-base: #faad15;
$gold-1: #fef6e7;
$gold-2: #ffe9b7;
$gold-3: #ffdf9e;
$gold-4: #fcd68a;
$gold-5: #ffbb3d;
$gold-6: $gold-base;
$gold-7: #d48806;
$gold-8: #ad6800;
$gold-9: #874d00;
$gold-10: #613400;

/* 中性色盘
-------------------------- */

/* 黑色 */
$black: #000;

/* 白色 */
$white: #fff;

/* 灰色 */
$grey-1: #333;
$grey-2: #666;
$grey-3: #777;
$grey-4: #999;
$grey-5: #aaa;
$grey-6: #ddd;
$grey-7: #f2f2f2;
$grey-8: #f3f3f3;
$grey-9: #f5f5f5;
$grey-10: #f8f8f8;
$grey-11: #fafafa;
