/* 基础色盘
-------------------------- */

/* 蓝(主题色) */
$blue-base: #3d73f5;
$blue-1: #08165c;
$blue-2: #08165c;
$blue-3: #0d2482;
$blue-4: #193ba8;
$blue-5: #2955cf;
$blue-6: $blue-base;
$blue-7: #699bff;
$blue-8: #91baff;
$blue-9: #bad6ff;
$blue-10: #e3efff;

/* 橙 */
$orange-base: #ff8f34;
$orange-1: #662304;
$orange-2: #662304;
$orange-3: #8c3607;
$orange-4: #b34f12;
$orange-5: #d96d21;
$orange-6: $orange-base;
$orange-7: #ffab5c;
$orange-8: #ffc485;
$orange-9: #ffdaad;
$orange-10: #ffeed6;

/* 天翼红 */
$red-base: #df0428;
$red-1: #450015;
$red-2: #450015;
$red-3: #6b001d;
$red-4: #910022;
$red-5: #b80025;
$red-6: $red-base;
$red-7: #eb2d46;
$red-8: #f75767;
$red-9: #ff828a;
$red-10: #ffabae;

/* 宝石红 */
$ruby-base: #ff4545;
$ruby-1: #660b17;
$ruby-2: #660b17;
$ruby-3: #8c111d;
$ruby-4: #b31e28;
$ruby-5: #d93035;
$ruby-6: $ruby-base;
$ruby-7: #ff736e;
$ruby-8: #ff9d96;
$ruby-9: #ffc6bf;
$ruby-10: #ffebe8;

/* 绿 */
$green-base: #27d68f;
$green-1: #013d2d;
$green-2: #013d2d;
$green-3: #036347;
$green-4: #0b8a5f;
$green-5: #17b078;
$green-6: $green-base;
$green-7: #4de3a2;
$green-8: #78f0b8;
$green-9: #a7fcd2;
$green-10: #d1ffe7;

/* 中性色盘
-------------------------- */

/* 黑色 */
$black: #000;

/* 白色 */
$white: #fff;

/* 灰色 */
$neutral-1: #333;
$neutral-2: #666;
$neutral-3: #353f58;
$neutral-4: #7c818c;
$neutral-5: #999;
$neutral-6: #d9d9d9;
$neutral-7: #e5e6e8;
$neutral-8: #e2e5ed;
$neutral-9: #eff1f4;
$neutral-10: #f7f8fa;
