/* 基础色盘
-------------------------- */

/* 蓝(主题色) */
$blue-base: #3967d6;
$blue-1: #202638;
$blue-2: #232f4f;
$blue-3: #293a63;
$blue-4: #2e4682;
$blue-5: #3357ac;
$blue-6: $blue-base;
$blue-7: #628fe9;
$blue-8: #8bb2f4;
$blue-9: #b5d1f8;
$blue-10: #dfebfb;

/* 橙 */
$orange-base: #de7f32;
$orange-1: #372921;
$orange-2: #4f3523;
$orange-3: #644329;
$orange-4: #85532b;
$orange-5: #b1692e;
$orange-6: $orange-base;
$orange-7: #e99d56;
$orange-8: #f4bc80;
$orange-9: #f8d4a9;
$orange-10: #fbead2;

/* 天翼红 */
$red-base: #c30927;
$red-1: #450015;
$red-2: #450015;
$red-3: #5a1925;
$red-4: #910022;
$red-5: #9d0f27;
$red-6: $red-base;
$red-7: #d72941;
$red-8: #f75767;
$red-9: #ff828a;
$red-10: #ffabae;

/* 宝石红 */
$ruby-base: #de4040;
$ruby-1: #372125;
$ruby-2: #4f2628;
$ruby-3: #642d2e;
$ruby-4: #853233;
$ruby-5: #b13939;
$ruby-6: $ruby-base;
$ruby-7: #e96b67;
$ruby-8: #f49790;
$ruby-9: #f8c1ba;
$ruby-10: #fbe7e4;

/* 绿 */
$green-base: #21b66e;
$green-1: #1d312b;
$green-2: #1e4435;
$green-3: #21563e;
$green-4: #21704b;
$green-5: #21935d;
$green-6: $green-base;
$green-7: #43cb85;
$green-8: #6de1a1;
$green-9: #9af1be;
$green-10: #c9fbdc;

/* 中性色盘
-------------------------- */

/* 黑色 */
$black: #000;

/* 白色 */
$white: #fff;

/* 灰色 */
$neutral-1: #292b2e;
$neutral-2: #34373a;
$neutral-3: #3f4345;
$neutral-4: #4b4f51;
$neutral-5: #535558;
$neutral-6: #737579;
$neutral-7: #a5a8ac;
$neutral-8: #b8babf;
$neutral-9: #c6c7cc;
$neutral-10: #fff;
