.dark_blue {
  --images-path: "~@cutedesign/ui/images";
  --color-master: #3967d6;
  --color-master-hover: #3357ac;
  --color-master-active: #628fe9;
  --color-master-disabled: #293a63;
  --color-master-bg: #293a63;
  --color-master-bg-light: #232f4f;
  --color-master-bg-light-2: #202638;
  --color-ct: #c30927;
  --color-ct-hover: #9d0f27;
  --color-ct-active: #d72941;
  --color-ct-disabled: #5a1925;
  --color-ct-bg: #450015;
  --color-info: #737579;
  --color-info-hover: #535558;
  --color-info-active: #626367;
  --color-info-disabled: #8f9194;
  --color-info-bg: #292b2e;
  --color-success: #21b66e;
  --color-success-hover: #21935d;
  --color-success-active: #43cb85;
  --color-success-disabled: #21563e;
  --color-success-bg: #1d312b;
  --color-warning: #de7f32;
  --color-warning-hover: #b1692e;
  --color-warning-active: #e99d56;
  --color-warning-disabled: #644329;
  --color-warning-bg: #372921;
  --color-danger: #de4040;
  --color-danger-hover: #b13939;
  --color-danger-active: #e96b67;
  --color-danger-disabled: #642d2e;
  --color-danger-bg: #372125;
  --color-fatal: #f8c1ba;
  --color-fatal-hover: #f49790;
  --color-fatal-active: #fbe7e4;
  --color-fatal-disabled: #b13939;
  --color-fatal-bg: #642d2e;
  --color-neutral-1: #292b2e;
  --color-neutral-2: #34373a;
  --color-neutral-3: #3f4345;
  --color-neutral-4: #4b4f51;
  --color-neutral-5: #535558;
  --color-neutral-6: #737579;
  --color-neutral-7: #a5a8ac;
  --color-neutral-8: #b8babf;
  --color-neutral-9: #c6c7cc;
  --color-neutral-10: #fff;
  --color-neutral-11: #fff;
  --color-white: #fff;
  --color-white-hover: #3f4345;
  --color-black: #000;
  --color-bg-1: #242528;
  --color-bg-2: #212224;
  --color-bg-3: #1a1c1d;
  --color-form-component-bg: #242528;
  --color-content-bg: #212224;
  --color-body-bg: #1a1c1d;
  --disabled-bg: #292b2e;
  --disabled-border: #535558;
  --disabled-color: #737579;
  --font-family: "Microsoft YaHei","PingFang SC","Helvetica Neue",Helvetica,Arial,STHeiTi,sans-serif,"-apple-system","BlinkMacSystemFont","Segoe UI","Hiragino Sans GB";
  --font-family-cute-icons: "cute-icons";
  --text-size: 12px;
  --text-size-sm: 12px;
  --text-size-md: 14px;
  --text-size-lg: 16px;
  --text-size-xl: 18px;
  --text-color: #fff;
  --text-color-light: #c6c7cc;
  --text-color-light-2: #737579;
  --text-color-disabled: #737579;
  --text-color-feature: #a5a8ac;
  --text-color-placeholder: #a5a8ac;
  --text-weight: normal;
  --text-title-weight: bold;
  --line-height: 1.5;
  --border-color: #535558;
  --border-color-hover: #c6c7cc;
  --border-color-light: #292b2e;
  --border-color-dark: #737579;
  --border-radius: 3px;
  --border-radius-md: 5px;
  --common-space: 4px;
  --common-space-2x: 8px;
  --common-space-3x: 12px;
  --common-space-4x: 16px;
  --common-space-5x: 20px;
  --common-space-6x: 24px;
  --common-space-7x: 28px;
  --common-space-8x: 32px;
  --common-space-9x: 36px;
  --common-space-10x: 40px;
  --common-space-6: 6px;
  --common-space-10: 10px;
  --padding: 4px;
  --padding-2x: 8px;
  --padding-3x: 12px;
  --padding-4x: 16px;
  --padding-5x: 20px;
  --padding-6x: 24px;
  --padding-7x: 28px;
  --padding-8x: 32px;
  --padding-9x: 36px;
  --padding-10x: 40px;
  --padding-6: 6px;
  --padding-10: 10px;
  --margin: 4px;
  --margin-2x: 8px;
  --margin-3x: 12px;
  --margin-4x: 16px;
  --margin-5x: 20px;
  --margin-6x: 24px;
  --margin-7x: 28px;
  --margin-8x: 32px;
  --margin-9x: 36px;
  --margin-10x: 40px;
  --margin-6: 6px;
  --margin-10: 10px;
  --shadow-1: 0 0 8px 0 rgba(0,0,0,.1);
  --shadow-2: 0 0 15px 0 rgba(0,0,0,.2);
  --shadow-3: 0 0 40px 0 rgba(0,0,0,.3);
  --shadow-form-item: 0 2px 2px 0 rgba(0,0,0,.2);
  --cute-layout-header-height: 50px;
  --cute-layout-header-logo-height: 22px;
  --cute-layout-header-sub-logo-height: 15px;
  --cute-layout-header-text-color: #fff;
  --cute-layout-header-bg: #292b2e;
  --cute-layout-header-border: #535558;
  --cute-layout-sidebar-width: 190px;
  --cute-layout-sidebar-bg: #242528;
  --cute-layout-sidebar-border: #3f4345;
  --cute-layout-sidebar-item-bg-hover: #292b2e;
  --cute-layout-sidebar-color-master: #3967d6;
  --cute-layout-sidebar-text-color: #fff;
  --cute-layout-sidebar-arrow-color: #c6c7cc;
  --header-input-bg: #34373a;
  --header-search-text-color: #a5a8ac;
  --tag-master: #202638;
  --tag-master-border: #3967d6;
  --tag-info: #292b2e;
  --tag-info-dark: #737579;
  --tag-info-border: #3f4345;
  --tag-info-text: #fff;
  --tag-success: #1d312b;
  --tag-success-border: #21b66e;
  --tag-warning: #372921;
  --tag-warning-border: #de7f32;
  --tag-danger: #372125;
  --tag-danger-border: #de4040;
  --tag-fatal: #642d2e;
  --tag-fatal-border: #f8c1ba;
  --tag-weak: #292b2e;
  --tag-weak-border: #737579;
  --tag-ct: #450015;
  --tag-ct-border: #c30927;
  --button-default-text-color: #fff;
  --button-default-text-color-disabled: #737579;
  --button-default-color-bg: #242528;
  --button-default-color-bg-disabled: #292b2e;
  --button-default-color-border: #535558;
  --button-default-color-border-disabled: #535558;
  --button-icon-color: #737579;
  --button-group-border: rgba(36,37,40,.5);
  --button-margin: 12px;
  --radio-checked-bg: #fff;
  --radio-group-color: #fff;
  --radio-group-bg: #3967d6;
  --radio-group-disabled-bg: #292b2e;
  --radio-group-border-color: #535558;
  --radio-group-border-disabled-color: #535558;
  --radio-group-border-disabled-bg: #293a63;
  --radio-width: 12px;
  --radio-label-width: 6px;
  --input-lg-padding: 0 24px;
  --input-md-padding: 0 16px;
  --input-sm-padding: 0 12px;
  --input-xs-padding: 0 12px;
  --cute-special-radio-size: 3px;
  --form-item-label-line-height: 32px;
  --form-item-content-line-height: 30px;
  --form-item-error-padding-top: 6px;
  --form-item-margin-bottom: 24px;
  --input-bg: #242528;
  --input-disabled-bg: #292b2e;
  --input-hover-border: #c6c7cc;
  --input-active-border: #3967d6;
  --input-xs-height: 24px;
  --input-sm-height: 24px;
  --input-md-height: 32px;
  --input-lg-height: 40px;
  --input-height: 32px;
  --input-prefix-padding: 36px;
  --input-suffix-padding: 36px;
  --select-border-color-hover: #c6c7cc;
  --select-disabled-border: #535558;
  --select-color: #3967d6;
  --select-color-disabled: #737579;
  --select-dropdown-bg: #242528;
  --select-tag-color: #737579;
  --select-tag-color-hover: #535558;
  --select-xs-height: 24px;
  --select-sm-height: 24px;
  --select-md-height: 32px;
  --select-lg-height: 40px;
  --range-editor-disabled-bg: #202638;
  --range-editor-multiple-bg: #202638;
  --range-editor-height: 24px;
  --range-editor-tags-size: 16px;
  --checkbox-label-size: 14px;
  --checkbox-bg: #242528;
  --checkbox-border: #3967d6;
  --checkbox-button: #202638;
  --checkbox-button-disabled: #292b2e;
  --checkbox-button-hover: #232f4f;
  --checkbox-button-disabled-select: #293a63;
  --table-header-bg: #292b2e;
  --table-cell-bg: #b8babf;
  --table-cell-padding-xs: 6px;
  --table-cell-padding-sm: 6px;
  --table-cell-padding-md: 10px;
  --table-cell-padding-lg: 12px;
  --table-cell-selection-line-height: 20px;
  --table-border-color: #3f4345;
  --table-sort-caret-bg: #737579;
  --table-fixed-box-shadow: 0px 2px 8px rgba(100,110,144,.2);
  --table-row-hover-background-color: #34373a;
  --table-filter-item-height: 32px;
  --pagination-bg: #292b2e;
  --pagination-button-color: #c6c7cc;
  --pagination-hover-color: #3967d6;
  --pagination-hover-bg: #1a1c1d;
  --pagination-active-color: #fff;
  --pagination-active-bg: #3967d6;
  --pagination-active-bg-disabled: #293a63;
  --pagination-font-size: 12px;
  --pagination-font-size-sm: 12px;
  --pagination-height: 24px;
  --pagination-height-sm: 24px;
  --pagination-button-width: 20px;
  --pagination-button-width-sm: 20px;
  --transfer-header-bg: #292b2e;
  --transfer-item-active-bg: #292b2e;
  --transfer-item-hover-bg: #292b2e;
  --transfer-footert-bg: #242528;
  --transfer-item-height: 32px;
  --transfer-header-height: 40px;
  --transfer-footer-height: 40px;
  --transfer-filter-input-height: 24px;
  --transfer-filter-input-margin: 10px;
  --transfer-filter-height: 34px;
  --tabs-master: #3967d6;
  --tabs-default-line-color: #3f4345;
  --switch-core-bg: #737579;
  --switch-core-bg-disabled: #535558;
  --switch-core-color: #242528;
  --switch-small-height: 16px;
  --switch-small-core-size: 12px;
  --tooltip-bg: #b8babf;
  --tooltop-text-color: #292b2e;
  --tooltip-light-bg: #242528;
  --tooltop-light-text-color: #c6c7cc;
  --notification-border-color: #292b2e;
  --upload-progress-bar-height: 2px;
  --upload-color: #3967d6;
  --upload-border-color: #535558;
  --upload-bg: #242528;
  --upload-bg-hover: #292b2e;
  --upload-font-size: 12px;
  --upload-tips-font-color: #a5a8ac;
  --upload-font-active-color: #fff;
  --upload-picture-card-size: 100px;
  --upload-picture-card-progress-circle-size: 72px;
  --upload-file-uploader-width: 320px;
  --upload-dragger-border-radius: 3px;
  --upload-dragger-text-color: #fff;
  --card-bg: #212224;
  --card-shadow: 0 0 8px 0 rgba(0,0,0,.1);
  --badge-content-padding: 5px;
  --date-panel-btn-size: 28px;
  --cascader-tag-bg: #292b2e;
  --cascader-tag-border: #535558;
  --cascader-tag-close-color: #fff;
  --cascader-tag-close-bg: #737579;
  --cascader-node-hover: #292b2e;
  --cascader-panel-bg: #242528;
  --collapse-border-color: #3f4345;
  --collapse-content-background-color: #242528;
  --collapse-header-bg: #292b2e;
  --collapse-header-arrow-color: #737579;
  --collapse-seperate-header-bg: #34373a;
  --collapse-header-height: 36px;
  --steps-bg-color: #212224;
  --steps-icon-bg: #3967d6;
  --dialog-header-border: #3f4345;
  --dialog-footer-bg: #292b2e;
  --icon-color: #737579;
  --loading-default-color: #292b2e;
  --loading-default-border: #535558;
  --alert-text-color: #a5a8ac;
  --alert-info-bg: #202638;
  --alert-success-bg: #1d312b;
  --alert-warning-bg: #372921;
  --alert-danger-bg: #372125;
  --alert-weak-bg: #292b2e;
  --slider-stop-color: #3f4345;
  --slider-stop-border-color: #fff;
  --slider-height: 4px;
  --cute-slider-size: 14px;
  --cute-slider-text-color: #fff;
  --cute-slider-bg: #34373a;
  --cute-slider-line-color: #3967d6;
  --cute-slider-disabled-border: #535558;
  --cute-slider-btn-bg: linear-gradient(to bottom, #fff, #232f4f);
  --cute-slider-btn-width: 17px;
  --cute-slider-btn-height: 22px;
  --cute-slider-btn-color: #3357ac;
  --cute-slider-bg-disabled: #535558;
  --cute-slider-btn-color-disabled: #293a63;
  --transition-time: 200ms;
  --zindex-badge: auto;
  --zindex-normal: 1;
  --zindex-table-fixed: 2;
  --zindex-affix: 10;
  --zindex-fixed-component: 9;
  --zindex-layout-sidebar: 10;
  --zindex-modal: 1000;
  --zindex-modal-mask: 1000;
  --zindex-message: 1010;
  --zindex-notification: 1010;
  --zindex-popover: 1030;
  --zindex-dropdown: 1050;
  --zindex-picker: 1050;
  --zindex-popoconfirm: 1060;
  --zindex-tooltip: 1070;
  --zindex-image: 1080;
  --zindex-layout-header: 1999;
  --zindex-loading-mask: 2000;
  --screen-lg: 1280px;
  --chart-color-1: #91c6f5;
  --chart-color-2: #8cd4ca;
  --chart-color-3: #e8d065;
  --chart-color-4: #fdac6f;
  --chart-color-5: #a39df7;
  --chart-color-6: #8ed8f3;
  --chart-color-7: #ffab9a;
  --chart-color-8: #78a1da;
  --chart-color-9: #fa7175;
  --chart-color-10: #93c2bb;
  --chart-color-11: #81dbe3;
  --chart-color-12: #f48fb4;
  --chart-color-h-1: #9fd9ff;
  --chart-color-h-2: #9ae9de;
  --chart-color-h-3: #ffe46f;
  --chart-color-h-4: #ffbd7a;
  --chart-color-h-5: #b3acff;
  --chart-color-h-6: #9cedff;
  --chart-color-h-7: #ffbca9;
  --chart-color-h-8: #84b1ef;
  --chart-color-h-9: #ff7c80;
  --chart-color-h-10: #a1d5cd;
  --chart-color-h-11: #8df0f9;
  --chart-color-h-12: #ff9dc6;
}