$color-bg-1: #242528 !default;
$color-bg-2: #212224 !default;
$color-bg-3: #1a1c1d !default;

$shadow-1: 0 0 8px 0 rgba(0, 0, 0, 10%) !default;
$shadow-2: 0 0 15px 0 rgba(0, 0, 0, 20%) !default;
$shadow-3: 0 0 40px 0 rgba(0, 0, 0, 30%) !default;
$shadow-form-item: 0 2px 2px 0 rgba(0, 0, 0, 20%) !default;

$cute-layout-header-bg: $neutral-1 !default;
$cute-layout-header-border: $neutral-5 !default;
$header-input-bg: $neutral-2 !default;
$header-search-text-color: $neutral-7 !default;
